<form action="/checkout" method="post" id="cart_form">
        <!-- Cart item -->
  <div class="row">
    <div class="cartClientsection">
          <div class="container-table-cart pos-relative" >
            <div class="wrap-table-shopping-cart bgwhite">
              <table class="table-shopping-cart">
                <tr class="table-head ">
                  <th class="column-1"><span class="itemCount">{{cart.item_count}}</span>items  </th>
                  <th class="column-2">&nbsp;</th>
                  <th class="column-3">price</th>
                  <th class="column-4">Quantity</th>
                  <th class="column-5">subtotal</th>
                </tr>
                {% for item in cart.items %}
                  {% if item.product.handle == all_products[settings.free_gift].handle %}
                    {% assign has_fg = 'true' %}
                  {%endif%}
                  <tr class="table-row" data-line="{{ forloop.index }}" data-item_product_id="{{ item.product_id | json }}">
                    <td class="column-1">
                      <div class="cart-img-product b-rad-4 o-f-hidden" >
                        <a href="{{ item.url }}">
                          <img src="{{ item | img_url: '90x120' }}"  alt="{{ item.title | escape }}" title="{{ item.title | escape }}" class="" />
                        </a>
                      </div>
                    </td>
                    <td class="column-2">
                      <a href="{{ item.url }}">{{ item.product.title }}</a>
                      {% unless item.variant.title contains 'Default' %}
                         
                          <small>{{ item.variant.title }}</small>
                      {% endunless %}
                      {% assign current_variant = item.product.selected_or_first_available_variant %}

                       {% unless current_variant.available %}
                          <div id="variantQuantity" class="less-in-stock">
                            {% if item.product.metafields.bookthatapp.config %}
              				{% else %}
                                Out Of Stock!
                            {% endif %}
                              </div>
                      {% else %}
                        {% if current_variant.inventory_quantity > 25 %}
                              <div id="variantQuantity" class="in-stock">
                                {% if item.product.metafields.bookthatapp.config %}
              					{% else %}
                                In Stock
                      			{% endif %}
                      </div>
                        {% endif %}

                        {% if current_variant.inventory_quantity < 25 %}
                              <div id="variantQuantity" class="less-in-stock">
                                {% if item.product.metafields.bookthatapp.config %}
              					{% else %}
                                Only {{ current_variant.inventory_quantity }} Left in stock - order soon
                      			{% endif %}        
                      </div>
                        {% endif %}

                      {% endunless %}

                      {% if settings.product_quantity_message and item.variant.inventory_management and item.variant.inventory_quantity <= 0 and item.variant.incoming %}
                          {% assign date = item.variant.next_incoming_date | date: format: 'month_day_year' %}
                        
                          <small>{{ 'products.product.will_not_ship_until' | t: date: date }}</small>
                      {% endif %}

                      {% assign property_size = item.properties | size %}
                      {% if property_size > 0 %}
                       
                      {% for p in item.properties %}
                            {% if forloop.first %}{% endif %}
                            {% unless p.last == blank or p.first == "subscription_id" or p.first == "shipping_interval_frequency" or p.first == "shipping_interval_unit_type" %}

                                {% if p.last contains '/BoxImages/' or p.last contains '/uploads/' %}
                                <a href="{{ p.last }}" target="_blank" class="cartPropLink">
                                  <h6 class="no_need_to_show">
                                  {{ p.first }}:
                                  </h6>

                                  {% if p.first contains '_boxImage' %}
                                  <div class="boxImgCard  _boxImage">
                                    <div class="Img">
                                      <!--<img class="boxImg" src="{{ p.last }}" />-->
                                      <span class="flex-c-m sizefull bg1 hov1 hvr-wobble-horizontal preview_giftbox">Preview Giftbox</span>
                                    </div>
                                    <div class="ImgTitle">
                                      {% comment %} {{ p.last | split: '/' | last }} {% endcomment %}
                                    </div>
                                  </div>
                                  {% endif %}

                                  {% if p.first contains '_bxProof' %}
                                  <div class="boxImgCard  _bxProof">
                                    <div class="Img">
                                      <img class="boxImg" src="{{ p.last }}" />
                                    </div>
                                    <div class="ImgTitle">
                                      {% comment %} {{ p.last | split: '/' | last }} {% endcomment %}
                                    </div>
                                  </div>
                                  {% endif %}

                                </a>
                                {% else if p.last contains '_bxMsg' %}



                                  {% if p.first contains '_boxImage' or p.first contains '_bxProof' %}	

                                  {% else  %}
                                  <div class="cartPropLinkMsg">
                                    <div class="boxImgCard">{{ p.last }}</div>
                                  </div>
                                  {% endif %}
								{% else %}
                      				<div data="{{ p | json}}"></div>
                                {% endif %}
                            {% endunless %}
                      		{% assign first_character_in_key = p.first | truncate: 1, '' %}
 {% unless p.last == blank or first_character_in_key == '_' %}
                      <div class="props">
                      {% if p.first == 'shipping_interval_frequency'%}
                      Ships every:
                      {% endif %}
                      
                      {% if p.first == 'shipping_interval_unit_type'%}
                      
                      {% endif %}
 
 {% if p.last contains '/uploads/' %}
 <a class="lightbox" href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
  {% else %}
 {{ p.last }}
 {% endif %}
                      </div>
                        
 {% endunless %}
                        {% endfor %}
                      
                      {% endif %}
                      
                      
                      
                    </td>
                    
                    <td class="column-3">
                      <span class="money originalPrice">
                          
                          {% if settings.hide_cents %}
                          {{ item.price | money | remove: '.00' }}
                           {% else %} 
                          {{ item.price | money }}
                          {% endif %}
                      </span>
                    </td>
                    <td class="column-4">   
                      {% unless item.product.tags contains 'hideproduct' %}
                        <div style="display: inline-flex">

                          <input type="hidden" value="{{ item.id }}" id="productid_{{ item.id }}">
                          
						 {% if item.quantity == 1 %}	
                          <button type="button" did="{{ item.id }}" class="btn_cart_down color1 flex-c-m size7 eff2">
                            <span><i class="fa fa-trash-o cart_trash"></i></span>
                          </button>
						  {% else %}
                          
                          <button type="button" did="{{ item.id }}" class="btn_cart_down color1 flex-c-m size7 eff2">
                            <span>-</span>
                          </button>
                          
						  {% endif %}	
                          
                          

                          {% if item.product.metafields.bookthatapp.config %}
                           <input class="t-center num-product" type="number" value="{{ item.quantity }}">
                            <input type="hidden" name="updates[{{item.id}}]" id="updates_{{ item.id }}" value="{{ item.quantity }}" class="updates_input_bookthat_app" />
                          {% else %}
                            <input type="number"  did="{{ item.id }}" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" class="m-text18 t-center num-product" data-line="{{ forloop.index }}">
                          {% endif %}

                          <button type="button" did="{{ item.id }}" class="btn_cart_up color1 flex-c-m size7 eff2">
                            <span>+</span>
                          </button>
                        </div>
                      {%else%}
                          <button type="button" onclick="cart.remove('{{ item.variant_id }}');" title="Remove" class="btn  btn-xs" >
                            <i class="fa fa-trash-o cart_trash"></i>
                        </button>
                      {% endunless %}
                    </td>
                    <td class="column-5">
                      <span class="money subTotalPrice">
                          {% if settings.hide_cents %}
                          {{ item.line_price | money | remove: '.00' }}
                           {% else %} 
                          {{ item.line_price | money }}
                          {% endif %}
                      </span>
                    </td>


                  </tr>
                
                {% endfor %}
              </table>
            </div>
          </div>
          
    </div>
       
       
	<div class="totalPricesidebar">
  		<div class=" w-size26 p-l-40 p-r-40 p-t-10 p-b-85 m-t-20 m-r-0 m-l-auto p-lr-15-sm cart-sec-chkout-box" >
          <div id="ShopifyKlarnaOnSiteMessagingAppElement"></div>	
              <!--  -->
              {% if cart.total_discounts > 0 %}
             {% if settings.hide_cents %}		
              {% assign savings = cart.total_discounts | money | remove: '.00'  %}
               {% else %} 
                 {% assign savings = cart.total_discounts | money %}
                    {% endif %}
              <div class="flex-w flex-sb-m p-b-12">
                <span class="s-text18 w-size19 w-full-sm">
                  {{ 'cart.general.discount' | t }}:
                </span>
                <span class="m-text21 w-size20 w-full-sm money">
                  {{ 'cart.general.savings_html' | t: price: savings }}
                </span>
              </div>
              {% endif %}
 
              <div class="flex-w flex-sb-m p-t-10 p-b-20 relative-parent">
                
	            <span class="m-text22 w-size19 w-full-sm cart_total_t">
                  {{ 'cart.general.subtotal' | t }}:
                </span>
                <span class="m-text21 w-size20 w-full-sm cart_total_txt money">
                  
                  

                   {% if settings.hide_cents %}	
                  {{ cart.total_price | money | remove: '.00' }}
                   {% else %} 
                  {{ cart.total_price | money }}
                    {% endif %}
                </span>
              </div>
              <div>
              {% if cart.total_price >= free_shipping_threshold %}
				
                <div class="flex-w flex-sb-m p-b-20" id="{{maxprice}}">
                  <span class="m-text22 w-size19 w-full-sm cart_total_t">
                    Free Shipping:
                  </span>
                  <span class="m-text21 w-size20 w-full-sm cart_total_txt">
                    $0
                  </span>
                  </div>
              {% endif %}  
              </div>
              {% if cart.total_price >= free_shipping_threshold %}
              <div class="choose-option">
                  <h4>{{ section.settings.deliveroptions }}</h4>
<!--                   {{'now' | date: '%d %m %Y' }} -->
<!--                   {{ "now" | date: "%s" | plus: 864000 | date: "%b %d, %Y" }} -->
                  
                  <div class="choose-info">
                      <input type="radio" checked class="radio-choose">
                      <span class="free-deliver">{{ section.settings.freedelivery }}</span>
                      <span class="get-by">
                        <img src="{{ 'delivery.png' | asset_url }}">
                          Get your scarves by
<!--                             {{'now' | date: '%b. %d' }} + -->
<!--                             {{'now' | date: '%B' }}  {{ "now" | date: "%s" | plus: 172800 | date: "%d" }}-{{ "now" | date: "%s" | plus: 604800 | date: "%d" }} -->
                        
                        {{ "now" | date: "%s" | plus: 172800 | date: "%A" }}
                        {{ "now" | date: "%s" | plus: 172800 | date: "%B" }}
                        {{ "now" | date: "%s" | plus: 172800 | date: "%d" }}
                        
                        -
                        {{ "now" | date: "%s" | plus: 604800 | date: "%A" }}
                        {{ "now" | date: "%s" | plus: 604800 | date: "%B" }}
                        {{ "now" | date: "%s" | plus: 604800 | date: "%d" }}
                      </span>
                  </div>
                	
              </div>
              {% endif %}
          		
              <div class="size15 trans-0-4">
                
				<!--<button onclick="document.getElementById('cart_form').submit(); return false;" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 hvr-wobble-horizontal">
                  {{ 'cart.general.proceed_checkout' | t }}
                </button>-->
                
                <a href="/checkout" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 hvr-wobble-horizontal checkout_button">
                  Proceed to checkout <img src="{{ 'arrow.png' | asset_url }}"> 
                </a>
                
                
                {% if additional_checkout_buttons %}
                	{% comment %}
                		{{ content_for_additional_checkout_buttons }}
                    {% endcomment %}
                	<span class="additional-checkout-buttons">
                		<div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
                	</span>
                {% endif %}

              </div>
            </div>
      		
      		
  		
    </div>
    
  </div>
</form>

<style>
  .boxImgCard {
    width: 100%;
    height: auto;
    float:left;
}
.Img img {
    width: 100%;
    min-width: 90px;
    float: left;
    height: 90px;
    max-width: 90px;
}
  .ImgTitle {
    font-weight: 600;
    text-transform: capitalize;
    text-align: left;
}
  a.cartPropLink {
    cursor: pointer;
}
  .cartPropLink {
    width: auto;
    float: left;
    padding: 10px;
}
@media (max-width:767px){
.table-shopping-cart .m-column-1 {
   vertical-align: top;
}
.table-shopping-cart .m-column-2 {
   padding-right: 5px;
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}
table.table-shopping-cart tr {
   border-bottom: 1px solid #ccc;
}
}
  .no_need_to_show{
  	display:none;
  }
  .preview_giftbox{
  color:#fff;
    padding:10px;
  }
</style>