<style>
#product_customizer_parent .checkbox {
	    z-index: 11 !important;
	}  
@media only screen and (max-width: 767px){
	#product_customizer_parent .checkbox {
	    margin-bottom: 16px !important;
	}
}
  
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm)
{
  textarea[autocapitalize='off'] {
  	white-space: nowrap !important;
  }
}

  @media (max-width:767px){
    .slick-dots {
       bottom: -25px !important;
    }
    #canvas_errors{
      bottom: 0px !important;
    }
  }
  /*canvas.upper-canvas{
  	cursor: text !important;
  }*/
/* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
/* Slider */
  #product_customizer_slider .slick-slide {
    min-height: 750px;
    
}
.message1 input {
    display: none;
}  
  .message2.opened {
    display: block;
    -webkit-animation: fin 0.6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fin 0.6; /* Firefox < 16 */
        -ms-animation: fin 0.6; /* Internet Explorer */
         -o-animation: fin 0.6; /* Opera < 12.1 */
            animation: fin 0.6s;
}
  
@keyframes fin {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fin {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fin {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fin {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fin {
    from { opacity: 0; }
    to   { opacity: 1; }
}
  
  #custom_message{
    width: 100%;
    
    margin-top: 10px;
    resize:none;
  }
  .slick-dots li.slick-active button:before {
    opacity: 0 !important;
    color: transparent !important;
    background-color: transparent !important;
}

   .slider {
  max-width: 1000px;
  margin: 0 auto;
}
.slick-slide {
  margin: 0 5px;
}
.slick-list {
  margin: 0px -5px 0px -5px;
}
button.slick-next, button.slick-next:hover {
  position: absolute;
  top: 41%;
  right: 54px;
  width: 47px;
  height: 75px;
  background-image: url("{{ 'left-right-arrow.png' | asset_url }}");
  background-size: 95px;
}
button.slick-prev, button.slick-prev:hover {
  position: absolute;
  top: 41%;
  left: 15px;
  z-index: 1;
  width: 47px;
  height: 75px;
  background-image: url("{{ 'left-right-arrow.png' | asset_url }}");
  background-size: 95px;
      background-position-x: right;
}
.slick-prev:before, .slick-next:before {
  font-size: 70px;
  color: #EA8496;
  line-height: inherit;
  font-weight: bold;
}
.slider img {
  height: 324px;
}
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('{{ 'ajax-loader.gif' | asset_url }}') center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
    font-weight: bold;
    font-size: 20px;
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: relative;
    bottom: 50px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

  .slick-slide img{
    width:100%;
    overflow:hidden;
  }
  .msg_p{
    cursor:pointer;
  }
.messagesdiv {
    border: 1px solid black;
    margin-bottom: 4px;
}
.msg_radio {
    margin-left: 5px;
    margin-right: 10px;
}
.message1 {
    border-bottom: 1px solid;
    background: #ccc;
    padding-left: 2%;
  	padding-right: 2%;
  	padding-top: 1%;
  	padding-bottom: 1%;
    cursor: pointer;
    width:100%;
    font-size:16px;
    margin-bottom:0px;
}

.msg_p {
    color: #000;
}

.message2 {
    padding-left: 2%;
  	padding-right: 2%;
    display: none;
}

.input_p {
    margin-left: 10px;
  	margin-right: 10px;
    color: #000;
}

.input_p label {
    cursor: pointer;
}
  
  
  #MyCanVasModal .modal-dialog {
    max-width: 50%;
    margin-left: 0px;
    height: 100%;
    top: 0px !important;
    margin-top: 0px !important;
    border-radius: 0px !important;
}
  
  .btn-addcart-product-detail {
    height: auto !important;
}
  #mycanvas {
    width: 100%;
    
    /*height:450px !important;
    margin-bottom:50px;*/
}
  #product_customizer {
    
    margin-bottom: 15px;
}
 

canvas#canvas{
    position: relative !important;
    max-width: 100% !important;
    /*width: 400px !important;
  	height:400px !important;*/
  	
}
  

  
@media only screen and (min-width:768px){
  
  canvas.upper-canvas {
    /*position: relative !important;*/
    /*max-width: 100% !important;
    width: 100% !important;
  	height:800px !important;*/
    /*margin-top: -750px !important;*/
}
  
  .canvas-container {
    /*max-width: 100% !important;
    height:800px !important;*/
    text-align:center !important;
    margin-left:-60px;
    
    
}
  
}
  
  @media only screen and (max-width:320px){
    #product_customizer_slider {
      margin-top: 10px;
      max-height: 450px !important;
      margin-bottom: 0px;
	}
    
    canvas.upper-canvas {
    	/*margin-top: -450px!important;*/
    	/*height:450px!important;*/
      	/*position:relative !important;*/
	}
    canvas#canvas{
    /*position: relative !important;*/
    max-width: 100% !important;
    
	}
  
  }
  
  @media only screen and (max-width:360px){
    #product_customizer_slider {
      margin-top: 10px;
      /*max-height: 400px !important;*/
      margin-bottom: 0px;
	}
    
    canvas.upper-canvas {
    	/*margin-top: -400px!important;
    	height:400px!important;
      	position:relative !important;*/
	}
    canvas#canvas{
    /*position: relative !important;
    max-width: 100% !important;*/
    
	}
  
  }
  
  @media only screen and (max-width:767px){
    
    .msg_p a {
    font-size: 12px;
}
    
    #product_customizer_slider .slick-slide {
    min-height: auto;
    margin:0px;
}
    #product_customizer_slider {
    margin-top: 10px;
    /* max-height: 400px !important; */
    margin-bottom: 0px;
     
}
  .wrap-slick3-dots .slick-slide .responsive-image__wrapper, #product_customizer_slider_dots .slick-slide .slide-content-dot{
    margin: 0 auto !important;
}
    #product_customizer_slider_main{
     padding: 10px;
    }
    .message2 p.input_p {
      text-align: left;
    }
    #product_customizer .checkbox label {
      text-align: left;
    }

    .canvas-container{
      margin-left: 0px !important;
      width:100% !important;
      text-align: center !important;
    }
    canvas.upper-canvas{
      width:100% !important;
    }
   
  }
  
  #product_customizer_slider .slick-dots li button {
   display: block !important;
   height: 15px !important;
   padding: 0px !important;
   cursor: pointer !important;
   color: #ccc !important;
   margin: 0px !important;
   border-radius: 50px !important;
   width: 15px !important;
   background: #ccc !important;
}
#product_customizer_slider .slick-dots li.slick-active button {
   background: #777 !important;
}
  #product_customizer_slider button.slick-arrow {
background-size: 40px;
background-repeat: no-repeat;
width: 20px;
}
  #product_customizer_slider button.slick-prev.slick-arrow{
	left:10px;
}

#product_customizer_slider button.slick-next.slick-arrow{
	right:10px;
}
  #product_customizer_slider {
    margin-top: 10px;
 
}
  #canvas_errors {
    background: #254025;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    bottom: 50px;
    position: relative;
    border-radius: 4px;
    display:none;
}
</style>


<div id="product_customizer_slider" style="display:none;">
  
  
  
  <div class="slick-carousel" id="product_customizer_slider_main" >
  
  
  <div class="slider_item"><div class="slide-content"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '1-giftbox-Box-Mockup.png' | asset_url }}" /></div></div>
  
  <div class="slider_item"><div class="slide-content"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '2-giftbox-Both-Boxes.JPG' | asset_url }}" /></div></div>
  <div class="slider_item"><div class="slide-content"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '3-giftbox-image.JPG' | asset_url }}" /></div></div>
  <div class="slider_item"><div class="slide-content"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  data-src="{{ '4-giftbox-Luxury-Box.jpg' | asset_url }}" /></div></div>
  <div class="slider_item"><div class="slide-content"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '5-giftbox-Close-up-Luxury-Box.jpg' | asset_url }}" /></div></div>
  <div class="slider_item"><div class="slide-content"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '6-giftbox-Side-Close-up-Luxury-Box.jpg' | asset_url }}" /></div></div>
  <div class="slider_item"><div class="slide-content"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '7-giftbox-Family-mockup.png' | asset_url }}" /></div></div>
  
  <div class="slider_item">
    <div class="slide-content">
    	<div class="mycanvas" id="mycanvas" >
      		<canvas id="canvas" ></canvas>
        
        </div>
      	
    </div>
  </div>
  </div>
  
  
  
<div class="slick-carousel" id="product_customizer_slider_dots" >

  
  <div class="slider_dot"><div class="slide-content-dot"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '1-giftbox-Box-Mockup_110x.png' | asset_url }}" /></div></div>
  <div class="slider_dot"><div class="slide-content-dot"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '2-giftbox-Both-Boxes_110x.JPG' | asset_url }}" /></div></div>
  <div class="slider_dot"><div class="slide-content-dot"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '3-giftbox-image_110x.JPG' | asset_url }}" /></div></div>
  <div class="slider_dot"><div class="slide-content-dot"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  data-src="{{ '4-giftbox-Luxury-Box_110x.jpg' | asset_url }}" /></div></div>
  <div class="slider_dot"><div class="slide-content-dot"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '5-giftbox-Close-up-Luxury-Box_110x.jpg' | asset_url }}" /></div></div>
  <div class="slider_dot"><div class="slide-content-dot"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '6-giftbox-Side-Close-up-Luxury-Box_110x.jpg' | asset_url }}" /></div></div>
  <div class="slider_dot"><div class="slide-content-dot"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ '7-giftbox-Family-mockup_110x.png' | asset_url }}" /></div></div>
  <div class="slider_dot">
    <div class="slide-content-dot">
    	<img class="lazyload" src="{{ 'gift_canvas.png' | asset_url }}">   	
    </div>
  </div>
</div>

  
</div>

<div id="product_customizer_parent">
  <!--<input type="hidden" name="variant" value="31224069324894">
	<input type="hidden" name="variant" value="31224069619806">-->
  <div class="checkbox">
    <label for="add_check"><input type="checkbox" class="add_check" id="add_check" name="variantId" value="31224069324894">
      {% assign gift_box = all_products["luxury-gift-box"] %}                       
                              
      <span>Add {{ gift_box.title }} ({{ gift_box.price | money | remove: '.00' }})</span>
    </label>
  </div>
  
  {% if section.settings.custom_message %}
  {% assign customized_message = all_products["message-to-box"] %}
  <div id="product_customizer">
    <div class="checkbox" style="display: none;">
      <label for="show_message">
        <input type="checkbox" class="show_message" id="show_message" name="variantId" value="31224069619806">
        <span>Add {{ customized_message.title }}({{ customized_message.price | money | remove: '.00' }})</span>
      </label>
    </div>
    <div class="image_container" style="display:none">
      <div class="messagesdiv">
        <label for="birthday" class="message1">
          
            
               <input type="checkbox" class="msg_p" name="birthday" id="birthday"> BIRTHDAY
            
          
        </label>
        <div class="message2">
          <p class="input_p">
            <label for="1">
              <input class="msg_radio" id="1" value="May you be surrounded by beauty and filled with happiness on your special day and every day. Happy Birthday!" name="radio_msg" type="radio">May you be surrounded by beauty and filled with happiness on your special day and every day. Happy Birthday!
            </label>
          </p>
          <p class="input_p">
            <label for="2">
              <input class="msg_radio" id="2" value="Happy Birthday! As you turn over a new year, I hope you always have the courage to pursue your goals and dream big dreams." name="radio_msg" type="radio">Happy Birthday! As you turn over a new year, I hope you always have the courage to pursue your goals and dream big dreams.            
            </label>
          </p>
          <p class="input_p">
            <label for="3">
              <input class="msg_radio" id="3" name="radio_msg" value="Happy Birthday! To one of the most amazing people I know, each year your star shines brighter and brighter." type="radio">
              Happy Birthday! To one of the most amazing people I know, each year your star shines brighter and brighter.
            </label>
          </p>
        </div>
      </div>
      <div class="messagesdiv">
        <label for="christmas" class="message1">
          
          <input type="checkbox" class="msg_p" name="christmas" id="christmas">
          
            
             CHRISTMAS
          
        </label>
        <div class="message2">
          <p class="input_p">
            <label for="4">
              <input class="msg_radio" id="4" value="Sending you the warmest wishes this Christmas and a Happy New Year!" name="radio_msg" type="radio">Sending you the warmest wishes this Christmas and a Happy New Year!
            </label>
          </p>
          <p class="input_p">
            <label for="5">
              <input class="msg_radio" id="5" value="Wishing you a bright and cheery holiday season this Christmas and into the New Year!" name="radio_msg" type="radio">Wishing you a bright and cheery holiday season this Christmas and into the New Year!</label>
          </p>
          <p class="input_p">
            <label for="6">
              <input class="msg_radio" id="6" value="May you enjoy all the peace and happiness of this holiday season." name="radio_msg" type="radio">May you enjoy all the peace and happiness of this holiday season.
            </label>
          </p>
        </div>
      </div>
      <div class="messagesdiv">
        <label for="anniversary" class="message1" >
          
            <input type="checkbox" class="msg_p" name="anniversary" id="anniversary">
          
          ANNIVERSARY
          
        </label>
        <div class="message2">
          <p class="input_p">
            <label for="7">
              <input class="msg_radio" id="7" name="radio_msg" value="I’m so happy to celebrate another wonderful year with you and look forward to many more to come. Happy Anniversary!" type="radio">
              I’m so happy to celebrate another wonderful year with you and look forward to many more to come. Happy Anniversary!
            </label>
          </p>
          <p class="input_p">
            <label for="8" >
              <input class="msg_radio" id="8" value="To an amazing wife, mother, and best friend. Choosing you was the best decision I’ve ever made. Thank you for making each day magic. Happy Anniversary!" name="radio_msg" type="radio">
              To an amazing wife, mother, and best friend. Choosing you was the best decision I’ve ever made. Thank you for making each day magic. Happy Anniversary!
            </label>
          </p>
        </div>
      </div>
      <div class="messagesdiv">
        <label for="custom_message_label" class="message1">
          
          <input type="checkbox" class="msg_p" name="custom_message_label" id="custom_message_label">
          
            CUSTOM MESSAGE
          
        </label>
        <div class="message2">
          <textarea maxlength="250" rows="7" id="custom_message" placeholder="Custom Box Message"></textarea>
          <br>
          <span class="err">Maximum Word Count 250 Characters</span>
          
          <button type="button" id="add_btn" style="display:none;">Add Text</button>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <script>
    window.only_giftbox_is_enabled = true;
  </script>
  {% endif %}
</div>



<script>
  var _price = parseInt('{{ product.price }}');
                        
(function() {
    
    var window_width = window.innerWidth;
    
    
    if(window_width<767){
      
      	var AddBtn = document.getElementById("xmain_btn_mobile");
      	var product_gallery = document.getElementById("product_gallery");
      
    }else{
    	var AddBtn = document.getElementsByName("add")[0];
      	/*var AddBtn = document.getElementById("product_gallery");*/
      	var product_gallery = document.getElementById("product_gallery");
      
    }
  
  	var product_customizer_parent = document.getElementById("product_customizer_parent");
    
    var product_canvas = document.getElementById("product_customizer_slider");
    
    var move_canvas = product_canvas;
	product_canvas.remove();
	var product_customizer = product_customizer_parent;

	product_customizer_parent.remove();
  	/*var AddBtn = document.getElementsByName("add")[0];*/
  	AddBtn.parentElement.prepend(product_customizer);
    product_gallery.parentElement.append(move_canvas);
  
})();
</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.1.0/fontfaceobserver.js"></script>
<!--<script defer="" src="//cdn.shopify.com/s/files/1/0257/0449/7224/t/2/assets/sweetalert.min.js"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.6.0/fabric.js"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.0.0/fabric.js"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.5.0/fabric.min.js"></script>-->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.5.0/fabric.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>-->
{{ 'fabric.js' | asset_url | script_tag }}
{{ 'product_customizer.js' | asset_url | script_tag }}
<script>
  jQuery(document).ready(function($) {
     
    $('#product_customizer_slider').hide();
});
</script>