<!-- Title Page -->
<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
<link href="https://fonts.googleapis.com/css?family=DM+Serif+Text:400,400i|Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
<style>
span.email_error {
    margin-bottom: 10px !important;
    display: flex;
    color: red;
    justify-content: center;
}
 html {
    padding: 0px !important;
    overflow-x: hidden !important;
}
   html, body {
  scroll-behavior: smooth;
}
.resultSectionInner p {
    text-align: left;
}
.recommended_products p:not(.or) {
    text-align: left;
}
.recommended_products .or {
    margin: 40px 0px 30px 0px;
    font-weight: bold !important;
}
section .recommended_products h3 {
    color: #c3862b !important;
    font-size: 30px !important;
    margin-bottom: 20px !important;
}
.featureprod_section .custom_product_desc a {
    color: #c3862b !important;
    font-size: 20px !important;
    font-weight: 400;
    font-family: 'DM Serif Text', serif !important;
    line-height: 1.2em;
    margin-bottom: 3px;
}
.resultSection p.largePara {
    min-height: auto;
    margin: 10px 0px 30px 0px !important;
}
section p {
  font-size: 17px !important;
}
.take_ques{
  display:block;
}
span.code_error {
    color: #fff;
    margin-bottom: 10px !important;
    display: flex;
    justify-content: center;
}
body.modal-open {
    overflow: visible;
}
.imageSlide input[type="radio"] {
     display: none; 
    /* height: 0px; */
    position: absolute;
    width: 100% !important;
    height: 100%;
  z-index: 9999;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: unset !important;
}
 html {
    padding: 0px !important;
    overflow-x: hidden !important;
}
  header.header2 {
    position: relative;
}
  .container-menu-header-v2 {
    position: relative;
    margin-top: 0px !important;
}
.simpletext h2 {
    color: #b44b2b;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2em;
    margin-bottom: 15px;
}
section.subscription_information .simpletext h3 {
    color: #c3872b !important;
    margin: 60px 0px 10px 0px;
    font-size: 26px !important;
}
.subscription_information p span.date {
    color: #c3872b;
    padding: 0px 0px;
    font-weight: bold;
}
section h1, section h2, section h3, section h4, section h5, section h6{
        font-family: 'DM Serif Text', serif !important;
}
#section_k_question_banner_section_desktop .simpletext {
    padding: 100px 0px 115px 0px;
}
section#section_k_question_banner_section_desktop {
  	background: transparent;
}
#shopify-section-question_banner_section_desktop {
    background: transparent;
    padding: 0px;
    height: 100%;
}
section#section_k_question_banner_section_desktop{
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: bottom;
    padding: 0px !important;
  
}
 section#section_k_question_banner_section_mobile {
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    padding: 0px !important;
}
#section_k_question_banner_section_desktop .simpletext, #section_k_question_banner_section_mobile .simpletext {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 0px 0px 60px;
    flex-direction: column;
}
#section_k_question_banner_section_desktop .simpletext p {
    line-height: 1.4em !important;
    margin-top: 3px;
  	font-size: 16px !important;
}
#shopify-section-question_banner_section_desktop .simpletext h2 {
    color: #000 !important;
    font-weight: 400;
    margin-top: -75px;
    margin-bottom: 0px !important;
    font-size: 36px !important;
}
#section_k_question_banner_section_desktop .simpletext h2 span, #section_k_question_banner_section_mobile .simpletext h2 span {
    color: #b64c28;
}
section#section_k_question_banner_section_desktop .row {
    height: 450px;
}
#shopify-section-question_banner_section_mobile{
  display: none;
}
  .subscription_information {
    text-align: center;
    padding: 35px 0px 45px 0px;
}
.simpletext b {
    color: #c3872b;
}
.subscription_information h3 {
    color: #c3872b;
    margin-top: 30px;
}
#section_k_slider_subscription_cta_section .row {
    margin: 0 auto;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
#section_k_slider_subscription_cta_section .row h3 {
    color: #fff !important;
    font-size: 36px !important;
    text-align: left !important;
    margin-bottom: 0px !important;
}
#section_k_slider_subscription_cta_section .row p {
    font-size: 16px;
    color: #fff !important;
}
.simpletext a.btn.btn--cta.cpsgts, .submitButton button{
    background: #b65327 !important;
    color: #fff;
    padding: 5px 32px;
    margin-left: 15px;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 10px !important;
    display: inline-block;
    line-height: 1.6em;
    font-size: 22px !important;
    margin: 0px;
    width: auto;
}
.submitButton button {
    border-radius: 10px !important;
    padding: 7px 35px;
  text-transform: uppercase;
}
.submitButton button:hover, .monthly_btn button:hover, .yearly_btn button:hover, .resultSection button:hover, #imgRight_txt_ a.btn.btn--cta.cpsgts:hover {
    background: #ab4618 !important;
    animation-name: unset !important;
  color:#fff !important;
}
.submitButton button {
    border-radius: 10px !important;
    padding: 7px 35px;
    text-transform: uppercase;
}
  .submitButton {
  	text-align: center;
  }
section#section_k_subscription_cta_section {
    margin: 55px 0px 0px 0px;
}
.rondedImageLeft .SliderLeftImage {
    height: 400px;
    position: absolute;
    background-repeat: no-repeat;
    top: 0px;
    background-size: contain;
    width: 400px;
    right: 0px;
}
.rondedImageLeft {
    position: relative;
    height: 400px;
}
div#section_k_slider_subscription_cta_section .row {
    height: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    width: 875px;
    max-width: 100%;
}
div#section_k_slider_subscription_cta_section {
    margin: 0 auto;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 300px;
    display: flex;
    align-items: center;
}
.row{
  flex-direction: row;
}
  .subForminnersection {
    background: #ffffff;
    box-shadow: -3px 3px 9px 1px #ddd;
    padding: 50px 35px 55px 35px;
    text-align: left;
    position: relative;
    border-radius: 10px;
    z-index: 999;
}
.subFormsection {
    background-repeat: no-repeat;
    background-position: -102px 190px;
    background-size: 400px;
    max-width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 80px 0px 0px 0px;
    position: relative;
}

section.bg-title-page {
    padding: 32px;
}
.subForminnersection .simpletext h2 {
    color: #000;
    font-weight: 400;
    font-size: 40px;
}
.subForminnersection .simpletext h2 span {
    color: #b64c28;
}
.formSection label {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    color: #000;
  	height: 100%;
}
  .imageSlide{
  padding: 0px 10px;
    position: relative;
  }
.imageSlide img {
    width: 100%;
    height: 275px;
    object-position: top;
    object-fit: cover;
}
 .slick-dots li button {
    color: transparent;
}
.slick-dots li button {
    height: 12px !important;
}
ul.slick-dots {
    display: flex;
    margin: 15px 0px 0px 0px;
    justify-content: center;
}
.field-group {
    margin-bottom: 42px;
}
.slick-dots li {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 1px solid #c3872b;
    margin: 0px 5px;
    border-radius: 50px;
    list-style-type: none !important;
}
.slick-dots li.slick-active {
    background: #c3872b;
}
  .radio_circle {
    width: 25px;
    height: 25px;
    border: 1px solid #c3872b;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    margin-right: 10px;
}
input[type=radio] {
    width: 10px !important;
    margin-left: 8px !important;
}
input:checked ~ .checkmark {
    background-color: #C3872B;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    margin-left: 3px;
    left: 0px;
    margin-top: 3px;
}
.checkmark {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    margin-left: 3px;
    margin-top: 3px;
    left: 0px;
}
.radioInputs{
  position: relative;
}
.radioInputs label{
  position: relative;
    left: 0px;
    z-index: 999;
    padding-left: 35px;
    margin-bottom: 12px;
    display: block;
    line-height: 1.7em;
}
.overlay {
    position: absolute;
    z-index: 999;
    background: rgba(157,62,33,0);
    width: 95%;
    height: 0px;
    top: 0px;
    left: 10px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  	 height: 100%;
}
.imageSlide input[type="radio"]:checked + .overlay {
    background: rgba(157,62,33,0.8);
}
.imageSlide input[type="radio"]:checked + .overlay > img{
    opacity:1;
}
.overlay img{
    width: 60px !important;
  height: auto !important;
  opacity:0;
}
.subForminnersection .simpletext {
    padding: 0px 165px;
}
.subForminnersection .simpletext p {
    margin: 0px 0px 34px 0px !important;
    padding-top: 0px;
}
.close_section {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #ccc;
    font-size: 24px;
}
.bottom_bg {
    background-repeat: no-repeat;
    background-size: 400px;
    position: absolute;
    bottom: 99px;
    height: 480px;
    width: 480px;
    background-position: 195px 0px;
    right: 0px;
    bottom: -20px;
  	z-index: -1;
}
  .result.bottom_bg{
  display: none;
  }
  .Plan {
    float: left;
}

.ribbon {
    position: absolute;
    right: 25px;
    top: 0px;
    z-index: 1;
    overflow: hidden;
    width: 130px;
    height: 130px;
    text-align: right;
    background-color: transparent!important;
}
.ribbon span {
    font-size: 10px !important;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center !important;
    line-height: 25px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 200px;
    display: block;
    background: #79A70A;
    background: #b64d27;
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 15px;
    padding-left: 15px;
    right: -50px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F5408;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F5408;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F5408;
}
.plan_section .switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.plan_section .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.plan_section .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b65327;
    -webkit-transition: .4s;
    transition: .4s;
}

.plan_section .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.plan_section input:checked + .slider {
  background-color: #2196F3;
}

.plan_section input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.plan_section input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Rounded sliders */
.plan_section .slider.round {
  border-radius: 34px;
}

.plan_section .slider.round:before {
  border-radius: 50%;
}
.plan_section hr {
    padding: 0px 30px;
    width: 1000px;
  max-width: 100%;
    margin: 0 auto;
    color: #808080;
}
.plan_section {
    text-align: center;
}
.plan_section .month_year_switch {
    margin: 55px 0px -15px 0px;
}
.plan_section input:checked + .slider {
    background-color: #b65327;
}
.month_year_switch label {
    font-size: 20px;
    padding-bottom: 0px;
    margin: 0px 8px;
    color: #c3872b;
    font-family: poppins;
    font-weight: 600;
}
.month_year_switch h2 {
    margin: 23px 0px 63px 0px;
    color: #b65327;
    font-size: 70px;
    font-weight: 500;
}
.sub_features img {
    width: auto;
    height: 70px;
}
.sub_features p {
    color: #000;
    font-size: 18px;
}
.sub_features {
    margin-bottom: 60px;
}
.plan_section {
    padding: 0px;
    background-repeat: no-repeat;
    background-position: calc(100% - -110px) 510px;
    background-size: 400px;
}
  .yearlydiscountedBill, .yearlytotalBill{
  display: none;
  }
.yearlyBilled h2.monthBill {
    display: none;
}
h2.yearlytotalBill {
    color: #a6a6a6;
    font-size: 24px;
    margin-bottom: 0px;
}
h2.yearlydiscountedBill {
    margin-top: 0px;
}
.yearlyBilled h2.yearlytotalBill, .yearlyBilled h2.yearlydiscountedBill {
    display: block;
}
.yearlyBilled .offer_section{
  display:flex;
}
  .yearlyBilled .yearly_btn{
  display: block !important;
  }
 .yearlyBilled .monthly_btn{
  display: none !important;
  }

.PlanInner {
    box-shadow: -3px 3px 9px 1px #ddd;
    padding: 60px 29px;
    text-align: center;
    margin: 0px 0px;
    background: #fff;
    border-radius: 10px;
}
.PlanInner img {
    width: 100%;
    height: 250px;
}
.PlanInner span {
    text-align: left;
    display: inline-block;
    font-size: 16px;
    font-family: poppins;
    margin-top: 10px;
}
.PlanInner h5 {
    color: #c3872b;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 30px;
    font-family: poppins !important;
    margin: 00px auto 30px auto;
    width: 180px;
    text-align: center;
}
.monthly_btn, .yearly_btn {
    display: block !important;
    background: #b65327;
    color: #fff;
    padding: 0px;
    margin-left: 15px;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 10px;
    margin: 30px 0px 0px 0px;
    font-size: 22px !important;
    width: 100%;
}
  .yearly_btn{
  
  display: none !important;
  }
.monthly_btn button, .yearly_btn button {
    background: #b65327;
    color: #fff;
    padding: 5px 10px;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 10px !important;
    font-size: 22px !important;
    transition: 0.3s ease;
}
.PlanInner img {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}
.PlanInner p {
    text-align: left;
}
p.largePara {
    min-height: 230px;
    margin-bottom: 10px !important;
    padding-bottom: 0px !important;
}
p.smallPara {
    min-height: 60px;
    margin-bottom: 10px !important;
    padding-bottom: 0px !important;
    font-weight: bold !important;
}

.month_year_switch label.bill_yearly {
    color: #aaa;
}

.yearlyBilled label.bill_yearly {
    color: #c3872b;
}
.yearlyBilled label.bill_monthly {
    color: #aaa;
}
.progress2 {
    background-color: #e6e6e6;
    border-radius: 50px;
}
.cssProgress .cssProgress-bar {
    display: block;
    float: left;
    width: 0%;
    height: 100%;
    background: #b65227;
    /* box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.1); */
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
    position: relative;
  	    border-radius: 50px;
  overflow: visible !important;
}
.cssProgress .progress1, .cssProgress .progress2, .cssProgress .progress3 {
    position: relative;
    height: 30px;
    width: 100%;
}
.cssProgress .cssProgress-label {
    position: absolute;
    left: auto;
    right: 0px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-family: poppins;
    width: 35px;
    height: 35px;
    top: -55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background: #b65227;
    justify-content: center;
 	
}
.cssProgress i {
    position: absolute;
    left: auto;
    right: 9px;
    color: #b2b2b2;
    top: -27px;
    font-size: 30px;
}
.progressPopup .bottom_bg {
    display: none;
}
.questionnaireSection{
	display:block;
}
.progressSection, .resultSection{
	display:none;
}
.progressSection h2 {
    color: #c3872b;
    font-size: 36px;
    text-align: center;
}
.progressSection p {
    text-align: center;
}
.cssProgress {
    width: 100%;
    padding-top: 73px;
}
.progressPopup .subForminnersection {
    width: 950px;
    margin: 0 auto;
    padding: 90px 135px 100px 135px;
    max-width: 100%;
}
section.page_content_section.subFormsection.progressPopup {
    background-size: 350px;
    background-position: -90px 75px;
}
.progressPopup .bottom_bg {
    display: none;
}
section.page_content_section.subFormsection.resultPopup .bottom_bg {
    display: none;
}
section.page_content_section.subFormsection.resultPopup .result.bottom_bg {
    display: block;
}
section.page_content_section.subFormsection.resultPopup .subForminnersection {
    width: 100%;
    padding: 35px 120px;
}
.middle_bg {
    background-repeat: no-repeat;
    background-size: 400px;
    position: absolute;
    bottom: 99px;
    height: 480px;
    width: 480px;
    background-position: 195px 0px;
    right: 0px;
    bottom: auto;
    display: none;
    top: 500px;
}
section.page_content_section.subFormsection.resultPopup .middle_bg {
    display: block;
}
.resultSection {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}
.resultSection p.bigPara {
    text-align: center;
    font-size: 20px !important;
    text-transform: uppercase;
    margin-bottom: 0px !important;
}
.resultSection h5 {
    text-align: center;
    margin-bottom: 35px;
    color: #b65327;
    font-size: 36px;
}
.resultSection img {
    height: auto;
    width: 85%;
    margin-bottom: 25px;
    max-width: 100%;
    object-fit: cover;
    height: 450px;
    object-position: top;
}
.resultSection p.smallPara {
    display: none;
}
.resultSection p.largePara {
    min-height: auto;
}
.resultSection .yearly_btn, .resultSection .monthly_btn{
	background: transparent;
	width: 100%;
	text-align: center;
}
.resultSection button {
    background: #b65327;
    color: #fff;
    padding: 10px 50px;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 10px !important;
    font-size: 22px !important;
    transition: 0.3s ease;
    width: auto;
    text-transform: uppercase;
    margin: 45px auto 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  	height: auto !important;
}
.resultSection button img {
    width: auto;
    height: 20px;
    margin: 0px 0px 0px 7px;
}
section.page_content_section.subFormsection.resultPopup .bottom_bg {
    display: none;
}
section.page_content_section.subFormsection.resultPopup .result.bottom_bg {
    display: block;
}
section.page_content_section.subFormsection.resultPopup {
    background-position: -100px 105px;
}
section.page_content_section.subFormsection.resultPopup .result.bottom_bg {
    right: auto;
    background-position: -174px 0px;
    left: 0px;
    bottom: -330px;
}
.resultSectionInner .ribbon {
    display: none;
}
.subFormError{
  display: none;
}
.subFormError p {
    color: red !important;
    text-align: center;
  	line-height: 1.4em;
}
section#section_k_question_banner_section_desktop .shape {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
section.subscription_information .simpletext h3 {
    color: #c3872b !important;
    margin-top: 60px;
    font-size: 26px !important;
}
section.subscription_information .simpletext h4 {
    color: #000;
    font-family: poppins !important;
    font-weight: bold;
    font-size: 18px;
    margin-top: 25px;
}
.reserveForm input[type="text"], .subscription_information #basicModal input {
    border: 1px solid #c3872b !important;
    width: 350px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
    color: #777 !important;
}
.reserveForm input[type="text"]::placeholder, .subscription_information #basicModal input[type="text"]::placeholder  {
    color: #777 !important;
}
.reserveForm a.btn, .subscription_information #basicModal a.btn {
    background: #b65327 !important;
    color: #fff;
    padding: 0px 22px !important;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 5px !important;
    font-size: 17px !important;
    transition: 0.3s ease;
    height: 40px !important;
    text-transform: uppercase;
    line-height: em;
    margin-left: 10px;
    line-height: 40px;
}
.subscription_information #basicModal a.btn {
  margin-left: 0px;
}
.subscription_information #basicModal {
    z-index: 999999;
    background: rgba(0,0,0,0.7);
}
.subscription_information #basicModal .modal-dialog {
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    background-size: cover;
    border-radius: 10px;
    border: 0px;
    background-repeat: no-repeat;
}
.subscription_information .modal-content {
    background: rgba(0,0,0,0.5);
    border: 0px;
    box-shadow: unset;
    padding: 80px 40px 60px 40px;
}
.subscription_information .modal-content .modal-header {
    border: 0px;
    text-align: right;
    background: transparent;
    padding: 5px 10px;
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 0px;
}
.subscription_information .modal-content .modal-header button.close span {
    color: #fff !important;
    line-height: 1em;
    font-size: 34px;
    opacity: 01 !important;
    text-shadow: unset !important;
}
.subscription_information .modal-content h1 {
    color: #fff;
    margin-bottom: 13px;
    font-size: 32px !important;
}
.subscription_information .modal-content p {
    color: #fff !important;
    line-height: 1.5em !important;
    font-size: 15px !important;
}
.modalForm {
    margin: 40px 0px 0px 0px;
}
section .modalForm h3 {
    color: #fff !important;
    font-size: 24px !important;
    margin-bottom: 17px;
}
.subscription_information #basicModal input[type="text"] {
    width: 225px !important;
    display: block;
    margin: 0px auto 12px auto;
    border: 0px !important;
}
/*body:not(.showOtherContent) section#subscriptionFormsection, body:not(.showOtherContent) #shopify-section-subscription_plan_details_section, body:not(.showOtherContent) #shopify-section-subscription_cta_section, body:not(.showOtherContent) #subscriptionFormsection {
    display:none;
}*/
.showOtherContent #shopify-section-subscription_plan_details_section, .showOtherContent #shopify-section-subscription_cta_section, .showOtherContent #subscriptionFormsection{
  display: block;
}
.after_subscription{
  display: none !important;
}
.reservePara b {
    color: #000;
}
.showOtherContent .before_subscription, .showOtherContent .imageCounter, .showOtherContent .reserveForm{
  display: none !important;
}

.showOtherContent .after_subscription{
  display: block !important;
}
#shopify-section-testimonial__bg_title_user_image {
    padding: 50px 0px 20px 0px;
} 

    #shopify-section-testimonial__bg_title_user_image section {
        padding: 0px;
    }
    #section_k_testimonial__bg_title_user_image .container > div {
        box-shadow: 0px 0px 13px #ccc !important;
        padding: 65px 60px 60px 60px !important;
        background: #fff !important;
        border-radius: 10px;
      
    }
    #section_k_testimonial__bg_title_user_image .container > div div {
        padding: 0px;
    }
    #shopify-section-testimonial__bg_title_user_image h4 {
        color: #bd812d;
        margin: 35px 0px 55px 0px;
    }
    .user_card img {
        width: 125px !important;
        height: 125px !important;
    }
    .user_address {
        color: #000 !important;
        font-size: 16px !important;
    }
    .user_data .user_name {
        color: #b54f28 !important;
        font-size: 25px !important;
        font-weight: 500 !important;
    }
    .user_position {
        color: #c3882b !important;
        text-transform: uppercase !important;
        font-weight: bold !important;
    }
    .user_data {
        margin-left: 30px !important;
        text-align: left !important;
    }
    #section_k_testimonial__bg_title_user_image .container > div {
        box-shadow: 0px 0px 13px #ccc !important;
        padding: 65px 60px 60px 60px !important;
        background: #fff !important;
    }
      #shopify-section-title_top_image_left_content_right_slider br {
        display: none;
    }
    .user_card {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user_data .user_name {
        color: #b54f28 !important;
        font-size: 25px !important;
        font-weight: 500 !important;
        margin: 0px !important;
    }
    .user_position {
        color: #c3882b !important;
        text-transform: uppercase !important;
        font-weight: bold !important;
        margin: 0px !important;
        padding-bottom: 0px;
    }
      
#shopify-section-testimonial__bg_title_user_image section {
    padding: 0px;
    background-repeat: no-repeat;
    background-position: calc(100% - -185px) bottom;
    background-size: 475px;
    background-image: none !important;
}
      
    .centered_image {
        height: 400px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        width: 100%;
    }
      .SliderLeftImage{
        background-size: cover;
        width: 430px;
        height: 430px;
        margin: 0 auto;
        border-radius: 50%;
        background-repeat: no-repeat;
      }

#section_k_content_top_image_bottom .simpletext p, #section_k_content_top_image_bottom .simpletext h2 {
    text-align: left;
}
#shopify-section-centered_image_content_above_image section .simpletext p {
    text-align: left;
}

  
.trademark {
    font-weight: 500;
    font-size: 10px;
    position: relative;
    top: -7px;
}
#shopify-section-testimonial__bg_title_user_image .text-center.simpletext h2 span.trademark {
    font-size: 16px;
    position: relative;
    top: 0px;
    font-weight: bold !important;
}

#imgRight_txt_ .simpletext a.btn.btn--cta.cpsgts:not(.scrollToForm):hover {
    background: #fff !important;
    border: 1px solid #fff !important;
  	color: #b65327 !important;
}
.simpletext a.btn:hover, a.btn:hover {
    background: #ab4618 !important;
    color: #fff !important;
}
#imgRight_txt_ .simpletext a.btn.btn--cta.cpsgts:not(.scrollToForm) {
    background: transparent !important;
    border: 1px solid #fff;
    padding: 5px 24px;
}
.sale_price {
    padding: 3px 10px !important;
    font-size: 15px;
    line-height: 1.4em;
    position: relative;
    top: -3px;
    border: 0px !important;
    text-transform: unset;
    border-radius: 4px !important;
    background: #7fda69 !important;
    color: #fff;
    margin: 0px 0px 0px 15px;
    text-transform: uppercase;
}
.month_year_switch label {
    text-transform: uppercase;
}
h2.yearlytotalBill del {
    color: #aaa;
    font-size: 26px;
}
section h2.yearlydiscountedBill {
    margin-top: -10px;
    font-size: 48px !important;
}
section h2.monthBill, section h2.yearlydiscountedBill {
    font-size: 60px !important;
}
#section_k_slider_subscription_cta_section .row p.or {
    font-weight: 600 !important;
    margin: 0px !important;
    text-align: center;
    width: 280px;
}
.PlanInner:hover {
    box-shadow: 3px 10px 20px 13px #ddd;
}
.PlanInner {
    transition: all 0.3s ease;
}
/*
  body:not(.showOtherContent) section#subscriptionFormsection div, body:not(.showOtherContent) #shopify-section-subscription_plan_details_section, body:not(.showOtherContent) #shopify-section-subscription_plan_details_section *, body:not(.showOtherContent) #shopify-section-subscription_cta_section, body:not(.showOtherContent) #shopify-section-subscription_cta_section *, body:not(.showOtherContent) #subscriptionFormsection, body:not(.showOtherContent) #subscriptionFormsection * {
    visibility: hidden;
    height: 0px;
    margin: 0px;
    padding: 0px !important;
}
  */
.questionnaireSection button.slick-arrow.slick-prev {
    left: -65px;
    width: 45px;
    text-align: left;
}
.questionnaireSection button.slick-arrow i {
    background: transparent;
    color: #c3862b;
    border: 1px solid #c3862b;
    width: 100%;
    height: 45px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}
.questionnaireSection button.slick-arrow.slick-next {
    right: -60px;
    width: 45px;
    text-align: left;
}
.questionnaireSection button.slick-arrow {
    position: absolute;
    width: 150px;
    left: 0px;
    bottom: -25px;
    margin: 0 auto;
    top: auto;
    right: 0px;
    z-index: 9;
    height: 70px;
}
.questionnaireSection button.slick-arrow.slick-prev i:before {
    position: relative;
    top: -2px;
    left: -1px;
}
.questionnaireSection button.slick-arrow.slick-next i:before {
    position: relative;
    top: -2px;
    left: 1px;
}
p.smallPara img {
    width: 35px !important;
    height: 35px !important;
    min-height: 35px;
    margin-right: 10px;
}
p.smallPara {
    display: flex;
}
.offer_section {
    flex-direction: row;
    width: 100%;
    background: #b65327;
    align-items: center;
    color: #fff;
    padding: 20px 0px 20px 110px;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 70px 0px;
    text-align: left;
  	display:none;
  	transition: 0.3s ease;
}
.offer_section img {
    align-self: center;
    position: absolute;
    height: calc(100% + 60px);
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}
.imageCounter {
    margin: 40px 0px 25px 0px;
}
.counter_image {
    width: 750px;
    margin: 0px;
    max-width: 100%;
}
.counter {
    width: 350px;
    margin: -75px auto 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
}
.counter_child {
    padding: 0px 10px;
}
.counter .number {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    background: #b65327;
    justify-content: center;
    color: #fff !important;
    font-family: 'DM Serif Text', serif !important;
    font-size: 32px !important;
    border-radius: 5px;
    margin: 0px !important;
}
.counter .time {
    padding: 3px 0px;
    text-align: center !important;
}
.counter span {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 25px;
}
section .reservePara {
    font-size: 15px !important;
}
.showOtherContent section.subscription_information .simpletext h3 {
    font-size: 30px !important;
    margin: 30px 0px 32px 0px;
}
section.subscription_information .simpletext h4.after_subscription {
    font-size: 21px;
}
section .reservePara.after_subscription {
    font-size: 16px !important;
}
#section_k_subscription_information .simpletext p:not(.reservePara) {
    text-align: left;
}
p {
    line-height: 1.7em !important;
}
  #shopify-section-subscription_information p{
    line-height: 1.7em !important;
    padding: 10px 0px !important;
  }
.user_data p {
    line-height: 1.2em !important;
}
#section_k_slider_subscription_cta_section .row p {
    margin: 0 0px 10px 0px;
}
  .featureprod_section button.slick-arrow.slick-prev {
	padding-right: 60px !important;
	text-align: left;
}

.featureprod_section button.slick-arrow i {
    background: transparent;
    color: #c3862b;
    border: 1px solid #c3862b;
    width: 45px;
    height: 45px;
    display: inline-block;
    font-size: 40px;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    position: relative;
}
.featureprod_section button.slick-arrow:hover {
     background: transparent !important;
	
}
.featureprod_section button.slick-arrow {
    background: transparent;
    position: absolute;
    width: 100% !important;
    left: 0px;
    bottom: -95px;
    margin: 0 auto;
    top: auto;
    padding: 0px !important;
    height: 70px;
    right: 0px !important;
    left: 0px !important;
    text-align: center !important;
}
.featureprod_section button.slick-arrow.slick-next {
    text-align: left;
    padding-left: 60px !important;
}
.featuredproduct {
    margin: 30px -50px 40px -50px;
}
.featureprod_section a {
	color: #b44b2b;
}

.featureprod_section span {
    color: #000;
    font-family: poppins, sans-serif;
}
.featureprod_section .custom_product_desc {
    text-align: center;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.featureprod_section img {
    margin-bottom: 15px;
    width: 100%;
}
#shopify-section-about-right-image-section .simpletext a.btn.take_ques_btn, #shopify-section-about-right-image-section span.or {
    display: none;
}
.hero_play_button {
    margin: -10px 0px 0px 0px;
    display: inline-block;
}
.resultSection img.hover_img {
    display: none;
}
@media (min-width: 1400px){
  section#section_k_question_banner_section_desktop {
      background-position: top;
      padding: 0px 0px 100px 0px !important;
  }
  section#section_k_question_banner_section_desktop .simpletext h2 {
      margin-top: 0px;
      font-size: 40px !important;
   }
  #section_k_question_banner_section_desktop .simpletext p {
  	font-size: 17px !important;
}
  #section_k_question_banner_section_desktop .simpletext, #section_k_question_banner_section_mobile .simpletext {
      padding: 115px 25px 0px 40px;
  }
}
  
@media (min-width: 1700px){
  section#section_k_question_banner_section_desktop {
      background-position: top;
      padding: 0px 0px 200px 0px !important;
  }
}
@media (min-width:992px) and (max-width:1160px){

.roundRightImage .roundImageinner {
    padding-right: 0px;
}
.roundLeftImage .roundImageinner {
    padding-right: 0px;
}
#section_k_question_banner_section_desktop .simpletext p {
  	font-size: 15px !important;
}
p {
    font-size: 16px !important;
}
section#section_k_question_banner_section_desktop {
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 360px;
    background-position: -60px bottom;
    padding: 0px !important;
}
#shopify-section-question_banner_section_desktop .simpletext h2 {
    color: #000 !important;
    font-weight: 400;
    margin-top: -125px;
    font-size: 32px !important;
}
}

@media (min-width:768px) and (max-width:1160px){
.container {
    width: 100%!important;
    max-width: 100% !important;
    padding: 0px 30px !important;
}  
.plan_section hr {
    width: 635px;
}
.month_year_switch h2 {
    margin: 23px 0px 50px 0px;
    font-size: 50px;
}
section p {
    font-size: 15px !important;
    line-height: 1.5em !important;
}
.PlanInner {
    margin: 10px 0px;
}
div#section_k_slider_subscription_cta_section .row {
    padding: 0px 0px;
}
.rondedImageLeft .SliderLeftImage {
    height: 325px;
    width: 315px;
    right: 0px;
}
div#section_k_slider_subscription_cta_section {
    background-size: cover !important;
    height: 250px;
}
.rondedImageLeft .SliderLeftImage {
    height: 375px;
    top: 10px;
    width: 350px;
    right: 10px;
}
.subForminnersection .simpletext {
    padding: 0px 0px;
}
.subForminnersection .simpletext h2 {
    font-size: 36px;
}
.imageSlide img {
    height: 200px;
}
.formSection label {
    font-size: 15px;
    margin-bottom: 15px;
  	
}
.Plan {
    padding: 0px 10px;
}
.planSlider {
    padding: 0px !important;
}
.PlanInner {
    margin: 0px 0px;
    padding: 50px 20px;
}
p.largePara {
    min-height: 250px;
}
p.smallPara {
    min-height: 73px;
}
.plan_section {
    background-size: 300px;
}
section.bg-title-page {
    padding: 20px;
}
section.bg-title-page h1 {
    font-size: 36px;
}

.PlanInner img {
    height: 175px;
    object-fit: cover;	
}
.resultSection img {
    width: 85%;
    height: 350px;
}
 .rondedImageLeft p {
    width: 265px;
}
section#section_k_question_banner_section_desktop {
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 360px;
    background-position: bottom;
    padding: 0px !important;
}
}
  
@media (min-width: 768px){
  .planSlider {
    align-items: center;
    margin: 0px -15px;
}


.featureprod_section .slick-track {
    width: 100% !important;
}
.featureprod_section .slick-track .slick-slide {
    width: 33.33% !important;
}
  .planSlider .Plan:nth-child(1), .planSlider .Plan:nth-child(3) {
    width: 32% !important;
    max-width: 32% !important;
    flex: 0 0 32% !important;
}
.planSlider .Plan {
    padding: 0px 25px !important;
}
.planSlider .Plan:nth-child(2) {
    width: 36% !important;
    max-width: 36% !important;
    flex: 0 0 36% !important;
    margin-top: 0px;
}
.planSlider .Plan:nth-child(2) .PlanInner {
    padding: 80px 50px;
    box-sizing: unset !important;
}
.planSlider .Plan:nth-child(2) .PlanInner h5.productTitle {
    font-size: 24px !important;
}
.planSlider .Plan:nth-child(2) .PlanInner img {
    height: 280px;
    object-fit: cover;
}
.planSlider .Plan:nth-child(2) .PlanInner p {
    font-size: 17px !important;
}
.planSlider .Plan:nth-child(2) .PlanInner button {
    font-size: 24px !important;
}

}
  
  
@media (min-width:768px) and (max-width:991px){
.roundRightImage .roundImageinner {
    padding-right: 0px;
}
div#shopify-section-question_banner_section_desktop .simpletext h2, div#shopify-section-question_banner_section_mobile .simpletext h2 {
    font-size: 24px !important;
}
.roundLeftImage .roundImageinner {
    padding-right: 0px;
}
#section_k_question_banner_section_desktop .simpletext, #section_k_question_banner_section_mobile .simpletext {
    padding: 0px 0px 0px 50px;
}
.simpletext h2, div#shopify-section-question_banner_section_mobile .simpletext h2 {
    font-size: 23px !important;
}
.commonSection img {
        height: 325px;
}
.planSlider .Plan:nth-child(2) .PlanInner {
    padding: 60px 20px;
    box-sizing: unset !important;
}
.planSlider .Plan:nth-child(2) .PlanInner p {
    font-size: 16px !important;
}
.planSlider .Plan:nth-child(2) .PlanInner img {
    height: 200px;
    object-fit: cover;
}

.planSlider .Plan:nth-child(2) .PlanInner button {
    font-size: 21px !important;
}
.monthly_btn button, .yearly_btn button {
    font-size: 20px !important;
}
.planSlider .Plan {
    padding: 0px 10px !important;
}
#shopify-section-question_banner_section_desktop .simpletext h2, div#shopify-section-question_banner_section_mobile .simpletext h2 {
    color: #000;
    font-weight: 400;
    font-size: 30px !important;
    margin: -25px 0px 0px 0px;
}
p {
    font-size: 15px !important;
}
section#section_k_question_banner_section_desktop {
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    height: 360px;
    background-position: -60px bottom;
    padding: 0px !important;
}
#shopify-section-question_banner_section_desktop .simpletext h2 {
    color: #000 !important;
    margin-top: -150px !important;
    padding: 0px 0px 0px 0px;
}
}

@media (min-width: 1024px) and (max-width: 1500px){
  .container {
    max-width: 100% !important;
    padding: 0px 110px !important;
  }
  p.largePara {
    min-height: 277px;
	}
  
}
@media (min-width: 1161px) and (max-width: 1280px){
  
#section_k_question_banner_section_desktop .simpletext p {
  	font-size: 15px !important;
}
}
@media (min-width: 1161px) and (max-width: 1240px){
  #shopify-section-question_banner_section_desktop .simpletext h2 {
    font-size: 34px !important;
}
#section_k_question_banner_section_desktop .simpletext, #section_k_question_banner_section_mobile .simpletext {
    padding: 0px 0px 0px 36px;
}

}
@media (min-width: 1025px) and (max-width: 1200px){
    .plan_section {
        background-size: 400px;
    }
    p.largePara {
        min-height: 250px;
    }
    section p {
        font-size: 15px !important;
        line-height: 1.5em !important;
    }
  	.PlanInner img {
        height: 175px;
    }
  	#section_k_question_banner_section_desktop .simpletext, #section_k_question_banner_section_mobile .simpletext {
        padding: 0px 0px 0px 30px;
    }
  	div#shopify-section-question_banner_section_desktop .simpletext h2, div#shopify-section-question_banner_section_mobile .simpletext h2 {
        font-size: 29px !important;
    }
}
@media (min-width: 1260px) and (max-width: 1500px){
    p.largePara {
      min-height: 260px;
    }
}
@media (min-width: 768px) and (max-width: 860px){
	.rondedImageLeft .SliderLeftImage {
          height: 325px;
          top: 35px;
          width: 300px;
          right: 10px;
      }
      #imgRight_txt_ {
          padding-right: 0px !important;
      }
      div#section_k_slider_subscription_cta_section .row {
          padding: 0px 0px;
          margin: 0px -15px !important;
      }
      .simpletext a.btn.btn--cta.cpsgts, .submitButton button {
          font-size: 20px !important;
      }
 	  p.largePara {
          min-height: 290px;
      }
  	  p.smallPara {
          min-height: 90px;
      }
}

  @media (max-width: 767px){
section#section_k_question_banner_section_mobile .row {
    margin: 0px;
}
#shopify-section-question_banner_section_mobile {
    margin-bottom: 15px;
}
.resultSection button img {
    margin: 0px 0px 0px 2px;
}
section.page_content_section.subFormsection.resultPopup .result.bottom_bg {
    display: none;
}
.FirstSectImage {
    position: relative;
}
.featuredproduct {
    margin: 30px 0px 60px 0px !important;
}
.featureprod_section .custom_product_desc a {
    padding-bottom: 2px;
    font-size: 18px !important;
}
.custom_product_desc span, .shipping span, #snize-search-results-grid-mode .snize-price-list span {
    font-size: 15px;
}
section .recommended_products h3 {
    font-size: 22px !important;
    margin-bottom: 20px !important;
    width: 215px;
    margin: 0 auto 10px auto !important;
}
.recommended_products .or {
    margin: 30px 0px 35px 0px;
    font-weight: bold !important;
    font-size: 16px !important;
}


#shopify-section-questionnaire-featured-product {
    margin: 30px 0px 60px 0px !important;
}
  #shopify-section-question_banner_section_mobile .simpletext {
    padding: 25px 0px 0px 0px;
    width: 291px;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}
 	#shopify-section-question_banner_section_desktop{
    display: none;
  }
section .reservePara {
    font-size: 14px !important;
}
.showOtherContent section.subscription_information .simpletext h3 {
    font-size: 20px !important;
    margin: 25px 0px 20px 0px;
}
section.subscription_information .simpletext h4.after_subscription {
    font-size: 15px;
    padding: 0px 10px;
  	line-height: 1.4em !important;
}
section .reservePara.after_subscription {
    font-size: 15px !important;
    line-height: 1.4em !important;
    margin: 13px 0px 0px 0px !important;
    padding: 0px !important;
}
.offer_section img {
    position: unset;
    transform: unset;
    height: auto;
    width: 50px;
    margin: 0px 5px 0px 0px;
}
.offer_section {
    padding: 10px 10px;
    font-size: 14px;
    text-align: center;
    margin: 30px 0px 45px 0px;
    flex-direction: row;
  	border-radius: 5px;
}
h2.yearlytotalBill del {
    font-size: 20px;
}
.sale_price {
    font-size: 13px;
}
.reserveForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    max-width: 100%;
    align-items: center;
}
section#section_k_question_banner_section_mobile .shape {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    z-index: 9;
}
.FirstSectImage img.mainImg {
    width: 243px;
    margin: 0 auto;
    position: relative;
}
.ribbon {
    right: 5px;
}
.ribbon {
    top: 15px;
    width: 115px;
    height: 115px;
}
.roundRightImage .roundImageinner .simpletext h2 {
    margin: 0 auto 20px auto;
    width: 230px;
    max-width: 100%;
}
section.page_content_section.subFormsection.progressPopup {
    background-position: -99px 55px !important;
    background-size: 225px !important;
} 
.resultSection img {
    margin-bottom: 15px;
}
.resultSection p.largePara {
    margin: 10px 0px 20px 0px !important;
}
.submitButton button {
    border-radius: 10px !important;
    padding: 8px 23px;
    line-height: 1.3em;
    font-size: 18px !important;
}
 .resultSection img {
    width: 240px;
    height: auto;
}
    section.bg-title-page {
    padding: 12px;
}
section.bg-title-page h1 {
    font-size: 24px !important;
}
#shopify-section-question_banner_section_mobile {
    display: block;
}
section#section_k_question_banner_section_mobile {
    padding: 0px 0px 0px 0px;
    background: transparent;
}
#shopify-section-question_banner_section_mobile .simpletext h2 {
    margin-bottom: 8px !important;
    color: #000 !important;
    font-size: 20px !important;
}
.FirstSectImage {
    height: 250px;
    width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 30px 0px 0px 0px !important;
	background-position: center;
}
#shopify-section-question_banner_section_mobile .simpletext {
    padding: 30px 0px 0px 0px;
    text-align: center;
}
.subscription_information {
    text-align: center;
    padding: 5px 0px;
}

section p {
    font-size: 14px !important;
    line-height: 1.6em !important;
    margin-bottom: 15px !important;
}
.subForminnersection .simpletext p {
    margin: 0px 0px 25px 0px !important;
}

.plan_section .month_year_switch {
    margin: 35px 0px;
}
.plan_section .switch {
    width: 60px;
    height: 30px;
    top: -4px;
    margin: 0px;
}
.plan_section .slider:before {
    height: 23px;
    width: 23px;
}
.month_year_switch label {
    font-size: 15px;
    margin: 0px 5px;
}
.month_year_switch h2 {
    margin: 20px 0px 40px 0px;
    font-size: 40px;
}
.sub_features img {
    width: auto;
    height: 35px;
}
.plan_section .col-4 {
    padding: 0px 3px;
}
.sub_features {
    margin-bottom: 40px;
}
.sub_features p {
    font-size: 13px !important;
    line-height: 1.5em !important;
}
.plan_section .row {
    margin: 0px -5px;
}
.planSlider {
    display: flex;
    padding: 0px !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PlanInner {
    padding: 60px 29px;
    text-align: center;
    margin: 3px 0px 10px 0px;
    background: #fff;
  	box-shadow: -1px 1px 5px 1px #ddd;
}
.PlanInner {
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.PlanInner {
    padding: 40px 25px; 
}
.PlanInner img {
    height: 150px;
}
div#section_k_slider_subscription_cta_section .row {
    height: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
}
section#section_k_subscription_cta_section {
    margin: 90px 0px 0px 0px;
}
div#section_k_slider_subscription_cta_section {
    margin: 0 auto;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 275px;
    display: flex;
    align-items: center;
}
div#section_k_slider_subscription_cta_section .row {
    height: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
}
div#imgRight_txt_ {
    width: 100% !important;
    order: 2;
    position: relative;
    margin-top: -125px;
}
div#imgRight_txt_ .simpletext {
    text-align: center;
}
div#section_k_slider_subscription_cta_section .row h3 {
    color: #fff !important;
    font-size: 20px !important;
    text-align: center;
  	margin-top: 30px;
}
div#section_k_slider_subscription_cta_section .row p {
    font-size: 14px !important;
    text-align: center;
    line-height: 1.5em !important;
    color: #fff !important;
    margin-bottom: 7px !important;
    margin-top: 5px !important;
}
#imgRight_txt_ a.btn.btn--cta.cpsgts {
    width: auto;
    font-size: 18px !important;
    height: auto;
    margin: 0px auto;
    display: inline-block;
}
.rondedImageLeft {
    width: 100%;
    text-align: center;
    height: auto;
    order: 1;
    top: -115px;
}
.rondedImageLeft .SliderLeftImage {
    height: 215px;
    position: relative;
    background-repeat: no-repeat;
    top: 0px;
    background-size: cover;
    right: 0px;
    left: 0px;
    width: 200px;
    margin: 0 auto;
}
.monthly_btn button, .yearly_btn button {
    font-size: 20px !important;
    height: auto;
}
.subForminnersection .simpletext {
    padding: 0px;
}
.subFormsection {
    margin: 60px 0px 60px 0px;
    position: relative;
}
.subForminnersection .simpletext h2 {
    color: #000;
    font-weight: 400;
    font-size: 19px;
}
.formSection label {
    font-size: 14px;
    margin-bottom: 20px;
}
.field-group {
    margin-bottom: 30px;
}
.subForminnersection {
    background: #ffffff;
    padding: 49px 25px 40px 25px;
    text-align: left;
    position: relative;
    border-radius: 10px;
    z-index: 999;
  	box-shadow: -1px 1px 5px 1px #ddd;
}
.plan_section hr {
    padding: 0px 0px;
    width: 85%;
    max-width: 100%;
    margin: 0 auto;
    color: #808080;
}
.imageSlide img {
    width: 235px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
}
.overlay {
    width: 91%;
}
.planSlider {
    padding: 0px !important;
}
.month_year_switch h2 {
    margin: 5px 0px 40px 0px;
    font-size: 36px;
}
.yearlytotalBill {
    font-size: 18px !important;
    margin: 10px 0px 0px 0px !important;
}
.monthBill {
    margin: 17px 0px 40px 0px !important;
}
.plan_section input:checked + .slider:before {
    -webkit-transform: translateX(29px);
    -ms-transform: translateX(29px);
    transform: translateX(29px);
}
.Plan {
    padding: 12px 5px !important;
    width: 300px !important;
    max-width: 100% !important;
}
.plan_section {
    padding: 30px 0px 0px 0px;
    background-repeat: no-repeat;
    background-position: calc(100% - -107px) 425px;
    background-size: 250px;
}
.plan_section.yearlyBilled {
    background-position: calc(100% - -107px) 570px;
}
.PlanInner img {
    height: 175px;
}
.subFormsection {
    margin: 0px;
    position: relative;
    padding: 15px 0px 0px 0px;
}
.radio_circle {
    width: 22px;
    height: 22px;
    border: 2px solid #c3872b;
    margin-right: 5pz;
}
input[type=radio] {
    width: 10px !important;
    margin-left: 4px !important;
}
.checkmark {
    width: 13px;
    height: 13px;
    margin-left: 2px;
    margin-top: 0px;
    left: 0px;
    top: 3px;
}
input:checked ~ .checkmark {
    width: 14px;
    height: 14px;
    margin-left: 2px;
    left: 0px;
    margin-top: 0px;
    top: 2px;
}
.radioInputs label {
    padding-left: 30px;
    line-height: 1.5em;
}
.imageSlide {
    margin-bottom: 50px;
}
.questionnaireSection button.slick-arrow {
    bottom: -20px;
}
section.page_content_section.subFormsection.resultPopup .subForminnersection {
    width: 100%;
    padding: 35px 30px;
    margin: 30px 0px 0px 0px;
}
.progressPopup .subForminnersection {
   margin: 30px 0px 0px 0px;
}
.resultSection h5 {
    margin-bottom: 30px;
    font-size: 26px;
}
.resultSection p.bigPara {
    font-size: 18px !important;
    padding-bottom: 0px;
}
section.page_content_section.subFormsection {
    background-size: 275px !important;
    background-position: -122px 125px !important;
}
.bottom_bg {
    display: block;
    background-size: 275px !important;
    background-position: 322px 0px !important;
    bottom: 100px;
}
.middle_bg {
    background-size: 275px;
    background-position: 325px 0px;
    top: 350px;
}
.progressPopup .subForminnersection {
    padding: 50px 30px;
    max-width: 100%;
}
.cssProgress {
    width: 100%;
    padding-top: 55px;
}
.progressSection h2 {
    font-size: 24px;
}
.resultSection .resultSectionInner button {
    margin: 35px auto 10px auto;
    font-size: 18px !important;
    padding: 6px 13px !important;
}
  .overlay img {
    width: 50px !important;
    height: auto !important;
    opacity: 0;
}
.container {
    padding: 0px 20px !important;
}
section h2.monthBill, section h2.yearlydiscountedBill {
    font-size: 32px !important;
}
section h2.yearlydiscountedBill {
    margin-top: 0px;
    font-size: 32px !important;
}
p.smallPara, p.largePara {
    min-height: unset;
}
.reservePara{
  text-align: center !important;
}
.Plan .monthly_btn, .Plan .yearly_btn {
    position: unset;
    bottom: 40px;
    left: 0px;
    right: 0px;
    background: transparent;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
    width: 100%;
}
.monthly_btn button, .yearly_btn button {
    font-size: 20px !important;
    height: auto;
    padding: 8px 25px;
    width: auto;
}
.plan_section .month_year_switch {
    margin: 35px -5px;
}
.month_year_switch label {
    font-size: 14px;
    margin: 0px 5px;
}
.subscription_information .simpletext p {
    text-align: left;
}
#shopify-section-about-right-image-section {
    padding: 0px 0px 50px 0px;
}
#shopify-section-testimonial__bg_title_user_image {
        padding: 0px 0px 60px 0px;
    }
    #section_k_testimonial__bg_title_user_image .container > div {
        box-shadow: 0px 0px 13px #ccc !important;
        padding: 40px 25px 40px 25px !important;
        background: #fff !important;
        border-radius: 10px;
    }
    .user_card img {
        width: 75px !important;
        height: 75px !important;
    }
    .user_data .user_name {
        font-size: 18pt !important;
        margin: 0px 0px 0px 0px !important;
        line-height: 18pt;
    }
    p.user_address {
        margin: 0px !important;
    }
    .user_position {
        font-size: 10pt !important;
        line-height: 1.2em !important;
    }
    .user_address {
        font-size: 10pt !important;
        line-height: 1.3em !important;
    }
    .user_data {
        margin-left: 12px !important;
        text-align: left !important;
    }
    #shopify-section-testimonial__bg_title_user_image h4 {
        color: #bd812d;
        margin: 20px 0px 30px 0px;
    font-size: 12pt;
    }
    
    section .rondedImageLeft p {
        font-size: 10pt !important;
        text-align: center;
        width: 100%;
        margin: 20px auto 0px auto !important;
        line-height: 17pt !important;
        padding: 0px;
    }
  
    #shopify-section-testimonial__bg_title_user_image section {
        background-image: none !important;
    }

#shopify-section-testimonial__bg_title_user_image .text-center.simpletext h2 span.trademark {
    font-size: 14px !important;
}
.trademark {
    font-size: 9px !important;
}
  
.about_us_section_title h2{
    color: #b44b2b;
font-weight: 400;
margin-bottom: 20px;
font-size: 13pt;
line-height: 1.2em;
}

.subForminnersection .slick-slider {
    position: relative;
    padding-bottom: 0px;
}
.questionnaireSection button.slick-arrow.slick-next {
    right: -35px;
    width: 35px;
}
.questionnaireSection button.slick-arrow i {
    height: 35px;
    font-size: 30px;
}
.questionnaireSection button.slick-arrow.slick-prev {
    left: -55px;
    width: 35px;
    text-align: left;
}
section.subscription_information .simpletext h3 {
    color: #c3872b !important;
    margin-top: 20px;
    font-size: 20px !important;
}
section.subscription_information .simpletext h4 {
    font-size: 14px;
    margin-top: 15px;
}
.simpletext a.btn {
    padding: 6px 25px;
    font-size: 19px !important;
}

#shopify-section-testimonial__bg_title_user_image {
    padding: 50px 0px 0px 0px;
}
.simpletext a.btn {
    padding: 6px 25px;
    font-size: 19px !important;
    margin: 15px 0px 0px 0px !important;
}
.roundImageinner .simpletext a.btn {
    padding: 6px 25px;
    font-size: 19px !important;
    margin: 0px 0px 0px 0px !important;
}
.subscription_information .modal-content {
    background: rgba(0,0,0,0.5);
    border: 0px;
    box-shadow: unset;
    padding: 20px 15px 25px 15px;
}
.subscription_information .modal-content h1 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 21px !important;
}
.subscription_information .modal-content p {
    color: #fff !important;
    line-height: 1.5em !important;
    font-size: 14px !important;
}
.modalForm {
    margin: 0px 0px 0px 0px;
}
section .modalForm h3 {
    color: #fff !important;
    font-size: 18px !important;
    margin-bottom: 15px;
    margin-top: 0px;
}
div#section_k_slider_subscription_cta_section .row h3 {
    color: #fff !important;
    font-size: 20px !important;
    text-align: center !important;
}
div#section_k_slider_subscription_cta_section {
    margin: 0 auto;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: auto;
    padding: 0px 0px 35px 0px;
    display: flex;
    align-items: center;
}
#imgRight_txt_ .simpletext a.btn.btn--cta.cpsgts:not(.scrollToForm) {
    background: transparent !important;
    border: 1px solid #fff;
    padding: 5px 24px;
    margin: 0px !important;
}
#section_k_slider_subscription_cta_section .row p.or {
    font-weight: 600 !important;
    margin: 0px !important;
    text-align: center;
    margin: 0 auto !important;
    width: 250px;
    max-width: 100%;
}
.counter {
    margin: 0px auto;
}
.counter .number {
    width: 45px;
    height: 45px;
    font-size: 23px !important;
}
.counter span {
    height: 45px;
    font-size: 22px;
}
.imageCounter {
    margin: 30px 0px 10px 0px;
}
.counter {
    margin: 20px auto 0px auto;
}
.bgWhite {
    background: #fff;
    margin-top: 0px;
  	padding: 0px !important;
}
.FirstSectImage img.mainImg {
    width: 243px;
    margin: 0 auto;
    position: relative;
    top: 15px;
}
section#section_k_question_banner_section_mobile .shape {
    position: absolute;
    bottom: 36px;
    width: 100%;
    left: 0px;
    z-index: 9;
}
p {
    font-size: 14px !important;
}
.featureprod_section button.slick-arrow.slick-prev {
	padding-right: 45px !important;
	text-align: left;
}

.featureprod_section button.slick-arrow {
    bottom: -60px;
}
.featureprod_section button.slick-arrow i {
    width: 35px;
    height: 35px;
  	font-size: 32px;
}
.featureprod_section button.slick-arrow.slick-next {
    text-align: left;
    padding-left: 45px !important;
}
  }
@media (min-width: 360px) and (max-width: 400px){
.FirstSectImage {
    height: 270px;
}
}
@media (min-width: 401px) and (max-width: 480px){
.FirstSectImage {
    height: 330px;
}
}
@media (min-width: 481px) and (max-width: 600px){
.FirstSectImage {
    height: 400px;
}
}
@media (min-width: 601px) and (max-width: 700px){
.FirstSectImage {
    height: 450px;
}
}
@media (min-width: 701px) and (max-width: 767px){
.FirstSectImage {
    height: 505px;
}
}
@media (max-width: 480px){
 .imageSlide {
    padding: 0px 0px;
    position: relative;
}

.PlanInner img {
    height: auto;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
    position: absolute;
    z-index: 999;
    background: rgba(157,62,33,0);
    width: 235px;
    height: 0px;
    top: 0px;
    left: 0px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
}

}
  @media (max-width: 358px){
  .user_position {
    font-size: 9pt !important;
    line-height: 1.2em !important;
}
    .user_address {
    font-size: 9pt !important;
    line-height: 1.3em !important;
}
  }
  @media (max-width: 345px){  
#shopify-section-question_banner_section_mobile .simpletext h2 {
    font-size: 19px !important;
}
  }
@media (max-width: 330px){
  
    .container {
        padding: 0px 15px !important;
    }
  
  .plan_section .row {
        margin: 0px 0px;
    }
  
}
  #section-subscription_plan_details_section {
    display: none;
}
</style>

<!--content-->
{% assign img_bg = '' %}
{% if page %}
           {% capture mybanner %}{{page.handle}}.jpg {% endcapture %}
           {% assign img_bg = mybanner | asset_url %}
{% endif %}
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"  {% if img_bg %} style="background-image:url({{ img_bg }});" {% else %} style="background-color:#000;" {% endif %}>
  <h1 class="snize-search-results-page-title l-text2 t-center">{{ page.title }}</h1>
</section>
{% comment %}
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m"  style="background-color:#000;">
  <h2 class="l-text2 t-center">
    {{ page.title }}
  </h2>
</section>
  {% endcomment %}
  
<!-- content page -->

{% section 'question_banner_section_desktop' %}

{% section 'question_banner_section_mobile' %}

{% comment %}
 {% section 'subscription_information' %}



{% section 'subscription_cta_section' %}
{% endcomment %}
{% section 'subscription_plan_details_section' %}
<section class="page_content_section subFormsection" id="subscriptionFormsection"  style="background-image:url('{{ 'bg-left.png' | asset_url }}');
">
  
  <div class="container">

    <div class="subForminnersection">
      <div class="questionnaireSection">
        <div class="text-center simpletext">

          <h2> Are you <span>Timelessly Minimal</span>, a <span>Modern Style-Seeker</span>, or a <span>Bold Trendsetter</span>?  </h2>
          
        </div>
        
        <form class="formSection">
          	<div class="subFormError">
                <p>* Please answer all the following questions.</p>
            </div>
            <div class="field-group">
              <label>1. Which of the following outfits and accessories can best describe your style? </label>
             {% section 'subscription_slider1' %}
            </div>
            <div class="field-group">
              <label>2. Which of the following words resonate with you the most?</label>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="two" id="two_one" value="Timelessly Minimal">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="two_one">Delicate, Classy, Timeless, Minimal</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="two" id="two_two" value="Modern Style-Seeker">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="two_two">Versatile, Experimental, Trendy, Ever-changing</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="two" id="two_three" value="Bold Trendsetter">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="two_three">Unapologetic, Vibrant, Colorful</label>
              </div>
            </div>
            <div class="field-group">
              <label>3. Which of these color palettes would you pick for an outfit?</label>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="three" id="three_one" value="Timelessly Minimal">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="three_one">Layered neutrals and muted tones</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="three" id="three_two" value="Modern Style-Seeker">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="three_two">Classic shades with a pop of color</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="three" id="three_three" value="Bold Trendsetter">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="three_three">You have no rules or preferred color palettes when it comes to outfits</label>
              </div>
            </div>
            <div class="field-group">
              <label>4. Which of these trends do you enjoy the most?</label>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="four" id="four_one" value="Timelessly Minimal">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="four_one">Vintage inspired, simplistic pieces</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="four" id="four_two" value="Modern Style-Seeker" >
                  <span class="checkmark">
                  </span>
                </span>
                <label for="four_two">Mix'n'match, modern street style trends</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="four" id="four_three" value="Bold Trendsetter">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="four_three">Colorblock, mixed patterns and unique silhouettes</label>
              </div>
            </div>
            <div class="field-group">
              <label>5. Which of the following wardrobes resemble yours the most?</label>
             {% section 'subscription_slider2' %}
            </div>
            <div class="field-group">
              <label>6. How would you describe your wardrobe?</label>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="six" id="six_one" value="Timelessly Minimal">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="six_one">A true classic with traditional silhouettes and shades</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="six" id="six_two" value="Modern Style-Seeker">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="six_two">The perfect mix of everyday go-tos and a few more vibrant designer creations</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="six" id="six_three" value="Bold Trendsetter">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="six_three">A personal wonderland filled with colors, patterns and different silhouettes</label>
              </div>
            </div>
            <div class="field-group">
              <label>7. Which of these scarves do you like most from our collection? </label>
              {% section 'subscription_slider3' %}
            </div>
            <div class="field-group">
              <label>8. You like your accessories...</label>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="eight" id="eight_one" value="Timelessly Minimal">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="eight_one">To effortlessly compliment your elegant aesthetic without overpowering the outfit</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="eight" id="eight_two" value="Modern Style-Seeker">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="eight_two">To adapt to your mood and outfit, whether you're wearing casual monochromes or a vibrant floral pattern</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="eight" id="eight_three" value="Bold Trendsetter">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="eight_three">To bring a pop of color and life to your looks</label>
              </div>
            </div>
            <div class="field-group nine-que">
              <label>9. With the Scarflings Subscription, you are hoping to...</label>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="nine" id="nine_one" value="Timelessly Minimal">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="nine_one">Find the perfect scarves to accompany your monochrome looks</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="nine" id="nine_two" value="Modern Style-Seeker">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="nine_two">Build up a scarf wardrobe blended with minimal and more experimental pieces</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="nine" id="nine_three" value="Bold Trendsetter">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="nine_three">Create an edit of unapologetic accessories to bring a sense of boldness to outfits</label>
              </div>
            </div>
            <div class="submitButton scrollToForm">
            	<button type="button" id="submitButton">WHICH SUBSCRIPTION BOX IS RIGHT FOR ME?</button>
            </div>
        </form>
      </div>
       <div class="progressSection">
         <h2>Please Wait</h2>
         <p>Calculating your results..</p>
          <div class="cssProgress">
        <div class="progress2">
          <div class="cssProgress-bar" data-percent="100" style="width: 100%">
            <span class="cssProgress-label">100%</span>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
          </div>
        </div>
      </div>
     </div>
      <div class="resultSection">
        <p class="bigPara">You are a</p>
        <img class="timeless" src="{{ 'timeless-result.png' | asset_url }}"  style="display:none;">
         <img class="modern" src="{{ 'modern-result.png' | asset_url }}"  style="display:none;">
         <img class="trendsetter" src="{{ 'trendsetter.png' | asset_url }}"  style="display:none;">
         <div class="resultSectionInner">
         
         </div>
         <div class="recommended_products">
           <p class="or">OR</p>
           <h3>Not sure about a long-term commitment?</h3>
           <p>If you wouldnt like to treat yourself every month, we have a few recommendations for you, picked by our style experts:</p>
           {% section 'timelessly-minimal-product' %}
           {% section 'modern-style-seeker-product' %}
           {% section 'bold-trendsetter-product' %}

        </div>          
      </div>
   </div>
  
</div>
  <div class="middle_bg" style="background-image:url('{{ 'bg-right.png' | asset_url }}')">
      </div>
  <div class="bottom_bg" style="background-image:url('{{ 'bg-right.png' | asset_url }}')">
      </div>
   <div class="result bottom_bg" style="background-image:url('{{ 'bg-left.png' | asset_url }}')">
   </div>
 
</section>

{% section 'testimonial__bg_title_user_image' %}
  
  		 {% section 'about-right-image-section' %}
 		
  		{% section 'welcome-cta-section' %}

<script>
    $(document).ready(function(){
     
     $('.scarvesSlider, .wardrobeSlider, .outfitSlider').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 3,
         arrows:true,
        responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
      
      });
  
    $(' .scarvesSlider .slick-prev.slick-arrow,  .wardrobeSlider .slick-prev.slick-arrow,  .outfitSlider .slick-prev.slick-arrow').html('<i class="fa fa-angle-left" aria-hidden="true"></i>');
  	$(' .scarvesSlider .slick-next.slick-arrow, .wardrobeSlider .slick-next.slick-arrow,  .outfitSlider .slick-next.slick-arrow').html('<i class="fa fa-angle-right" aria-hidden="true"></i>'); 
 
		var loopid = $(".outfitSlider .imageSlide input");
        var i = 0; // define variable i as your "index"
        $(loopid).each(function(index) {
            i++; // Increase i by 1 each time you loop through your h2 elements
            $(this).attr("id", "outfitSlider" + i);// Use $(this) to pull out the current element
        	$(this).next().attr("for", "outfitSlider" + i);
        });
      
      
      var loopid = $(".wardrobeSlider .imageSlide input");
        var i = 0; // define variable i as your "index"
        $(loopid).each(function(index) {
            i++; // Increase i by 1 each time you loop through your h2 elements
            $(this).attr("id", "wardrobeSlider" + i); // Use $(this) to pull out the current element
        	$(this).next().attr("for", "wardrobeSlider" + i);
        });
      
      	var loopid = $(".scarvesSlider .imageSlide input");
        var i = 0; // define variable i as your "index"
        $(loopid).each(function(index) {
            i++; // Increase i by 1 each time you loop through your h2 elements
            $(this).attr("id", "scarvesSlider" + i); // Use $(this) to pull out the current element
        	$(this).next().attr("for", "scarvesSlider" + i);
        });
      $('a.btn.btn--cta.cpsgts.scrollToForm').click(function() {
          $(".progressSection, .resultSection").hide();
          $(".subFormsection").removeClass("resultPopup");
          $(".subFormsection").removeClass("progressPopup");
          $(".questionnaireSection").show();

        });
      

       $(".formSection .submitButton").click(function(){
         if ($('.formSection input:checked').length == 9) {
          $(".questionnaireSection").hide();
          $(".progressSection").show();
          $(".subFormsection").addClass("progressPopup");
           $("#section_k_question_banner_section_mobile .simpletext").hide();
        setTimeout(function(){ 
              $(".progressSection").hide();
              $(".resultSection").show();
              $(".subFormsection").addClass("resultPopup");
          	$(".resultSectionInner button.ro-subscribe-btn.subscribe_button").html("YES, I WANT TO RESERVE MY SUBSCRIPTION BOX <img src='https://cdn.shopify.com/s/files/1/0070/0835/4356/t/69/assets/smiling-face-with-3-hearts.png?v=1586612736'>");
        
 
     	 }, 5000);
           
         
        var arr = []; // take an array to store values
        $('input[type="radio"]:checked').each(function(){
           arr.push($(this).val());  //push values in array
        });
        var frequency = {};  // array of frequency.
        var max = 0;  // holds the max frequency.
        var result;   // holds the max frequency element.
        for(var v in arr) {
                frequency[arr[v]]=(frequency[arr[v]] || 0)+1; // increment frequency.
                if(frequency[arr[v]] > max) { // is this frequency > max so far ?
                        max = frequency[arr[v]];  // update max.
                        result = arr[v];          // update result.
                }
        }
		var timelessMinimal = $("#timelessly-minimal").html();
        var modernStyleSeeker = $("#modern-style-seeker").html();
        var boldTrendsetter = $("#bold-trendsetter").html();
        var timelessImg = $(".timeless").attr("src");
        var modernImg = $(".modern").attr("src");
        var trendsetterImg = $(".trendsetter").attr("src");
        if (result == "Timelessly Minimal"){
			$(".resultSectionInner").html(timelessMinimal);
          	$('.resultSectionInner img').attr("src",timelessImg);
          	$("#shopify-section-modern-style-seeker-product, #shopify-section-bold-trendsetter-product").hide();
          	
          	
        }
        else if(result == "Modern Style-Seeker"){
			$(".resultSectionInner").html(modernStyleSeeker);
          	$('.resultSectionInner img').attr("src",modernImg);
          	$("#shopify-section-timelessly-minimal-product, #shopify-section-bold-trendsetter-product").hide();
          	
        }
        else{
        	$(".resultSectionInner").html(boldTrendsetter);
          	$("#shopify-section-timelessly-minimal-product, #shopify-section-modern-style-seeker-product").hide();
          	
          	$('.resultSectionInner img').attr("src",trendsetterImg);
        }
      }else{
         $('.subFormError').show(); 
         }

      });
      
       
     
       
  
      
      $(".scrollToForm").click(function(){
        
         var window_width = $(window).width();
         
            if(window_width > 768){
                $('html, body').animate({
                scrollTop: $("#subscriptionFormsection").offset().top - parseInt(115)
            });
            }else{
                 $('html, body').animate({
                scrollTop: $("#subscriptionFormsection").offset().top - parseInt(95)
            });
            }

      
      });

    });

</script>  


<script>
$(document).ready(function(){
  
  $("p").each(function() {

      if($.trim($(this).html()).length == 0) {
         $(this).remove();
      }

  });
  
 
});

function makeTimer() {

	//		var endTime = new Date("29 April 2018 9:56:00 GMT+01:00");	
		
  		var monthLeft = $(".date .month").html();
  		var dayLeft = $(".date .day").html();
  		var yearLeft = $(".date .year").html();
  		var endTime = new Date(dayLeft +"" + monthLeft + "" + yearLeft + " 9:56:00 GMT+01:00");			
			endTime = (Date.parse(endTime) / 1000);

			var now = new Date();
			now = (Date.parse(now) / 1000);

			var timeLeft = endTime - now;

			var days = Math.floor(timeLeft / 86400); 
			var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
			var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
			var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));
  
			if (hours < "10") { hours = "0" + hours; }
			if (minutes < "10") { minutes = "0" + minutes; }
			if (seconds < "10") { seconds = "0" + seconds; }

			$("#days").html(days);
			$("#hours").html(hours);
			$("#minutes").html(minutes);
			$("#seconds").html(seconds);		

	}

	setInterval(function() { makeTimer(); }, 1000);

$(document).ready(function() {
  
  $('.formSection .submitButton').on('click', function() {
  $('.progressSection').progress_fnc();
    
  });
  
  $('.modalForm a').on('click', function() {
    var codevalue = $(".modalForm input").val();
    if (codevalue == "631235") {
      	$(this).attr("data-target", "#basicModal");
    	$('body').addClass("showOtherContent");
      	$('.code_error').hide();
    } 
    else {
    	$('.code_error').show();
    }
  
  });
  
  $('.reserveForm a.modal_btn').on('click', function() {
    var mailvalue = $(".reserveForm input").val();
  	var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
    if (testEmail.test(mailvalue)) {
    	$(this).attr("data-target", "#basicModal");
      	$('.email_error').hide();
      	console.log("yes");
    } 
    else {
    	$('.email_error').show();
      	console.log("no");
    }
  });
  
  
});
  	
    /*$('.modalForm a').on('click', function() {*/
    

(function($) {

  $.fn.progress_fnc = function(options) {
    var settings = $.extend({
      type: 'start'
    }, options);

    var div = $(this);
    var progress = div.find('.cssProgress');

    progress.each(function() {
      var self = $(this);
      var progress_bar = self.find('.cssProgress-bar');
      var progress_label = self.find('.cssProgress-label, .cssProgress-label2');
      var progress_value = progress_bar.data('percent');
      var percentage = parseInt(progress_value, 10) + '%';

      progress_bar.css({'width': '0%', 'transition': 'none', '-webkit-transition': 'none', '-moz-transition': 'none'});

      if(settings.type == 'start') {

        progress_bar.animate({
          width: percentage
        }, {
          duration: 5000,
          step: function(x) {
            progress_label.text(Math.round(x) + '%');
          }
        });
       

      } else if(settings.type == 'reset') {
        progress_bar.css('width', '0%');
        progress_label.text('0%');
      }

    });
  }
  
}(jQuery));
  
$(document).ready(jumpfunction);
$(window).on('resize',jumpfunction);

function jumpfunction() {
  
 $( ".formSection .field-group:not(.nine-que) input" ).each(function() {
    var window_width = $(window).width();
      $(this).on("click", function(){
        if(window_width > 768){
        	var nextQue = $(this).parent().closest('.field-group').next();
              $('html, body').animate({
              scrollTop: $(nextQue).offset().top - parseInt(130)
            });
        }else{
        	var nextQue = $(this).parent().closest('.field-group').next();
              $('html, body').animate({
              scrollTop: $(nextQue).offset().top - parseInt(50)
            });
        }
      

      });
  });
  
}
</script>