<!-- Title Page -->
<link href="https://fonts.googleapis.com/css?family=DM+Serif+Text:400,400i|Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
<style>
html,
body {
    scroll-behavior: smooth;
}
  .loginForm_section {
    position: relative;
    padding: 80px 0px;
}
.refund_note {
    text-align: center;
}
#shopify-section-refund-section {
    padding: 80px 0px 20px 0px;
}
.refund_note {
    text-align: center;
    width: 1000px;
    margin: 0 auto;
    max-width: 100%;
}
section .accordion-container h3 {
    font-size: 32px !important;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px !important;
}
html,
body {
    padding-right: 0px !important;
}

* {
    background-repeat: no-repeat;
}

img {
    width: auto;
    height: auto;
}

.page_title {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    /* background-color: #b64d27 !important; */
    background: #b64d27 !important;
}

.page_title {
    padding: 35px 0px !important;
}

.page_title h1 {
    font-size: 45px;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: unset !important;
}

html {
    padding-right: 0px !important;
    overflow-x: hidden !important;
}

header.header2 {
    position: relative;
}

.container-menu-header-v2 {
    position: relative;
    margin-top: 0px !important;
}

.simpletext h2 {
    color: #b44b2b;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.2em;
    margin-bottom: 15px;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
    font-family: 'DM Serif Text', serif !important;
}

section p {
    font-size: 17px !important;
    line-height: 1.7em !important;
    color: #000000 !important;
    font-weight: 400 !important;
    margin-bottom: 15px !important;
    font-family: 'Poppins', sans-serif !important;
}

body:not(.common-home) footer {
    margin-top: 0px !important;
}



p:last-child {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

section.bannerSection img {
    width: 100%;
    height: auto;
}

section#section_k_welcome-left-image-section {
    padding: 80px 0px;
}

.commonSection img {
    width: auto;
    height: 435px;
    margin-left: 30px;
}

.commonSection .simpletext {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

.roundLeftImage .roundImageinner {
    display: flex;
    padding-right: 0px;
    align-items: center;
}

.roundRightImage .roundImageinner {
    display: flex;
    padding-right: 0px;
    align-items: center;
}

.roundLeftImage .simpletext {
    padding-left: 20px;
}

.roundRightImage .simpletext {
    padding-right: 20px;
}

div#shopify-section-welcome-right-image-section {
    padding: 80px 0px;
}

.bottomBg {
    background-size: 400px;
    position: absolute;
    top: -124px;
    width: 400px;
    right: -115px;
    height: 450px;
    z-index: -1;
}

.rightBg {
    background-size: 400px;
    position: absolute;
    top: -124px;
    width: 400px;
    right: -115px;
    height: 450px;
    z-index: -1;
}
#shopify-section-return-section-3 {
    position: relative;
    padding: 25px 0px 80px 0px;
}

.roundImageinner p span {
    color: #c1852d;
    font-weight: bold;
}
#shopify-section-testimonial__bg_title_user_image {
        padding: 95px 0px 20px 0px;
    }
    #shopify-section-testimonial__bg_title_user_image section {
        padding: 0px;
    }
    #section_k_testimonial__bg_title_user_image .container > div {
        box-shadow: 0px 0px 13px #ccc !important;
        padding: 65px 60px 60px 60px !important;
        background: #fff !important;
        border-radius: 10px;
      
    }
    #section_k_testimonial__bg_title_user_image .container > div div {
        padding: 0px;
    }
    #shopify-section-testimonial__bg_title_user_image h4 {
        color: #bd812d;
        margin: 35px 0px 55px 0px;
    }
    .user_card img {
        width: 150px !important;
        height: 150px !important;
    }
    .user_address {
        color: #000 !important;
        font-size: 16px !important;
    }
    .user_data .user_name {
        color: #b54f28 !important;
        font-size: 25px !important;
        font-weight: 500 !important;
    }
    .user_position {
        color: #c3882b !important;
        text-transform: uppercase !important;
        font-weight: bold !important;
    }
    .user_data {
        margin-left: 30px !important;
        text-align: left !important;
    }
    #section_k_testimonial__bg_title_user_image .container > div {
        box-shadow: 0px 0px 13px #ccc !important;
        padding: 65px 60px 60px 60px !important;
        background: #fff !important;
    }
.user_card {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user_data .user_name {
        color: #b54f28 !important;
        font-size: 25px !important;
        font-weight: 500 !important;
        margin: 0px !important;
    }
    .user_position {
        color: #c3882b !important;
        text-transform: uppercase !important;
        font-weight: bold !important;
        margin: 0px !important;
        padding-bottom: 0px;
    }
      
#shopify-section-testimonial__bg_title_user_image section {
    padding: 0px;
    background-repeat: no-repeat;
    background-position: calc(100% - -185px) bottom;
    background-size: 475px;
    background-image: none !important;
}
.commonSection {
    position: relative;
}
hr {
    border-top: 1px solid #ddd !important;
    width: 1030px;
    margin: 0 auto !important;
    max-width: 100%;
}
.postCommonsection {
    padding: 70px 0px 0px 0px;
}
.postCommonsection img {
    width: auto;
    height: 450px;
    max-width: 100%;
}
.imageBorder {
    position: absolute;
    width: auto;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: 19px;
    z-index: -1;
    left: 7px;
    border: 8px solid #bd812d;
}
.imageOuterinner {
    height: 435px;
    width: 435px;
    position: relative;
}
.postCommonsection img {
    width: 435px;
    height: 450px;
    border-radius: 50%;
    object-position: top;
    margin: 0px !important;
    position: relative;
    z-index: 99;
    object-fit: contain;
}
.well.login_form_sec {
    filter: drop-shadow(4.5px 5.362px 8px rgba(0,0,0,0.13));
    background-color: #ffffff;
    border: 0px;
    padding: 65px 60px 60px 60px !important;
    background: #fff !important;
    border-radius: 10px !important;
    text-align: center;
    width: 900px;
    margin: 0 auto;
  max-width: 100%;
}
 .loginForm_section .login_form_sec h2 {
    color: #000 !important;
    font-size: 40px!important;
    margin-bottom: 0px !important;
}
.leftBg {
    background-size: 400px;
    position: absolute;
    top: 80px;
    width: 400px;
    right: auto;
    height: 450px;
    z-index: -1;
    background-position: 0px 0px;
    left: 0px;
    bottom: auto;
}

.simpletext h5 {
    color: #bd812d;
    margin-bottom: 5px;
    font-size: 24px;
}
.roundRightImage.postCommonsection .imageOuter {
    text-align: right;
    position: relative;
    top: -25px;
}
.postCommonsection .roundImageinner.row {
    padding: 0px 0px 0px 0px !important;
    align-items: flex-start;
}
.roundRightImage.postCommonsection .imageBorder {
    right: 7px;
    left: auto;
}
.roundRightImage.postCommonsection .row .simpletext {
    position: relative;
    left: 0px;
    padding-left: 30px;
    padding-top: 20px;
}
.roundLeftImage.postCommonsection .row .simpletext {
    position: relative;
    right: 65px;
}
#shopify-section-testimonial__bg_title_user_image {
    padding: 10px 0px 20px 0px;
}
section#section_k_about-right-image-section h2 {
    width: 400px;
    max-width: 100%;
}
#shopify-section-about-right-image-section {
    padding: 110px 0px 120px 0px;
}
.bottomBg {
    background-size: 450px;
    position: absolute;
    top: -50px;
    width: 400px;
    right: -75px;
    height: 500px;
    z-index: -1;
}
section#section_k_about-right-image-section img {
    top: 10px;
    position: relative;
}

.url-details {
    margin: 0;
    position: absolute;
    height: 417px;
    width: 417px;
    left: -1px;
    top: 24px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    margin: 0 auto;
}
.url-overlay {
    margin: 0;
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 420px;
    width: 420px;
    left: -1px;
    top: 18px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 50%;
    margin: 0 auto;
}

.url-details a.btn {
    margin: 0px !important;
}
.url-details .btn.btn--cta.cpsgts {
    background: #b65327 !important;
    font-size: 18px;
    height: auto;
    border-radius: 8px !important;
    text-align: center;
    padding: 0px;
    padding: 15px 25px;
    line-height: 1em;
    font-weight: 400;
}
a.btn{
   font-family: 'DM Serif Text', serif !important;
}
.url-details .btn.btn--cta.cpsgts:hover, .url-details .btn.btn--cta.cpsgts:focus, .url-details .btn.btn--cta.cpsgts:active {
    background-color: #d45426 !important;
    border: 0px !important;
    box-shadow: unset !important;
    
}
.mobileBtn{
   display: none !important;
}
.postCommonsection .imageOuterinner:hover .url-details {
    opacity: 1;
    z-index: 999;
}
.postCommonsection .imageOuterinner:hover .url-overlay {
    opacity: 1;
    z-index: 99;
}
.roundRightImage.postCommonsection .imageOuter .imageOuterinner {
    margin-left: 50px;
}
section#section_k_post-left-image-section-1 {
    padding: 70px 0px 80px 0px;
}
#section_k_post-left-image-section-1 .leftBg {
    top: 30px;
}
#section_k_post-left-image-section-1 .imageOuter {
    position: relative;
    top: 33px;
}
section#section_k_shipping-section1 .imageOuter {
    position: relative;
    top: 30px;
}
.rightBg {
    background-size: 400px;
    position: absolute;
    top: 80px;
    width: 400px;
    right: 0px;
    height: 600px;
    z-index: -1;
    background-position: calc(100% - 0px) 0px;
}
section#section_k_shipping-section1 {
    padding: 10px 0px 0px 0px;
}
.roundLeftImage.postCommonsection .row .simpletext {
    position: relative;
    right: 0px;
}
section#section_k_post-left-image-section-2 {
    padding: 162px 0px 80px 0px;
}
section#section_k_post-left-image-section-2 .leftBg {
    top: 10px;
}
section#section_k_post-left-image-section-2 .imageOuter {
    position: relative;
    top: -46px;
}
#section_k_shipping-section2 .imageOuterinner .url-overlay, #section_k_shipping-section2 .imageOuterinner .url-details {
    height: 413px;
    width: 413px;
    left: -1px;
    top: 28px;
}
#section_k_shipping-section1 .url-overlay, #section_k_shipping-section1 .url-details {
    height: 419px;
    width: 418px;
    left: -1px;
    top: 19px;
}
section.postBannersection h2 {
    margin-bottom: 5px !important;
}
.logBannersection .simpletext h2 {
    color: #000 !important;
    font-size: 40px !important;
    width: auto;
}
.logBannersection .simpletext a.btn {
    margin: 10px 0 0 0 !important;
}
.logBannersection .simpletext h5 {
    color: #000;
    margin-bottom: 5px;
    font-family: poppins, sans-serif !important;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.accordion-container {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    width: 700px;
}
.accordion-container > h2{
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.set > a {
    line-height: 1.3em;
    display: flex;
    align-items: center;
    padding: 0px;
    text-decoration: none;
    color: #b44b2b;
    font-weight: 400;
    border-bottom: 0px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    font-family: 'DM Serif Text', serif !important;
    transition: all 0.2s linear;
    font-size: 17px;
  	padding: 20px 40px 22px 25px;
}
.set > a i {
    float: right;
    margin-top: 0px;
    position: absolute;
    right: 25px;
  	color: #000;
  	font-weight:bold;
}
.content p:last-child {
    margin-bottom: 10px !important;
}
.set > a.active{
  background-color:#fff;
  color: #b44b2b;
}
.content {
    background-color: #fff;
    border: 0px;
    padding: 10px 40px 22px 25px;
    display: none;
}
.content p {
    padding: 0px;
    margin: 0 0 30px 0 !important;
    color: #333;
}
.postCommonsection .row .simpletext {
    position: relative;
    top: 0px;
    right: 0px;
}
.content p span, .content span {
    color: #c18a2b !important;
} 
.container {
    width: 1140px!important;
  max-width: 100%!important;
}
 a.forget_pass {
    color: #000 !important;
    float: left;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    font-size: 15px;
    font-family: 'DM Serif Text', serif !important;
    border-bottom: 1px solid #000;
    line-height: 1em;
}
.submit {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0 0 0;
    flex-direction: column;
    align-items: center;
}
.submit.lost-password.form-group {
    margin: 30px 0px 0px 0px;
}
a.btn-acct {
    color: #000;
    margin: 30px 0 0 0;
    font-size: 19px;
    font-family: 'DM Serif Text', serif !important;
    border-bottom: 1px solid #000;
    line-height: 1em;
    text-transform: lowercase;
}
.logBannersection .simpletext h2 {
    color: #000 !important;
    font-size: 40px !important;
    width: auto;
    margin-bottom: 10px !important;
}
section.logBannersection.logBannersectionmob {
    display: none;
}
  form#customer_login {
    margin: 40px 0px 0px 0px;
}
 .simpletext a.btn, .logBannersection .simpletext a#button-account,  .submit input.btn,  .submit button#button-account{
    background: #b65327 !important;
    color: #fff !important;
    padding: 8px 32px;
    margin:10px 0px 0px 0px !important;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 10px !important;
    display: inline-block;
    line-height: 1.6em;
    font-size: 22px !important;
    width: auto;
    text-transform: uppercase;
    min-width: 200px;
    height: auto;
}
  section .form-group input::placeholder{
    color: #a4a4a4 !important;
  }
section .form-group input.form-control {
    height: 60px;
    border: 2px solid #e6e6e6 !important;
    color: #a4a4a4 !important;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100% !important;
}
 .simpletext a.btn:hover, .logBannersection .simpletext a#button-account:hover, .submit input.btn:hover,  .submit button#button-account:hover {
    background: #ab4618 !important;
    animation-name: unset !important;
    color: #fff !important;
}
#recover_password h3 {
    color: #000 !important;
    margin-bottom: 5px !important;
}
#recover_password form {
    margin-top: 35px !important;
}

@media (min-width:992px) and (max-width:1100px) {
    .roundRightImage .roundImageinner {
        padding-right: 0px;
    }
    .roundLeftImage .roundImageinner {
        padding-right: 0px;
    }
     .container {
        width: 992px !important;
        max-width: 100%!important;
        padding: 0px 0px !important;
    }
    .rightBg {
    background-size: 325px;
}
.leftBg {
    background-size: 325px;
    height: 400px;
}
}
@media (min-width: 768px){
  .mobile_only{
    display: none;
  }
}
@media (min-width:768px) and (max-width:1100px) {
#section_k_shipping-section2 .imageOuterinner .url-overlay, #section_k_shipping-section2 .imageOuterinner .url-details {
    height: 300px;
    width: 299px;
    left: 0px;
    top: 19px;
}
 .container {
        width: 100% !important;
        max-width: 100%!important;
        padding: 0px 50px !important;
    }
.postCommonsection .roundImageinner.row {
    margin: 0px !important;
}
#section_k_shipping-section1 .url-overlay, #section_k_shipping-section1 .url-details {
    height: 304px;
    width: 303px;
    left: 0px;
    top: 15px;
}
.url-details {
    height: 298px;
    width: 297px;
    left: -1px;
    top: 32px;
}
.url-overlay {
    height: 298px;
    width: 297px;
    left: -1px;
    top: 32px;
}
   
    .roundRightImage .simpletext {
        padding-right: 30px;
    }
    section#section_k_post-left-image-section-2 {
        padding: 140px 0px 10px 0px;
    }
    section#section_k_post-left-image-section-2 .imageOuter {
        position: relative;
        top: -20px;
    }
    
    section#section_k_post-left-image-section-2 .leftBg {
        top: 30px;
    }
    section#section_k_shipping-section1 {
        padding: 10px 0px 0px 0px;
    }
    .bottomBg {
        background-size: 350px;
        background-position: calc(100% - -15px) 0px;
    }
    .simpletext h2 {
        font-size: 36px;
    }
    section p {
        font-size: 16px!important;
    }
    .roundRightImage .roundImageinner {
        padding-right: 0px;
    }
    .roundLeftImage .roundImageinner {
        padding-right: 0px;
    }
    .commonSection img {
        height: 325px;
    }
    .postCommonsection img {
        height: 325px;
    }
    .roundLeftImage .simpletext {
        padding: 0px;
    }
  .imageOuter {
    padding: 0px !important;
}
    .roundRightImage .simpletext {
    padding: 0px !important;
}
    .page_title h1 {
        font-size: 36px;
    }
.imageOuterinner {
    height: 370px;
    width: 370px;
    position: relative;
    text-align: center;
    margin: 0 50px 0px auto !important;
}
#section_k_shipping-section2 .imageOuterinner {
    height: 370px;
    width: 370px;
    position: relative;
    margin: 0!important;
}
    .postCommonsection .roundImageinner.row {
          padding: 0px 0px 0px 0px !important;
          align-items: flex-start;
      }
      .roundLeftImage.postCommonsection .row .simpletext {
          position: relative;
          right: 0px;
      }

.rightBg {
    background-size: 300px;
}
.leftBg {
    background-size: 300px;
}
}

@media (max-width: 767px) {
  .desktop_only{
    display: none;
  }
.logBannersection {
    height: 375px;
}
section.logBannersection.logBannersectionmob {
    display: inline-block;
    height: auto;
}
form#customer_login {
    margin: 25px 0px 0px 0px;
}
section .form-group input.form-control {
    height: 45px;
    margin-top: 10px;
    padding: 5px 10px;
    width: 100% !important;
}
a.btn-acct{
    margin: 20px 0 0 0;
    font-size: 17px;
}
#recover_password form {
    margin-top: 25px !important;
}
.submit.lost-password.form-group {
    margin: 20px 0px 0px 0px;
}
.form-group {
    margin-bottom: 0px;
}
.loginForm_section .login_form_sec h2 {
    font-size: 21px!important;
    margin-bottom: 10px !important;
}
.loginForm_section {
    position: relative;
    padding: 50px 0px 50px 0px;
}
.simpletext a.btn, .logBannersection .simpletext a#button-account, .submit input.btn, .submit button#button-account {
    background: #b65327 !important;
    color: #fff !important;
    padding: 7px 15px;
    font-size: 19px !important;
    width: auto;
    text-transform: uppercase;
    min-width: 175px;
    height: auto;
}
section.logBannersection .simpletext a#button-account {
    margin: 0px 0 0 0 !important;
}
  section.logBannersection:not(.logBannersectionmob) .simpletext {
    display: none;
}
a.forget_pass {
    font-size: 14px;
}
.well.login_form_sec {
    padding: 30px 20px 40px 20px !important;
}
.logBannersection .col-8 {
    padding-right: 0px !important;
}
.logBannersection .simpletext a.btn {
    margin: -5px 0 0 0 !important;
    min-width: unset;
    font-size: 17px !important;
    border-radius: 7px !important;
}
.logBannersection .simpletext h5 {
    font-size: 14px;
    margin-bottom: 15px;
}
#shopify-section-return-section-3 {
    position: relative;
    padding: 0px 0px 40px 0px;
}
#shopify-section-client-section section.client_section.csbg-yellow {
    margin: 0px !important;
    padding: 0px;
}
#shopify-section-client-section  .client_section .container-fluid {
    padding-bottom: 0px!important;
    padding-top: 0px;
}
    .page_title h1 {
        font-size: 24px;
        line-height: 23px;
        color: #fcf9f4;
    }
    .page_title {
        padding: 13.5px 0px !important;
    }
    .container {
        width: 100%!important;
        max-width: 100%!important;
        padding: 0px 25px!important;
    }
    .simpletext h2 {
        color: #b44b2b;
        font-weight: 400;
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.2em;
    }
    section p {
        font-size: 14px!important;
        line-height: 17pt!important;
        color: #000000!important;
        font-weight: 400!important;
        margin-bottom: 20px!important;
        padding-top: 0px!important;
    }
    .roundLeftImage .roundImageinner {
        display: flex;
        padding-right: 0px;
        align-items: center;
        flex-direction: column;
    }
    section#section_k_welcome-left-image-section {
        padding: 55px 0px;
    }
    .commonSection img {
        width: auto;
        height: 285px;
        margin-bottom: 40px;
    }
    .imageBorder {
        width: 280px;
        top: 10px;
        height: 280px;
        left: 7px;
    }
    .postCommonsection img {
        width: auto;
        height: auto !important;
        max-width: 100%;
        margin-bottom: 40px !important;
        width: 265px !important;
    }
    .roundLeftImage .simpletext {
        padding-left: 0px;
    }
    .commonSection .simpletext h2 {
        text-align: center;
    }
    section#section_k_welcome-left-image-section {
        padding: 55px 0px 30px 0px;
    }
    .simpletext a.btn {
        padding: 6px 25px;
        font-size: 21px !important;
        margin: 15px 0px 0px 0px !important;
    }
    div#shopify-section-welcome-right-image-section {
        padding: 70px 0px 65px 0px;
    }
    .roundImageinner p {
        text-align: center;
    }
    .roundRightImage .roundImageinner img {
        order: 1;
    }
    .roundRightImage .roundImageinner {
        padding-right: 0px;
    }
    .roundRightImage .roundImageinner {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-right: 0px;
    }
    .roundRightImage .simpletext {
        padding-right: 0px;
        order: 2;
    }
    .commonSection .simpletext {
        width: 100%;
        align-items: center;
        top: unset !important;
    }
    #shopify-section-testimonial__bg_title_user_image {
        padding: 10px 0px 50px 0px;
    }
    #shopify-section-about-right-image-section {
        padding: 00px 0px 60px 0px;
    }
    #section_k_testimonial__bg_title_user_image .container > div {
        box-shadow: 0px 0px 13px #ccc !important;
        padding: 40px 25px 40px 25px !important;
        background: #fff !important;
        border-radius: 10px;
    }
    .user_card img {
        width: 75px !important;
        height: 75px !important;
    }
    .user_data .user_name {
        font-size: 18pt !important;
        margin: 0px 0px 8px 0px !important;
        line-height: 18pt;
    }
    .user_position {
        font-size: 10pt !important;
        line-height: 1.2em !important;
    }
    .user_address {
        font-size: 10pt !important;
        line-height: 1.3em !important;
    }
    .user_data {
        margin-left: 12px !important;
        text-align: left !important;
    }
    #shopify-section-testimonial__bg_title_user_image h4 {
        color: #bd812d;
        margin: 20px 0px 30px 0px;
    font-size: 12pt;
    }
#shopify-section-testimonial__bg_title_user_image section {
        background-image: none !important;
    }
#shopify-section-testimonial__bg_title_user_image .text-center.simpletext h2 span.trademark {
    font-size: 14px !important;
}
.url-details .btn.btn--cta.cpsgts {
    font-size: 15px;
    padding: 12px 18px;
  }
  .mobileBtn{
     display: inline-block !important;
  }
  .url-details, .url-overlay {
    display: none !important;
  }
.postCommonsection a.btn {
    line-height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px !important;
    background: #b44b2b !important;
    border: 0px;
    color: #fff !important;
    margin: 5px auto 0px auto !important;
    padding: 10px 40px;
    width: auto;
    min-width: unset;
  }
  .postCommonsection a.btn:hover, .postCommonsection a.btn:focus, .postCommonsection a.btn:active {
      background: #b44b2b !important;
      opacity: 1 !important;
      color: #fff !important;
      box-shadow: unset !important;
  }
  .postCommonsection .roundImageinner.row {
    padding: 0px !important;
    align-items: flex-start;
    margin: 0px !important;
}
.imageOuter {
    top: 0px !important;
}
.postCommonsection .row .simpletext {
    left: 0px !important;
    right: 0px !important;
    margin: 0 auto !important;
}
.postCommonsection .row .simpletext {
    left: 0px !important;
    right: 0px !important;
    margin: 0 auto !important;
    padding: 0px !important;
}
.imageOuterinner {
    height: 280px;
    width: 280px;
    margin: 0 auto !important;
}
.postCommonsection {
    padding: 35px 0px 10px 0px !important;
}
.postCommonsection .imageOuter {
    margin: 0px auto 30px auto;
}
hr {
    border: 0px !important;
}
.roundLeftImage .leftBg {
    top: 0px !important;
    left: 0px;
    width: 300px;
    height: 320px;
    background-size: 175px;
    background-position: 0px 10px;
}
.corier_section ul.tabs {
    margin: 20px auto 30px auto;
}
#shopify-section-shipping-section2 {
    margin-bottom: 15px
}
.imageOuterinner {
    height: auto;
    width: auto;
    margin: 0 auto !important;
}
.postCommonsection img {
    height: auto;
    max-width: 100%;
    margin: 0px auto !important;
    width: 265px !important;
    display: block;
}
.roundRightImage.postCommonsection .rightBg {
    top: 0px !important;
    width: 300px;
    height: 300px;
    background-position: calc(100% - -0px) 10px;
    background-size: 175px;
}
.simpletext h5 {
    font-size: 18px;
}
.commonSection img {
    width: auto;
    height: 285px;
    max-width: 100%;
    margin: 40px 0px 0px 0px;
}
section.postBannersection .simpletext {
    padding: 25px 0px 20px 0px;
}
#shopify-section-post-banner h2 {
    margin-bottom: 10px !important;
}
section.postBannersection .row .col-lg-6 {
    padding: 0px !important;
}
section.postBannersection .row {
    padding: 0px 0px 0px 0px;
    margin: 0px -15px 0px 0px !important;
    width: auto;
    max-width: unset;
}
section.postBannersection h2 {
    font-size: 18px !important;
}
section.postBannersection .FirstSectImage {
    background-size: contain;
    background-position: right bottom !important;
    background-repeat: no-repeat;
}
.fullWidthtext p {
    padding: 0px 0px;
    text-align: left;
}
.roundImageinner p {
    text-align: left;
}
#shopify-section-refund-section {
    padding: 40px 0px 10px 0;
}
section .accordion-container h3 {
    font-size: 22px !important;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px !important;
}
.content {
    padding: 20px 0px 0px 0px;
}
.set > a i {
    right: 15px;
}
.content p {
    padding: 0px;
    margin: 0 0 20px 0 !important;
    color: #333;
}
.set {
    
    margin-bottom: 10px;
}
.leftBg, .rightBg {
    background-size: 200px;
    width: 300px;
    height: 250px;
}
.leftBg {
    bottom: 70px;
    background-position: -70px bottom;
    top: auto;
}
.rightBg {
    top: 80px;
    background-position: calc(100% - -60px) top;
    bottom: auto;
}
.set > a {
    font-size: 15px;
    line-height: 1.3em;
  padding: 10px 30px 12px 15px;
}
  .content{
     padding: 10px 30px 20px 15px;
  }
}
@media (min-width: 401px) and (max-width: 767px){
.postBannersection .row {
    padding: 25px 0px 0px 0px !important;
}
section.postBannersection .simpletext {
    padding: 25px 0px 45px 0px !important;
}
}
 @media (max-width: 358px){
  .user_position {
    font-size: 9pt !important;
    line-height: 1.2em !important;
}
    .user_address {
    font-size: 9pt !important;
    line-height: 1.3em !important;
}
  }
</style>
<style>
.FirstSectImage{
background-repeat:no-repeat;
}
.logBannersection {
    padding: 0px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 500px;
    display: flex;
    align-items: center;
}
.logBannersection .simpletext {
    padding: 0px 0px 0px 100px;
    margin: -50px 0 0 0;
}
.logBannersection .row {
    padding: 0px;
    width: 850px;
    margin: 0 auto;
    max-width: 100%;
}
.logBannersection .simpletext h2 {
    color: #000 !important;
    font-size: 40px !important;
    width: 385px;
}
.logBannersection .simpletext h2 span {
    color: #b44b2b !important;
}
section#section_k_post-banner {
    padding: 0px 0px 0px 0px;
}
.FirstSectImage {
    background-size: contain;
    background-position: 60px bottom !important;
    background-repeat: no-repeat;
}
.logBannersection h2 {
    margin-bottom: 7px;
}
.logBannersection .row {
    padding: 0px;
    width: 900px;
    margin: 0 auto;
    max-width: 100%;
}
@media (min-width: 1400px) {
.logBannersection {
    height: 550px;
}
}

  @media (min-width: 1600px) {
.logBannersection {
    height: 650px;
}
}

    @media (min-width: 1750px) {
.logBannersection {
    height: 750px;
}
}
@media (min-width:768px) and (max-width:991px){
.logBannersection .simpletext p{
font-size:15px!important;
}
.logBannersection .simpletext{
padding:50px 0px 50px 0px;
}
}


@media (max-width:767px){
.logBannersection .simpletext h2 {
    font-size: 20px !important;
    width: 100%;
    line-height: 1.3em;
    max-width: 100%;
}
.submit {
    margin: 0px 0 0 0;
}
 .logBannersection {
    padding: 0px !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 3% bottom;
    height: 220px;
    display: flex;
    align-items: center;
    width: 100%;
}

.logBannersection .row {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px !important;
    width: auto;
    max-width: unset;
}
.logBannersection .simpletext {
    padding: 30px 0px 30px 0px;
    margin: 0px 0 0 0;
    text-align: center;
}
.logBannersection .simpletext p{
    text-align: left;
}
section#section_k_shipping-banner .col-8 {
    padding-right: 0px;
}
}

@media (min-width:768px){

.logBannersection .FirstSectImage{
margin-top:20px!important;
}
}

</style>
<div class="shippingPage">
{% assign img_bg = '' %}
{% if page %}
           {% capture mybanner %}{{page.handle}}.jpg {% endcapture %}
           {% assign img_bg = mybanner | asset_url %}
{% endif %}
<section class="page_title p-t-40 p-b-50 flex-col-c-m"  {% if img_bg %} style="background-image:url({{ img_bg }});" {% else %} style="background-color:#000;" {% endif %}>
  <h1 class="snize-search-results-page-title l-text2 t-center">ACCOUNT</h1>
</section>

<section class="loginForm_section" id="section_k_{{ section.id }}">
  <div class="leftBg" style="background-image:url('{{ 'left-bg.png' | asset_url }}');
"></div>
    <div class="rightBg" style="background-image:url('{{ 'right-bg.png' | asset_url }}');
"></div>
	<div class="container">
      <div class="well login_form_sec">
          <h2>{{ page_title }}</h2>
            <p><strong>Your personal details</strong></p> 
           
        	{% form 'create_customer' %}
      <div  id="create-account-form " >
        <fieldset id="account" class="form-horizontal">
          
          {% include 'form-errors-custom' %}
          <div class="form-group required">
              <input type="text" value="" name="customer[first_name]" id="first_name" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.errors contains "first_name" %} class="error form-control" {% else %} class="form-control" {% endif %} autofocus>
          </div>
          <div class="form-group required">
            
              <input type="text" value="" name="customer[last_name]" id="last_name" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.errors contains "last_name" %} class="error form-control" {% else %} class="form-control" {% endif %}>
           
          </div>
          <div class="form-group required">
           
              <input type="text" value="" name="customer[email]" id="email" placeholder="{{ 'customer.register.email' | t }}" {% if form.errors contains "email" %} class="error form-control" {% else %} class="form-control" {% endif %} autocorrect="off" autocapitalize="off">
           
          </div>
          <div class="form-group required">
            
              <input type="password" value="" name="customer[password]" id="create_password" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error account-input" {% else %} class="form-control" {% endif %}>
            
          </div>
        </fieldset>
        <div class="submit">					
          <button name="submitcreate" id="button-account" type="submit" class="btn btn-primary">
            YES, LETS GO
          </button>
          <a class="btn-acct" href="{{ shop.url }}">or {{ 'customer.register.cancel' | t }}</a>

        </div>
      </div>
      {% endform %}
          </div>
    </div>
  </section>
  
<!-- content page -->

<!--Section1-->
  

</div>
<script>
  $(document).ready(function(){

    $("p").each(function() {

        if($.trim($(this).html()).length == 0) {
           $(this).remove();
        }

    });
    
    
  });
  
  
</script>