<style>
#shopify-section-about-right-image-section {
    padding: 0px 0px 100px 0px;
}
.bottomBg {
    background-size: 400px;
    position: absolute;
    top: -55px;
    width: 400px;
    right: 0px;
    height: 450px;
    background-position: calc(100% - -96px) 0px;
    z-index: 1;
    background-repeat: no-repeat;
}
#shopify-section-about-right-image-section{
    position: relative;
}

.roundImageinner p span {
    color: #b44b2b;
    font-weight: bold;
}
  #shopify-section-about-right-image-section span.or {
    text-align: center;
    padding: 12px 0px;
    font-weight: bold;
}
  
  #shopify-section-about-right-image-section .simpletext a.btn.take_ques_btn:hover {
    border: 1px solid #b57a23;
    background: #b57a23 !important;
    color: #fff !important;
    margin: 0px !important;
}
  #shopify-section-about-right-image-section .chatButton {
    display: flex;
    width: 300px;
    flex-direction: column;
    max-width: 100%;
    margin: 10px 0px 0px 0px;
}
#shopify-section-about-right-image-section .simpletext a.btn.take_ques_btn {
    border: 1px solid #c3862b;
    background: #c3862b !important;
    color: #ffffff !important;
    margin: 0px !important;
}
.roundRightImage .roundImageinner {
    display: flex;
    padding-right: 0px;
    align-items: center;
    width: 100%;
}
.roundRightImage .roundImageinner .simpletext h2 {
    width: auto;
    text-align: left !important;
    max-width: 100%;
}
.roundRightImage .simpletext {
    padding-right: 60px;
}
.commonSection img {
    width: auto;
  	height: 470px;
}
.right_image_col{
  width: auto;
    height: auto;
    max-width: 100%;
    position: relative;
    z-index: 9;
    top: 15px;
    margin-right: 20px;
}
.roundRightImage .simpletext a.btn {
    background: #b65327 !important;
    color: #fff !important;
    padding: 8px 32px;
    margin: 15px 0px 0px 0px !important;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 10px !important;
    display: inline-block;
    line-height: 1.6em;
    font-size: 22px !important;
    width: auto;
    text-transform: uppercase;
    min-width: 200px;
    height: auto;
}
.roundRightImage .simpletext a.btn:hover {
    background: #ab4618 !important;
    animation-name: unset !important;
    color: #fff !important;
}
@media (min-width:992px) and (max-width:1160px){

.roundRightImage .roundImageinner {
    padding-right: 0px;
}


}
@media (min-width:768px) and (max-width:991px){
.roundRightImage .roundImageinner {
    padding-right: 0px;
}
.right_image_col {
       width: auto;
  	margin-right: 0px;
  height: auto;
}
 .commonSection img {
    width: auto;
  	 height: 325px;
}
}

  @media only screen and (max-width: 767px){
 #shopify-section-about-right-image-section .chatButton {
    margin: 0px auto 0 !important;
}
#shopify-section-about-right-image-section span.or {
    font-size: 14px;
}
.bottomBg {
    background-size: 200px;
    position: absolute;
    top: 0px;
    width: 200px;
    right: 00px;
    background-position: calc(100% - -55px) 50px;
}
.roundRightImage .roundImageinner .simpletext h2 {
    text-align: center !important;
  	margin-bottom: 25px !important
}
.roundRightImage .roundImageinner .simpletext p {
    text-align: left !important;
}
.right_image_col {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin-right: 0px;
    margin-bottom: 45px;
    order: 1;
    text-align: center;
}
 .commonSection img {
    width: auto;
  	 height: 285px;
   margin-bottom: 0px !important;
}
#shopify-section-about-right-image-section {
    padding: 55px 0px 60px 0px;
}

.roundRightImage .roundImageinner {
    padding-right: 0px;
}
.roundRightImage .roundImageinner {
    align-items: center;
    justify-content: center;
    flex-direction: column;
     padding-right: 0px;
}
.roundRightImage .simpletext {
    padding-right: 0px;
    order: 2;
    width: 100%;
}
/* .roundRightImage .simpletext p, .roundRightImage .simpletext h2{
    padding-right: 10px !important;
  	padding-left: 10px !important;
} */
.roundRightImage .simpletext a.btn {
    padding: 6px 25px;
    font-size: 21px !important;
    margin: 15px 0px 0px 0px !important;
}
}
@media (min-width: 1700px){
	#shopify-section-testimonial__bg_title_user_image {
	    padding: 160px 0px 60px 0px;
	}	
}
  
  	#shopify-section-testimonial__bg_title_user_image {
	    padding: 160px 0px 120px 0px;
	}
@media (max-width: 360px) {
	.roundRightImage .roundImageinner .simpletext h2 {
		font-size: 19px !important;
	}
  
}
@media (max-width: 340px) {
	.roundRightImage .roundImageinner .simpletext h2 {
		font-size: 18px !important;
	}
  
}
  
</style>
<section class="roundRightImage commonSection" id="section_k_{{ section.id }}">
    <div class="bottomBg" style="background-image:url('{{ section.settings.about_bottom_bg | img_url: 'master' }}');
"></div>
	<div class="container">
    	<div class="roundImageinner">
            <div class="simpletext">
              <h2> {{ section.settings.about_round_left_heading }} </h2>
              <p>{{ section.settings.about_round_left_text }} </p>
              <div class="chatButton">
                <a href="https://scarflings.com/pages/book-stylist" class="btn">{{ section.settings.about_chatnow }}</a>
                <span class="or">OR</span>
                <a href="{{ section.settings.common_takequestions_url }}" class="btn take_ques_btn scrollToForm">{{ section.settings.common_takequestions }}</a>
              </div>
              
            </div>
          	<div class="right_image_col">
              <img src="{{ section.settings.about_round_image_right | img_url: 'master' }}">
              <div class="play_button">
					
                   <video id="vid" controls>
                      <source src="https://cdn.shopify.com/s/files/1/0070/0835/4356/t/69/assets/{{ section.settings.right_image_video }}" type="video/mp4">
                    </video>
                <img src="{{ 'white-play.png' | asset_url }}">
              </div>
          	</div>
       </div>
   </div>
</section>
{% schema %}
  {
    "name": "Right image section",
    "settings": [
      {
        "id": "about_round_left_heading",
        "type": "html",
        "label": "heading"
      },
		{
        "id": "about_round_left_text",
        "type": "html",
        "label": "text"
      },
		{
        "id": "about_chatnow",
        "type": "text",
        "label": "button"
      },
		{
		"id": "about_bottom_bg",
        "type": "image_picker",
        "label": "Background"
		},
		{
		"id": "about_round_image_right",
        "type": "image_picker",
        "label": "Image"
		},
		{
          "id": "right_image_video",
          "type": "text",
          "label": "Video name"
        },
      {
        "id": "common_takequestions",
        "type": "text",
        "label": "button"
        },
        {
        "id": "common_takequestions_url",
        "type": "url",
        "label": "Take questionnaire button url"
        },
		{
        "id": "common_chatnow",
        "type": "text",
        "label": "Chat button text"
      },
		{
        "id": "common_chatnow_url",
        "type": "url",
        "label": "Chat button url"
      }	
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
