<style>
  .roundRightImage .roundImageinner {
    display: flex;
    padding-right: 75px;
}
#shopify-section-common_right_image_section .commonSection img {
    width: auto;
    height: 400px;
    max-width: 100%;
    position: relative;
    z-index: 9;
}
#shopify-section-common_right_image_section .roundLeftImage .simpletext {
    padding-left: 60px;
}
#shopify-section-common_right_image_section .roundRightImage .simpletext {
    padding-right: 60px;
}

#shopify-section-common_right_image_section .bottomBg {
    background-size: 400px;
    position: absolute;
    top: 0px;
    width: 400px;
    right: 0px;
    height: 450px;
    z-index: 9;
    background-repeat: no-repeat;
    background-position: 75px 0px;
}
#shopify-section-common_right_image_section section{
    position: relative;
}
#shopify-section-common_right_image_section .simpletext a.btn {
    background: #b65327 !important;
    color: #fff !important;
    padding: 8px 32px;
    margin: 30px 0px 0px 0px !important;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 10px !important;
    display: inline-block;
    line-height: 1.6em;
    font-size: 22px !important;
    width: auto;
    text-transform: uppercase;
    min-width: 200px;
  height: auto;
}
#shopify-section-common_right_image_section .simpletext a.btn:hover {
    background: #ab4618 !important;
    animation-name: unset !important;
    color: #fff !important;
}
.roundImageinner p span {
    color: #b44b2b;
    font-weight: bold;
}

#shopify-section-common_right_image_section .FirstSectImage {
    background-position: bottom;
}
#shopify-section-common_right_image_section .roundRightImage .roundImageinner .simpletext h2 {
    width: auto;
    max-width: 100%;
}

#shopify-section-common_right_image_section .roundRightImage .roundImageinner .simpletext h2 {
    width: auto;
    max-width: 100%;
    text-align: left !important;
}
#shopify-section-common_right_image_section {
    padding: 60px 0px 160px 0px;
}
#shopify-section-common_right_image_section .commonSection img {
    width: auto;
    height: 400px;
    max-width: 100%;
    position: relative;
    z-index: 9;
    top: 95px;
}
#shopify-section-common_right_image_section .chatButton {
    display: flex;
    width: 300px;
    flex-direction: column;
    max-width: 100%;
    margin: 20px 0px 0px 0px;
}
#shopify-section-common_right_image_section .simpletext a.btn {
    background: #b65327 !important;
    color: #fff !important;
    padding: 8px 32px;
    margin: 0px 0px 0px 0px !important;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 10px !important;
    display: inline-block;
    line-height: 1.6em;
    font-size: 22px !important;
    width: auto;
    text-transform: uppercase;
    min-width: 200px;
    height: auto;
}
#shopify-section-common_right_image_section span.or {
    text-align: center;
    padding: 12px 0px;
    font-weight: bold;
}
#shopify-section-common_right_image_section .simpletext a.btn.take_ques_btn {
    border: 1px solid #c3862b;
    background: #c3862b !important;
    color: #ffffff !important;
}
#shopify-section-common_right_image_section .simpletext a.btn.take_ques_btn:hover {
    	border: 1px solid #b57a23;
    background: #b57a23 !important;
    color: #fff !important;
}
@media (max-width: 767px){
    .roundImageinner p {
      text-align: center;
    }
    .roundRightImage .roundImageinner img {
      order: 1;
    }
    .roundRightImage .roundImageinner {
      padding-right: 0px;
    }
    .roundRightImage .roundImageinner {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-right: 0px;
    }
    .roundRightImage .simpletext {
      padding-right: 0px;
      order: 2;
    }
    #shopify-section-common_right_image_section .bottomBg {
      background-size: 200px;
      position: absolute;
      top: -25px;
      width: 200px;
      right: 00px;
      height: 230px;
      background-position: 50px 0px;
      z-index: -1;
    }
    #shopify-section-common_right_image_section .commonSection .simpletext {
        width: 100%;
        align-items: center;
        padding: 0px !important;
    }
  	#shopify-section-common_right_image_section .roundRightImage .roundImageinner .simpletext h2 {
        text-align: center !important;
    }
    #shopify-section-common_right_image_section .commonSection img {
        width: auto;
        height: 285px;
        max-width: 100%;
        margin: 0px 0px 30px 0px;
        top: 0px;
    }
    #shopify-section-common_right_image_section .simpletext a.btn {
      padding: 6px 25px;
      font-size: 21px !important;
      margin: 0px !important;
    }
    .chatButton {
      width: 100%;
      text-align: center;
    }
    .roundRightImage .roundImageinner .simpletext h2 {
      text-align: center !important;
      margin: 0px auto 10px auto !important;
    }

    .roundImageinner .simpletext p {
      text-align: left;
    }
    #shopify-section-common_right_image_section .bottomBg {
        background-size: 200px;
        position: absolute;
        top: -50px;
        width: 200px;
        right: 00px;
        height: 230px;
        background-position: 50px 0px;
        z-index: 9;
    }
    #shopify-section-common-right-image-section {
      padding: 100px 0px 50px 0px;
    }
  	section#section_k_subscription_banner_section_mobile .row {
        margin: 0px !important;
    }
  	#shopify-section-common_right_image_section .chatButton {
        margin: 20px auto 0px auto;
    }
  	#shopify-section-common_right_image_section {
        padding: 100px 0px 50px 0px;
    }
  	
}
@media (max-width: 380px){
  .roundRightImage .roundImageinner .simpletext h2{
  	font-size: 20px !important;
  }
}
@media (max-width: 345px){
  .roundRightImage .roundImageinner .simpletext h2{
  	font-size: 19px !important;
  }
}
</style>
<section class="roundRightImage commonSection" id="section_k_{{ section.id }}">
    <div class="bottomBg" style="background-image:url('{{ section.settings.common_bottom_bg | img_url: 'master' }}');
"></div>
	<div class="container">
    	<div class="roundImageinner">
            <div class="simpletext">
              <h2> {{ section.settings.common_round_left_heading }} </h2>
              <p>{{ section.settings.common_round_left_text }} </p>
              <div class="chatButton">
                <a href="{{ section.settings.common_chatnow_url }}" class="btn">{{ section.settings.common_chatnow }}</a>
                <span class="or">OR</span>
                <a href="{{ section.settings.common_takequestions_url }}" class="btn take_ques_btn scrollToForm">{{ section.settings.common_takequestions }}</a>
              </div>
            </div>
            <img src="{{ section.settings.common_round_image_right | img_url: 'master' }}">
       </div>
   </div>
</section>
{% schema %}
  {
    "name": "Right image section",
    "settings": [
      {
        "id": "common_round_left_heading",
        "type": "html",
        "label": "heading"
      },
		{
        "id": "common_round_left_text",
        "type": "html",
        "label": "text"
      },
		{
        "id": "common_chatnow",
        "type": "text",
        "label": "Chat button text"
      },
		{
        "id": "common_chatnow_url",
        "type": "url",
        "label": "Chat button url"
      },
      {
        "id": "common_takequestions",
        "type": "text",
        "label": "button"
        },
        {
        "id": "common_takequestions_url",
        "type": "url",
        "label": "Take questionnaire button url"
        },
		{
		"id": "common_bottom_bg",
        "type": "image_picker",
        "label": "Background"
		},
		{
		"id": "common_round_image_right",
        "type": "image_picker",
        "label": "Image"
		}	
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
