
<style>
  #shopify-section-contact-right-image-section span.or {
    text-align: center;
    padding: 12px 0px;
    font-weight: bold;
}
  
  #shopify-section-contact-right-image-section .simpletext a.btn.take_ques_btn:hover {
    border: 1px solid #b57a23;
    background: #b57a23 !important;
    color: #fff !important;
    margin: 0px !important;
}
  #shopify-section-contact-right-image-section .chatButton {
    display: flex;
    width: 300px;
    flex-direction: column;
    max-width: 100%;
    margin: 20px 0px 0px 0px;
}
  #shopify-section-contact-right-image-section .simpletext a.btn.take_ques_btn {
   	border: 1px solid #c3862b;
    background: #c3862b !important;
    color: #ffffff !important;
    margin: 0px !important;
}

@media (min-width: 1700px){
	#shopify-section-testimonial__bg_title_user_image {
	    padding: 160px 0px 60px 0px;
	}	
}
  @media (min-width: 1100px){
	#shopify-section-testimonial__bg_title_user_image {
	    padding: 60px 0px 30px 0px;
	}	
}
  
  
 
.simpletext a.btn{font-family:'DM Serif Text', serif!important;}
section:not(.bg-title-page) h2{color:#b44b2b!important;font-size:36px!important;line-height:1.2em;width:100%;text-transform:unset!important;}
div{font-family:'Poppins', sans-serif!important;}
h2{font-family:'DM Serif Text', serif!important;}
p{font-size:16px!important;line-height:1.6em!important;color:#000000!important;font-weight:400!important;font-family:'Poppins', sans-serif!important;}
@media (min-width: 768px) and (max-width: 1160px){
section h2{font-size:28px!important;}
p{font-size:16px!important;}
}
@media (max-width: 767px){
section:not(.bg-title-page) h2{font-size:21px!important;}
p{font-size:14px!important;}
}

.simpletext h2{color:#b44b2b;font-weight:400;font-size:35px;line-height:1.2em;margin-bottom:15px;}
section h2{font-family:'DM Serif Text', serif!important;}
.simpletext a.btn:hover,a.btn:hover{background:#ab4618!important;color:#fff!important;}
p{line-height:1.7em!important;}
@media (min-width:992px) and (max-width:1160px){
.roundRightImage .roundImageinner{padding-right:0px;}
p{font-size:16px!important;}
}
@media (min-width:768px) and (max-width:1160px){
.container{width:100%!important;max-width:100%!important;padding:0px 30px!important;}
section p{font-size:15px!important;line-height:1.5em!important;}
}
@media (min-width:768px) and (max-width:991px){
.roundRightImage .roundImageinner{padding-right:0px;}
.commonSection img{height:325px;}
}
@media (min-width: 1024px) and (max-width: 1500px){
.container{max-width:100%!important;padding:0px 110px!important;}
}
@media (min-width: 1025px) and (max-width: 1200px){
section p{font-size:15px!important;line-height:1.5em!important;}
}
@media (max-width: 767px){
.roundRightImage .roundImageinner .simpletext h2{margin:0 auto 20px auto;width:230px;max-width:100%;}
section p{font-size:14px!important;line-height:1.6em!important;margin-bottom:15px!important;}
.container{padding:0px 20px!important;}
.simpletext a.btn{padding:6px 25px;font-size:19px!important;}
.simpletext a.btn{padding:6px 25px;font-size:19px!important;margin:15px 0px 0px 0px!important;}
.roundImageinner .simpletext a.btn{padding:6px 25px;font-size:19px!important;margin:0px 0px 0px 0px!important;}
}
/*! CSS Used from: Embedded */
.roundRightImage .roundImageinner{display:flex;padding-right:75px;}
#shopify-section-contact-right-image-section .commonSection img{width:auto;height:400px;max-width:100%;position:relative;z-index:9;}
#shopify-section-contact-right-image-section .roundRightImage .simpletext{padding-right:60px;}
#shopify-section-contact-right-image-section .bottomBg{background-size:400px;position:absolute;top:0px;width:400px;right:0px;height:450px;z-index:9;background-repeat:no-repeat;background-position:75px 0px;}
#shopify-section-contact-right-image-section section{position:relative;}
#shopify-section-contact-right-image-section .simpletext a.btn{background:#b65327!important;color:#fff!important;padding:8px 32px;margin:30px 0px 0px 0px!important;font-family:'DM Serif Text', serif!important;font-weight:400;border-radius:10px!important;display:inline-block;line-height:1.6em;font-size:22px!important;width:auto;text-transform:uppercase;min-width:200px;height:auto;}
#shopify-section-contact-right-image-section .simpletext a.btn:hover{background:#ab4618!important;animation-name:unset!important;color:#fff!important;}
#shopify-section-contact-right-image-section .roundRightImage .roundImageinner .simpletext h2{width:auto;max-width:100%;}
#shopify-section-contact-right-image-section .roundRightImage .roundImageinner .simpletext h2{width:auto;max-width:100%;text-align:left!important;}
#shopify-section-contact-right-image-section{padding:60px 0px 100px 0px;}
#shopify-section-contact-right-image-section .commonSection img{width:auto;height:400px;max-width:100%;position:relative;z-index:9;top:95px;}
#shopify-section-contact-right-image-section .chatButton{display:flex;width:300px;flex-direction:column;max-width:100%;margin:20px 0px 0px 0px;}
#shopify-section-contact-right-image-section .simpletext a.btn{background:#b65327!important;color:#fff!important;padding:8px 32px;margin:0px 0px 0px 0px!important;font-family:'DM Serif Text', serif!important;font-weight:400;border-radius:10px!important;display:inline-block;line-height:1.6em;font-size:22px!important;width:auto;text-transform:uppercase;min-width:200px;height:auto;}
#shopify-section-contact-right-image-section span.or{text-align:center;padding:12px 0px;font-weight:bold;}
#shopify-section-contact-right-image-section .simpletext a.btn.take_ques_btn{border:1px solid #c3862b;background:#c3862b!important;color:#ffffff!important;}
#shopify-section-contact-right-image-section .simpletext a.btn.take_ques_btn:hover{border:1px solid #b57a23;background:#b57a23!important;color:#fff!important;}
@media (max-width: 767px){
.roundImageinner p{text-align:center;}
.roundRightImage .roundImageinner img{order:1;}
.roundRightImage .roundImageinner{padding-right:0px;}
.roundRightImage .roundImageinner{align-items:center;justify-content:center;flex-direction:column;padding-right:0px;}
.roundRightImage .simpletext{padding-right:0px;order:2;}
#shopify-section-contact-right-image-section .bottomBg{background-size:200px;position:absolute;top:-25px;width:200px;right:00px;height:230px;background-position:50px 0px;z-index:-1;}
#shopify-section-contact-right-image-section .commonSection .simpletext{width:100%;align-items:center;padding:0px!important;}
#shopify-section-contact-right-image-section .roundRightImage .roundImageinner .simpletext h2{text-align:center!important;}
#shopify-section-contact-right-image-section .commonSection img{width:auto;height:285px;max-width:100%;margin:0px 0px 30px 0px;top:0px;}
#shopify-section-contact-right-image-section .simpletext a.btn{padding:6px 25px;font-size:21px!important;margin:0px!important;}
.chatButton{width:100%;text-align:center;}
.roundRightImage .roundImageinner .simpletext h2{text-align:center!important;margin:0px auto 10px auto!important;}
.roundImageinner .simpletext p{text-align:left;}
#shopify-section-contact-right-image-section .bottomBg{background-size:200px;position:absolute;top:-50px;width:200px;right:00px;height:230px;background-position:50px 0px;z-index:9;}
#shopify-section-contact-right-image-section .chatButton{margin:20px auto 0px auto;}
#shopify-section-contact-right-image-section{padding:100px 0px 50px 0px;}
}
@media (max-width: 380px){
.roundRightImage .roundImageinner .simpletext h2{font-size:20px!important;}
}
@media (max-width: 345px){
.roundRightImage .roundImageinner .simpletext h2{font-size:19px!important;}
}
#shopify-section-contact-right-image-section .roundRightImage.roundImageinner {
    display: flex;
    padding-right: 75px;
    align-items: center;
}
#shopify-section-contact-right-image-section .chatButton {
    display: flex;
    width: 300px;
    flex-direction: column;
    max-width: 100%;
    margin: 20px 0px 0px 0px;
}	

#shopify-section-contact-right-image-section .roundRightImage .roundImageinner {
    display: flex;
    padding-right: 75px;
    align-items: center;
}
  
  .roundRightImage .simpletext {
    padding-right: 60px;
}
  #shopify-section-contact-right-image-section .simpletext a.btn {
    background: #b65327 !important;
    color: #fff !important;
    padding: 8px 32px !important;
    margin: 30px 0px 0px 0px !important;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400 !important;
    border-radius: 10px !important;
    display: inline-block !important;
    line-height: 1.6em !important;
    font-size: 22px !important;
    width: auto !important;
    text-transform: uppercase !important;
    min-width: 200px !important;
    height: auto !important;
}
  
  #shopify-section-contact-right-image-section a.btn.chatwianexpert:hover {
    background: #ab4618 !important;
    animation-name: unset !important;
    color: #fff !important;
}
  
  #shopify-section-contact-right-image-section a.btn.take_ques_btn.scrollToForm {
    border: 1px solid #c3862b !important;
    background: #c3862b !important;
    color: #ffffff !important;
    margin: 0px !important;
}
  #shopify-section-contact-right-image-section a.btn.take_ques_btn.scrollToForm:hover {
    border: 1px solid #b57a23 !important;
    background: #b57a23 !important;
    color: #fff !important;
    margin: 0px !important;
}


#shopify-section-contact-right-image-section {
    position: relative;
}

  .roundRightImage .simpletext {
    padding-right: 60px;
}
#shopify-section-contact-right-image-section .roundImageinner {
    display: flex;
    padding-right: 75px;
    align-items: center;
}
  
.roundRightImage .simpletext {
    padding-right: 60px;
}
  .commonSection img {
    width: auto;
    height: 400px;
    max-width: 100%;
}
  @media only screen and (min-width: 1160px){

	div#shopify-section-contact-right-image-section{
		overflow-x: hidden;
	}
	#shopify-section-contact-right-image-section {
	   /*padding: 0px 0px 100px 0px !important;*/
      margin-top:40px;
      margin-bottom:40px;
	}
}

#shopify-section-contact-right-image-section{
	width: 100%;
  margin-bottom: 50px;
}
</style>
<section class="roundRightImage commonSection" id="section_k_{{ section.id }}">
    <div class="bottomBg" style="background-image:url('{{ section.settings.about_bottom_bg | img_url: 'master' }}');
"></div>
	<div class="container">
    	<div class="roundImageinner">
            <div class="simpletext">
              <h2> {{ section.settings.about_round_left_heading }} </h2>
              <p>{{ section.settings.about_round_left_text }} </p>
              <div class="chatButton">
                <a href="https://scarflings.com/pages/book-stylist" class="btn chatwianexpert">{{ section.settings.about_chatnow }}</a>
                <span class="or">OR</span>
                <a href="{{ section.settings.common_takequestions_url }}" class="btn take_ques_btn scrollToForm">{{ section.settings.common_takequestions }}</a>
              </div>
              
            </div>
            <img src="{{ section.settings.about_round_image_right | img_url: 'master' }}">
       </div>
   </div>
</section>
{% schema %}
  {
    "name": "Right image section",
    "settings": [
      {
        "id": "about_round_left_heading",
        "type": "html",
        "label": "heading"
      },
		{
        "id": "about_round_left_text",
        "type": "html",
        "label": "text"
      },
		{
        "id": "about_chatnow",
        "type": "text",
        "label": "button"
      },
		{
		"id": "about_bottom_bg",
        "type": "image_picker",
        "label": "Background"
		},
		{
		"id": "about_round_image_right",
        "type": "image_picker",
        "label": "Image"
		},
      {
        "id": "common_takequestions",
        "type": "text",
        "label": "button"
        },
        {
        "id": "common_takequestions_url",
        "type": "url",
        "label": "Take questionnaire button url"
        },
		{
        "id": "common_chatnow",
        "type": "text",
        "label": "Chat button text"
      },
		{
        "id": "common_chatnow_url",
        "type": "url",
        "label": "Chat button url"
      }	
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
