<style>
.bottomSection {
    height: 140px;
       background: #f2f2f2;
    margin: 0px -60px;
    padding: 15px 60px;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
      margin-top: 50px;
    justify-content: center;
      position: relative;
}
.stepNumber {
    color: #a4a4a4;
    position: absolute;
    left: 60px;
}
.stepNumber span {
    color: #000;
}
  .field_group.submit_btn {
    display: none;
}
.field_group.submit_btn.next_btn, .field_group.submit_btn.show_submit {
    display: inline-block;
    position: absolute;
    right: 60px;
    width: auto;
    margin: 0px;
}

section.formSection .appForm input {
    color: #000 !important;
}
#section_k_new-influencer-section4 .appForm h3 {
    color: #000 !important;
    font-family: poppins !important;
    font-size: 20px !important;
    font-weight: normal;
    text-align: center;
    margin: -10px 0px 0px 0px;
}
  
.formStep {
    opacity: 0;
    height: 0px;
}
.formStep.activeStep {
    opacity: 1;
    height: auto;
    margin: 50px 0px 0px 0px;
  z-index: 9;
    position: relative;
}
  @media (max-width:767px){
section.formSection h2 {
    font-size: 28px !important;
    margin-top: 0px !important;
    text-align: center;
    margin-bottom: 28px !important;
    width: 300px;
    margin: 0 auto;
  max-width:100%;
}


#section_k_new-influencer-section4 h3 {
    font-size: 14px !important;
    margin: -10px 0px 35px 0px !IMPORTANT;
    line-height: 1.4em;
    text-align: center;
    color: #000 !important;
    font-family: poppins !important;
}
    .formStep.activeStep {
    margin: 30px 0px 0px 0px;
}
.bottomSection {
    height: 90px;
    margin: 10px -15px 0px -15px;
    padding: 0px 10px !important;
}
.field_group.submit_btn .btn {
    font-size: 21px !important;
    padding: 8px 30px !important;
    height: auto !important;
    line-height: 1.3em;
}
.field_group.submit_btn.next_btn, .field_group.submit_btn.show_submit {
    right: 15px;
}
.stepNumber {
    left: 15px;
}
section.formSection .appForm {
    padding: 30px 15px 0px 15px !important;
}


  }
</style>
<section class="formSection" id="section_k_{{ section.id }}" style="background-image:url('{{ section.settings.form_bg_image | img_url: 'master' }}')">
 
	<div class="container">
      	<h2 class="mobile_only">Scarflings Influencer Program Application</h2>
        <h3 class="mobile_only">MY UNSCRIPTED JOURNEY <b>STARTS HERE</b></h3>
        
      <div class="appForm">
        <h2 class="desktop_only">Scarflings Influencer Program Application Form</h2>
        <h3 class="desktop_only">MY UNSCRIPTED JOURNEY <b>STARTS HERE</b></h3>
        {% form "contact", id: "influencer-form", class: "influencer-form",method: "post" %}
        
        {%- if form.posted_successfully? -%}
        <p class="note form-success">
          {{ 'contact.form.post_success' | t }}
        </p>
        {%- endif -%}
        {% assign error_order = "author, email, body, password, form" | split: ", " %}

{%- if form.errors -%}

  <div class="form-message form-message--error">
    <h2 class="h3 form-message__title " tabindex="-1" data-form-status>{{ 'contact.form.error_heading' | t }}</h2>
    <ul>
      {% for error in error_order %}
        {% for field in form.errors %}
          {% if error == field %}

            {% capture field_label %}
              {% case field %}
                {% when 'author' %}
                  {{ 'contact.form.name' | t }}
                {% when 'body' %}
                  {{ 'contact.form.message' | t }}
                {% else %}
                  {{ form.errors.translated_fields[field] }}
              {% endcase %}
            {% endcapture %}

            <li>
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                {% comment %} the href should match the input's id {% endcomment %}
                <a href="#{{ form_id }}-{{ field }}" class="form-message__link">{{ field_label | strip | capitalize }} {{ form.errors.messages[field] }}</a>
              {%- endif -%}
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{%- endif -%}
        <div class="formStep formStep1 activeStep">
          <div class="field_group required_field 1">
            <input type="text" required name="contact[first_name]" placeholder="First name" onkeypress="return /[a-z]/i.test(event.key)">
          </div>
          <div class="field_group required_field 2">
            <input type="text" required name="contact[last_name]" placeholder="Last name" onkeypress="return /[a-z]/i.test(event.key)">
          </div>
          <div class="field_group required_field 3 mail_field">
            <input type="email" name="contact[email]" required placeholder="Email address">
            
          </div>
        </div>
        <div class="formStep formStep2">
          <div class="field_group required_field 1_1">
            <input type="text" required name="contact[country]" placeholder="Country">
          </div>
          <div class="field_group required_field 2_2">
            <input type="text" required name="contact[city]" placeholder="City">
          </div>
        </div>
        <div class="formStep formStep3">
          <div class="field_group half_group">
            <div class="field_group required_field 1_2">
            <input type="text"  name="contact[instagram_url]" placeholder="Instagram">
            </div>
            <div class="field_group required_field 2_3">
            <input type="text" name="contact[instagram_followers]" placeholder="Followers">
            </div>
          </div>
          <div class="field_group half_group">
            <div class="field_group">
            <input type="text" name="contact[facebook_url]" placeholder="Facebook">
            </div>
            <div class="field_group">
            <input type="text" name="contact[facebook_likes]" placeholder="Likes">
            </div>
          </div>
          <div class="field_group half_group">
            <div class="field_group">
            <input type="text" name="contact[youtube_url]" placeholder="Youtube">
            </div>
            <div class="field_group">
            <input type="text" name="contact[youtube_subscribers]" placeholder="Subscribers">
            </div>
          </div>
        </div>
        <div class="formStep formStep4">
          <div class="field_group required_field">
            <label>Average number of comments  (Per post for Youtube, Instagram, Facebook)</label>
            <input type="text" name="contact[average_no_of_comments]" required>
          </div>
          <div class="field_group required_field">
            <label>Average number of story views for Instagram, and Facebook</label>
            <input type="text" name="contact[average_no_of_story_views]" required>
          </div>
          <div class="field_group required_field">
            <label>Demographics (Age, sex, location)? </label>
            <input type="text" name="contact[demographics]" required>
          </div>
          <div class="field_group required_field">
            <label>Have you created sponsored content for other brands?</label>
            <textarea required name="contact[sponsored_content]"></textarea>
          </div>
          <div class="field_group">
            <label>Is there anything else you’d like to share?</label>
            <textarea name="contact[anything_else]"></textarea>
          </div>
        </div>
         <div class="error" style="display:none;">
            <p>Please fill all the mandatory fields.</p>
          </div>
        
         <div class="mail_error" style="display:none;">
            	<p>Please enter valid email address</p>
          	</div>
          <div class="success" style="display:none;">
            <p>Form has been submitted successfully.</p>
          </div>
        <div class="bottomSection">
          <div class="stepNumber">
          <span>1</span> of 4
        </div>
          <div class="field_group submit_btn">
            <button type="submit" class="btn btn--cta cpsgts">SUBMIT<img src='{{ section.settings.form_button_emoji | img_url: 'master'}}'></button>
          </div>
        <div class="field_group submit_btn next_btn btn1">
            <a href="javascript:void(0)" class="btn btn--cta cpsgts">NEXT<img src='{{ section.settings.form_button_emoji | img_url: 'master'}}'></a>
          </div>
         
        </div>
        
          
          
        {% endform %}
      </div>
    	
   </div>
</section>
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1440 126" style="enable-background:new 0 0 1440 126;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#fff;}
</style>
<title>Rectangle 3</title>
<desc>Created with Sketch.</desc>
<path class="st0" d="M685.6,38.8C418.7-11.1,170.2,9.9,0,30v96h1440V30C1252.7,52.2,1010,99.4,685.6,38.8z"></path>
</svg>

<script>
  jQuery(document).ready(function(){
    
         setInterval(function(){ 
           
                    var mailvalue1 = jQuery(".activeStep.formStep1 .required_field.3 input").val();
  	
    var testEmail1 = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
           
        if(jQuery(".activeStep.formStep1 .required_field.1 input").val() !== "" && jQuery(".activeStep.formStep1 .required_field.2 input").val() !== "" && testEmail1.test(mailvalue1) ){
          jQuery(".activeStep.formStep1").addClass('all-input-has-value');
      }else{
      jQuery(".activeStep.formStep1").removeClass('all-input-has-value');
      }

      
         if(jQuery(".activeStep.formStep2 .required_field.1_1 input").val() !== "" && jQuery(".activeStep.formStep2 .required_field.2_2 input").val() !== "" ){
          jQuery(".activeStep.formStep2").addClass('all-input-has-value2');
      }else{
      jQuery(".activeStep.formStep2").removeClass('all-input-has-value2');
      }
        
       if(jQuery(".activeStep.formStep3 .required_field.1_2 input").val() !== ""  && jQuery(".activeStep.formStep3 .required_field.2_3 input").val() !== "" ){
          jQuery(".activeStep.formStep3").addClass('all-input-has-value3');
      }else{
      jQuery(".activeStep.formStep3").removeClass('all-input-has-value3');
      }
           
    }, 1000);

    
     setInterval(function(){
       
       
       
        jQuery('.field_group.submit_btn.next_btn.btn1').click(function() { 
            	
        if ( jQuery(".formStep1.activeStep").hasClass('all-input-has-value')){
          
          jQuery('.formStep1').removeClass("activeStep");
            jQuery('.formStep2').addClass("activeStep");
         jQuery(".field_group.submit_btn.next_btn.btn1").removeClass("btn1").addClass("btn2");
        jQuery(".stepNumber span").html("2");
  jQuery("form").removeClass("empty_fields");
      jQuery(".empty_fields .error, .mail_error_field .mail_error").hide();
         
        }else{

        }

        });
           	
    jQuery('.field_group.submit_btn.next_btn.btn2').click(function() { 
            	
        if ( jQuery(".formStep2.activeStep").hasClass('all-input-has-value2')){
          
          jQuery('.formStep2').removeClass("activeStep");
            jQuery('.formStep3').addClass("activeStep");
         jQuery(".field_group.submit_btn.next_btn.btn2").removeClass("btn2").addClass("btn3");
        jQuery(".stepNumber span").html("3");
  jQuery("form").removeClass("empty_fields");
      jQuery(".empty_fields .error, .mail_error_field .mail_error").hide();
         
        }else{

        }

        });
      
      jQuery('.field_group.submit_btn.next_btn.btn3').click(function() { 
            	
        if ( jQuery(".formStep3.activeStep").hasClass('all-input-has-value3')){
          
          jQuery('.formStep3').removeClass("activeStep");
            jQuery('.formStep4').addClass("activeStep");
         jQuery(".field_group.submit_btn.next_btn.btn3").removeClass("btn3").addClass("btn4");
        jQuery(".stepNumber span").html("4");
  jQuery("form").removeClass("empty_fields");
      jQuery(".empty_fields .error, .mail_error_field .mail_error").hide();
                   jQuery('.field_group.submit_btn:not(".next_btn")').addClass("show_submit");
         jQuery(".field_group.submit_btn.next_btn.btn4").hide();
        }else{

        }

        });
       
    }, 1000) ;
       
     
  });
</script>
{% schema %}
  {
    "name": "Form section",
    "settings": [
      {
      "id": "form_bg_image",
      "type": "image_picker",
      "label": "Background"
      },
	{
		"id": "form_button_emoji",
        "type": "image_picker",
        "label": "Button emoji"
		}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
