<style>
  #shopify-section-product-right-image-section span.or {
    text-align: center;
    padding: 12px 0px;
    font-weight: bold;
}
  #shopify-section-product-right-image-section .roundRightImage .roundImageinner .simpletext h2{
  width:100%;
  }
  #shopify-section-product-right-image-section .simpletext a.btn.take_ques_btn:hover {
    border: 1px solid #b57a23;
    background: #b57a23 !important;
    color: #fff !important;
    margin: 0px !important;
}
  #shopify-section-product-right-image-section .chatButton {
    display: flex;
    width: 300px;
    flex-direction: column;
    max-width: 100%;
    margin: 20px 0px 0px 0px;
}
  #shopify-section-product-right-image-section .simpletext a.btn.take_ques_btn {
   	border: 1px solid #c3862b;
    background: #c3862b !important;
    color: #ffffff !important;
    margin: 0px !important;
}

@media (min-width: 1700px){
	#shopify-section-product-right-image-section {
	    padding: 160px 0px 60px 0px;
	}	
}
  
 @media (max-width:768px){
    #shopify-section-product-right-image-section .chatButton{
      margin: 0 auto !important;
    }
   section#section_k_product-right-image-section .roundImageinner h2 {
		margin-bottom: 22px !important;
	}
  }
  
  @media (min-width:769px){
    #shopify-section-product-right-image-section {
    padding: 160px 0px 68px 0px;
    margin-top: -50px !important;
    overflow-x:hidden;
}
  }



#shopify-section-product-right-image-section{
width: 100%;
}
.simpletext a.btn{font-family:'DM Serif Text', serif!important;}
section:not(.bg-title-page) h2{color:#b44b2b!important;font-size:36px!important;line-height:1.2em;width:100%;text-transform:unset!important;}
div{font-family:'Poppins', sans-serif!important;}
h2{font-family:'DM Serif Text', serif!important;}
p{font-size:16px!important;line-height:1.6em!important;color:#000000!important;font-weight:400!important;font-family:'Poppins', sans-serif!important;}
@media (min-width: 768px) and (max-width: 1160px){
section h2{font-size:28px!important;}
p{font-size:16px!important;}
}
@media (max-width: 767px){
section:not(.bg-title-page) h2{font-size:21px!important;}
p{font-size:14px!important;}
}

.roundRightImage .roundImageinner{display:flex;padding-right:75px;}
.commonSection img{width:auto;height:400px;max-width:100%;position:relative;z-index:9;}
.roundRightImage .simpletext{padding-right:60px;}
#shopify-section-product-right-image-section{padding:80px 0px;}
.bottomBg{background-size:400px;position:absolute;top:40px;width:400px;right:-115px;height:450px;z-index:9;background-repeat:no-repeat;}
#shopify-section-product-right-image-section{position:relative;}
.simpletext a.btn{background:#b65327!important;color:#fff!important;padding:8px 32px;margin:30px 0px 0px 0px!important;font-family:'DM Serif Text', serif!important;font-weight:400;border-radius:10px!important;display:inline-block;line-height:1.6em;font-size:22px!important;width:auto;text-transform:uppercase;min-width:200px;height:auto;}
.simpletext a.btn:hover{background:#ab4618!important;animation-name:unset!important;color:#fff!important;}
.roundImageinner p span{color:#b44b2b;font-weight:bold;}
.roundRightImage .roundImageinner .simpletext h2{width:400px;max-width:100%;}
.roundRightImage .roundImageinner .simpletext h2{width:400px;max-width:100%;text-align:left!important;}
#shopify-section-product-right-image-section{padding:30px 0px 100px 0px;}
.commonSection img{width:auto;height:400px;max-width:100%;position:relative;z-index:9;top:130px;}
.chatButton{display:flex;width:300px;flex-direction:column;max-width:100%;margin:20px 0px 0px 0px;}
.simpletext a.btn{background:#b65327!important;color:#fff!important;padding:8px 32px;margin:0px 0px 0px 0px!important;font-family:'DM Serif Text', serif!important;font-weight:400;border-radius:10px!important;display:inline-block;line-height:1.6em;font-size:22px!important;width:auto;text-transform:uppercase;min-width:200px;height:auto;}
span.or{text-align:center;padding:12px 0px;font-weight:bold;}
.simpletext a.btn.take_ques_btn{border:1px solid #c3862b;background:transparent!important;color:#c3862b!important;}
.simpletext a.btn.take_ques_btn:hover{border:1px solid #c3862b;background:#c3862b!important;color:#fff!important;}
@media (min-width:992px) and (max-width:1160px){
.roundRightImage .roundImageinner{padding-right:0px;}
}
@media (min-width:768px) and (max-width:991px){
.roundRightImage .roundImageinner{padding-right:0px;}
.roundRightImage .simpletext{padding-right:30px;}
.commonSection img{height:300px;top:90px;}
.bottomBg{background-size:325px;position:absolute;top:35px;width:350px;right:-100px;height:450px;z-index:9;background-repeat:no-repeat;}
}
@media (min-width: 768px) and (max-width: 1200px){
.container{max-width:100%;width:100%;padding:0px 35px!important;}
p{font-size:15px!important;}
section h2{font-size:28px!important;line-height:1.2em;}
}
@media (min-width: 768px) and (max-width: 991px){
p{font-size:15px!important;}
}
@media (max-width: 767px){
.container{max-width:100%!important;width:100%!important;padding:0px 25px!important;}
p{font-size:14px!important;}
section h2{font-size:21px!important;}
.roundImageinner p{text-align:center;}
.roundRightImage .roundImageinner img{order:1;}
.roundRightImage .roundImageinner{padding-right:0px;}
.roundRightImage .roundImageinner{align-items:center;justify-content:center;flex-direction:column;padding-right:0px;}
.roundRightImage .simpletext{padding-right:0px;order:2;}
.bottomBg{background-size:200px;position:absolute;top:-25px;width:200px;right:00px;height:230px;background-position:50px 0px;z-index:-1;}
.commonSection .simpletext{width:100%;align-items:center;}
.commonSection img{width:auto;height:285px;max-width:100%;margin:0px 0px 40px 0px;top:0px;}
.simpletext a.btn{padding:6px 25px;font-size:21px!important;margin:0px!important;}
.chatButton{width:100%;text-align:center;}
.roundRightImage .roundImageinner .simpletext h2{text-align:center!important;margin:0px!important;}
.roundImageinner .simpletext p{text-align:left;}
.bottomBg{background-size:200px;position:absolute;top:45px;width:200px;right:00px;height:230px;background-position:50px 0px;z-index:9;}
#shopify-section-product-right-image-section{padding:100px 0px 50px 0px;}
}
@media (max-width:330px){
.container{max-width:100%!important;width:100%!important;padding:0px 15px!important;}
}
/*! CSS Used from: Embedded */
a.btn{font-family:'DM Serif Text', serif!important;}
/*! CSS Used from: Embedded */
#shopify-section-product-right-image-section span.or{text-align:center;padding:12px 0px;font-weight:bold;}
#shopify-section-product-right-image-section .roundRightImage .roundImageinner .simpletext h2{width:100%;}
#shopify-section-product-right-image-section .simpletext a.btn.take_ques_btn:hover{border:1px solid #b57a23;background:#b57a23!important;color:#fff!important;margin:0px!important;}
#shopify-section-product-right-image-section .chatButton{display:flex;width:300px;flex-direction:column;max-width:100%;margin:20px 0px 0px 0px;}
#shopify-section-product-right-image-section .simpletext a.btn.take_ques_btn{border:1px solid #c3862b;background:#c3862b!important;color:#ffffff!important;margin:0px!important;}

  

  
  		@media only screen and (min-width: 1160px){
            div#shopify-section-product-right-image-section{
            overflow-x: hidden;
              margin-bottom:30px;
            }
            #shopify-section-product-right-image-section {
               padding: 0px 0px 160px 0px !important
            }
        } 
#shopify-section-product-right-image-section{
width: 100%;
}
  
</style>

<section class="roundRightImage commonSection" id="section_k_{{ section.id }}">
    <div class="bottomBg" style="background-image:url('{{ section.settings.product_bottom_bg | img_url: 'master' }}');
"></div>
	<div class="container">
    	<div class="roundImageinner">
            <div class="simpletext">
              <h2> {{ section.settings.product_round_left_heading }} </h2>
              <p>{{ section.settings.product_round_left_text }} </p>
              <div class="chatButton">
                <a href="{{ section.settings.product_chatnow_url }}" class="btn">{{ section.settings.product_chatnow }}</a>
                <span class="or">OR</span>
                <a href="{{ section.settings.product_takequestions_url }}" class="btn take_ques_btn">{{ section.settings.product_takequestions }}</a>
              </div>
            </div>
            <img src="{{ section.settings.product_round_image_right | img_url: 'master' }}">
       </div>
   </div>
</section>
{% schema %}
  {
    "name": "Right image section",
    "settings": [
      {
        "id": "product_round_left_heading",
        "type": "html",
        "label": "heading"
      },
		{
        "id": "product_round_left_text",
        "type": "html",
        "label": "text"
      },
		{
        "id": "product_chatnow",
        "type": "text",
        "label": "Chat button text"
      },
		{
        "id": "product_chatnow_url",
        "type": "url",
        "label": "Chat button url"
      },
      {
        "id": "product_takequestions",
        "type": "text",
        "label": "button"
        },
        {
        "id": "product_takequestions_url",
        "type": "url",
        "label": "Take questionnaire button url"
        },
		{
		"id": "product_bottom_bg",
        "type": "image_picker",
        "label": "Background"
		},
		{
		"id": "product_round_image_right",
        "type": "image_picker",
        "label": "Image"
		}	
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
