<style>
div#shopify-section-product-video-slider h3 {
    color: #b44b2b !important;
    font-size: 36px !important;
    line-height: 1.2em;
    width: 100%;
    text-transform: capitalize !important;
    margin-bottom: 25px !important;
    padding-bottom: 0px !important;
}
  
.thumb_full_width .SliderVideo .overlay_image {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
  object-fit:cover;
}
.thumb_auto_width .SliderVideo .overlay_image {
    width: auto !important;
    height: auto!important;
    max-width: calc(100% - 26px)!important;
    max-height: calc(100% - 26px)!important;
    border-radius: 0px !important;
}
  .SliderText a img {
    width: 100%;
    height: auto;
}

.video_selected .SliderImage, .image_selected .SliderVideo {
    display: none;
}
  .slideTestimonial{
  width: 100%;
  }
    div#shopify-section-product-video-slider {
    padding: 50px 0px 40px 0px;
}
.SliderVideo img:hover {
    width: 95px !important;
}
.rectangle_selected .SliderVideo, .rectangle_selected .SliderVideo video, .rectangle_selected .SliderImage img, .rectangle_selected .SliderImage {
    border-radius: 15px !important;
}
.SliderVideo img {
    position: absolute;
    top: 50%;
    z-index: 999;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 80px !important;
    height: auto !important;
    background: #fff;
    border-radius: 50% !important;
    transition: all 0.3s ease;
    transform: translate(0%, -50%);
}
  .SliderImage img {
    position: absolute;
    top: 50%;
    z-index: 999;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 80px !important;
    height: auto !important;
    background: #fff;
    border-radius: 50% !important;
    transition: all 0.3s ease;
    transform: translate(0%, -50%);
    object-fit: cover;
}
.productVideoSection div#section_k_slider_product-video-slider {
    position: relative;
    top: 0px;
    margin: 0px !important;
}
  .SliderText a {
    width: 35px;
    margin-bottom: 20px;
}

.productVideoSection .slideTestimonial {
    display: flex !important;
    align-items: center;
    height: 400px ;
    position: relative;
    top: -6px;
}
 .productVideoSection ul.slick-dots .slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 4px
  }
.SliderText {
    width: 64%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    position: relative;
    top: -30px;
    justify-content: center;
}
.productVideoSection ul.slick-dots li.slick-active button {
    background: #fff !important;
}

.productVideoSection ul.slick-dots button {
    border: 1px solid #fff;
    border-radius: 50px !important;
    height: 10px;
    width: 10px;
}
.SliderVideo {
    height: 380px !important;
    background: #fff;
    border-radius: 50%;
    border: 8px solid #fff;
    position: relative;
    z-index: 99;
    width: 385px;
    float: left;
    display: inline-block;
    right: 0px;
    margin: 0px !important;
    top: -5px;
}
.SliderVideo video {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
}
.full_width .SliderVideo video {
  object-fit:cover;
  object-position: top;
}
.auto_width .SliderVideo video {
  
}
.SliderImage {
    height: 380px !important;
    background: #fff;
    border-radius: 50%;
    border: 8px solid #fff;
    position: relative;
    z-index: 99;
    width: 385px;
    float: left;
    display: inline-block;
    right: 0px;
    margin: 0px !important;
    top: -5px;
}

.SliderImage img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.SliderText p {
    color: #fff !important;
    line-height: 1.9em !important;
    word-break: break-word;
}

.SliderText h4 {
    color: #fff;
    font-family: poppins !important;
    font-weight: 600;
    font-size: 24px;
}
.productVideoSection ul.slick-dots {
    bottom: 110px;
    text-align: left;
}
.SliderImage img {
    height: 100% !important;
    width: 100% !important;
    position: unset;
    transform: unset;
}
.productVideoSection {
    padding: 0px !important;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 23px;
    background-color: white;
    height: 350px;
}
section#section_k_welcome-cta-section {
    padding: 60px 0px 80px 0px;
    background-size: cover;
    background-position: center;
}
.productVideoSection .simpletext {
    text-align: center;
}
.productVideoSection .simpletext h2 {
    color: #fff !important;
}

.socialButton a {
    width: 55px;
    height: 55px;
    background: #fff;
    align-items: center;
    display: flex;
    margin: 0px 10px;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50% !important;
}
.socialButton a:hover {
    background: #b54e28;
}
.socialButton a:hover i {
    color: #fff;
}
.socialButton a i {
    color: #b44b2b;
    font-size: 34px;
}
.socialButton {
    display: flex;
    justify-content: center;
}

.productVideoSection .simpletext p {
    color: #fff !important;
    margin-bottom: 0px !important;
    padding: 0px 70px;
    text-align: left;
    margin-top: 25px !important;
}
.productVideoSection .simpletext p a {
    color: #fff;
    font-family: poppins;
    font-weight: bold;
}
 .productVideoSection a.btn {
    background: #b65327 !important;
    color: #fff !important;
    padding: 6px 16px;
    margin: 15px 0px 0px 0px !important;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 7px !important;
    display: flex;
    line-height: 1.6em;
    font-size: 18px !important;
    width: auto;
    text-transform: uppercase;
    height: auto;
    align-self: baseline;
}
.productVideoSection a.btn:hover {
    background: #ab4618 !important;
    animation-name: unset !important;
    color: #fff !important;
}
  .productVideoSection ul.slick-dots {
    position: absolute;
  }

@media (min-width: 768px){

 .productVideoSection .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.productVideoSection button.slick-arrow {
    background-image: none !important;
    position: absolute;
}
  .productVideoSection button.slick-arrow i {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
  .productVideoSection button.slick-arrow.slick-next{
    top: 36%;
    right: -54px;
  }
 .productVideoSection button.slick-arrow.slick-prev{
    top: 36%;
    left: -54px;
  }
.SliderText p {
    height: 70px;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 10px !important;
}
  .productVideoSection{
    background-image:url('{{ section.settings.prod_background_desktop | img_url: 'master' }}');
      }

.productVideoSection ul.slick-dots.right_img_slide {
    text-align: left;
    padding-right: 30px;
}

}
  @media (min-width:977px) and (max-width: 1100px){
  .SliderText {
    top: -38px;
}
    .SliderText p {
    height: 65px;
    overflow: hidden;
}
    .productVideoSection button.slick-arrow i {
    
    font-size: 45px;
   
}
  .productVideoSection button.slick-arrow.slick-next{
    top: 36%;
    right: -40px;
  }
 .productVideoSection button.slick-arrow.slick-prev{
    top: 36%;
    left: -40px;
  }
  }
   @media (min-width:768px) and (max-width: 976px){
     .productVideoSection ul.slick-dots {
    bottom: 155px;
    text-align: left;
}
     .productVideoSection {
    height: 300px;
}
     .productVideoSection .container {
    max-width: 768px;
}
.productVideoSection button.slick-arrow i {
    
    font-size: 40px;
   
}
  .productVideoSection button.slick-arrow.slick-next{
    top: 30%;
    right: -40px;
  }
 .productVideoSection button.slick-arrow.slick-prev{
    top: 30%;
    left: -40px;
  }
     .SliderText {
    width: 56%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    position: relative;
    top: -65px;
    justify-content: center;
}
     .SliderText p {
    height: 60px;
    overflow: hidden;
    font-size: 15px !important;
}
     .SliderText a {
    width: 28px;
    margin-bottom: 15px;
}
     .SliderText h4 {
    font-size: 20px;
}
     .SliderVideo, .SliderImage {
    height: 330px !important;
    
    width: 330px;
   
    top: -32px;
}
  }
@media (max-width: 767px){
.productVideoSection button.slick-arrow {
   display:none;
}
  section#section_k_welcome-cta-section {
    padding: 40px 0px 50px 0px;
    background-size: cover;
    background-position: center;
}
 #shopify-section-product-video-slider .sec-title {
    padding: 0px;
}
.productVideoSection a.btn {
    padding: 5px 9px;
    font-size: 15px !important;
    display: inline-block;
    width: auto;
    /* overflow: hidden; */
    max-width: 100%;
    white-space: normal;
}


  .SliderVideo img {
    width: 60px !important;
}
 #shopify-section-product-video-slider .slideTestimonial {
    display: flex !important;
    align-items: center;
    height: auto ;
    position: relative;
    top: 5px;
    flex-direction: column;
}
  .SliderText a img {
    width: 25px;
    margin-bottom: 10px;
}
.SliderText {
    width: 100%;
    height: 100%;
    display: inline-block;
    flex-direction: column;
    padding-right: 10px;
    position: relative;
    top: 0px;
    justify-content: flex-start;
    order: 2;
}
.productVideoSection ul.slick-dots {
    position: absolute;
    right: 5px;
    width: 22px !important;
    display: flex;
    top: 50%;
    height: auto;
    transform: translate(0px,-50%);
    flex-direction: column;
    bottom: auto !important;
}
.productVideoSection .simpletext p {
    color: #fff !important;
    margin-bottom: 40px !important;
    padding: 0px 0px;
    text-align: center;
    line-height: 2.2em !important;
}
body #shopify-section-testimonial__bg_title_user_image {
    padding: 50px 0px 0px 0px !important;
}
section#section_k_holiday-banner-mobile .row {
    margin: 0px !important;
}
#shopify-section-about-right-image-section {
    padding: 0px 0px 60px 0px;
}
.productVideoSection {
    padding: 50px 0px 10px 0px;
}
#shopify-section-holiday-section5 section.scarfling_pick_sec {
    padding: 30px 0px 2px 0px;
}

#shopify-section-holiday-section10 section.scarfling_pick_sec {
    padding: 30px 0px 10px 0px;
}

#shopify-section-holiday-section7 section.scarfling_pick_sec {
    padding: 30px 0px 0px 0px;
}


.socialButton a {
    width: 45px;
    height: 45px;
}
.socialButton a i {
    color: #b44b2b;
    font-size: 28px;
}

.productVideoSection {
    padding: 0px 0px 10px 0px;
    margin: 0px;

  }
.productVideoSection div#section_k_slider_product-video-slider {
    position: relative;
    top: 0px;
    background: transparent;
    padding: 30px 20px 30px 20px;
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
  background-image:url('{{ section.settings.prod_background_mobile | img_url: 'master' }}');
  background-repeat: no-repeat;
    background-size: cover;  
}
div#shopify-section-product-video-slider {
    padding: 0px 0px 0px 0px;
}
  
.productVideoSection {
    padding: 0px 0px 10px 0px !important;
    margin: 0px;
    height: auto;
}
div#shopify-section-product-video-slider h3 {
    color: #b44b2b !important;
    font-size: 21px !important;
}

.SliderVideo img:hover {
    width: 50px !important;
}
  .SliderText a {
    width: 25px;
    margin-bottom: 20px;
}
.SliderImage, .SliderVideo {
    height: 220px !important;
    width: 220px !important;
    background: #fff;
    border-radius: 50%;
    border: 6px solid #fff !important;
    position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
    float: unset !IMPORTANT;
    padding: 0px 0px !important;
    margin-bottom: 30px !important;
    order: 1;
  	top: 0px;
}
.productVideoSection ul.slick-dots li, .productVideoSection ul.slick-dots li button::before {
    height: 12px;
    line-height: 12px;
    margin: 5px 0px !important;
}
.SliderText h4 {
    font-size: 20px;
}
.SliderText p {
    margin-bottom: 10px !important;
}

}
</style>
<div class="container">
<div class="sec-title p-b-22 m-p-t-22">
               <h3 class="m-text5 t-center">{{ section.settings.customer_heading }}</h3>
            </div>
</div>
<section class="productVideoSection" id="section_k_{{ section.id }}" >
  <div class="container">
     
<div class="row"  id="section_k_slider_{{ section.id }}">
  
  {% for block in section.blocks %}
  	<div class="slideTestimonial {% if block.settings.media_selected == 'image' %} image_selected {% elsif block.settings.media_selected == 'video' %} video_selected {% endif %} {% if block.settings.shape_selected == 'rectangle' %} rectangle_selected {% elsif block.settings.shape_selected == 'circle' %} circle_selected {% endif %} {% if block.settings.width_selected == 'full_width' %} full_width {% elsif block.settings.width_selected == 'auto_width' %} auto_width {% endif %} {% if block.settings.thumbnail_width == 'full_width' %} thumb_full_width {% elsif block.settings.thumbnail_width == 'auto_width' %} thumb_auto_width {% endif %}">
  		<div class="SliderText">
          <p>
            {{ block.settings.client_review }}
          </p>
         {% if block.settings.insta_box %}
          <a href="https://www.instagram.com/{{ block.settings.client_insta }}">
          <img src="{{ 'instagram.png' | asset_url }}">
          </a>
        {% endif %}   
          <h4>
            {{ block.settings.client_name }}
          </h4>
         {% if block.settings.prod_button %}
           <a href="{{ all_products[block.settings.button_url].url}}" target="_blank" class="btn">{{ block.settings.button_text }}</a>
		{% endif %}   
  		</div>
  	    <div class="SliderImage">
          <img src="{{ block.settings.client_image | img_url: 'master' }}">
      </div>
      <div class="SliderVideo">
		<img class="overlay_image" src="{{ block.settings.product_video_cover | img_url: 'master' }}">
        <video id="vid_{{block.id}}" playsinline>
          <source src="{{ block.settings.product_video | asset_url }}" type="video/mp4">
        </video>
         
        <img class="play_button" src="{{ 'white-play.png' | asset_url }}">
      </div>
  </div>
     {% endfor %}    
          </div>
    
  
   </div>
</section>


<script>
  
  

 $(document).ready(function() {
   
  
    
   
   if($(window).width() < 767 ){
    
    jQuery(".productVideoSection .row").slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  dots: true,
  vertical: true,
verticalSwiping: true,
       PauseOnFocus: false,
       draggable: true,
         autoplay: true,
  autoplaySpeed: 4000,
       loop:true,
       infinite: true,
       pauseOnFocus: false,
        
    arrows:false
});
     function thisHeight(){
    return jQuery(this).height();
}

$("#section_k_slider_product-video-slider").each(function() {
    var thisULMax = Math.max.apply(Math, jQuery(this).find(".slideTestimonial").map(thisHeight));
    $(this).height(thisULMax);
});
     var slideHeight = jQuery("#section_k_slider_product-video-slider").height();
     $(".slideTestimonial").css("height",slideHeight);
      
   }else {
     
      $(".productVideoSection .row").slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  dots: true,
        autoplay: true,
  autoplaySpeed: 4000,
        draggable: true,
        loop:true,
         infinite: true,
        pauseOnFocus: false,
        
    arrows:true
});
     $(".productVideoSection .slick-prev").html('<i class="fa fa-angle-left" aria-hidden="true"></i>');
     $(".productVideoSection .slick-next").html('<i class="fa fa-angle-right" aria-hidden="true"></i>');
   
   }
   

 
 
  
$(document).on('click', '.SliderVideo .play_button', function () {
   $('.productVideoSection .row').slick('slickPause');
     $(this).hide();
     $(this).parent().toggleClass("video_play");
   $(this).parent().find(".overlay_image").hide();
   $(".show_vidpopup .video_popup").hide();
  $("html").removeClass("show_vidpopup");
  $(this).parent().find("video").css("opacity","1");
  
    var video = $(this).parent().find("video").get(0);
    
$(".SliderVideo").each(function(){
    var vid = $(this).find("video").get(0);
  	vid.pause();
  	/*video.trigger("pause");*/
    
});
  
  video.play();
  
  
var otherVideo = $(this).parent().parent().find("video").get(0);
  
$(this).parent().siblings().find("img").show();
  
    
   
});
   
         
$(document).on('click', '.video_play video', function () {
   $('.productVideoSection .row').slick('slickPlay');
   
   var curr_video = $(this).get(0);
    curr_video.pause();
   
    $(this).parent().find(".play_button").show();
  
   
 });

 
   $(document).on('click', '.productVideoSection ul.slick-dots li:nth-child(even)', function () {
   
    $(this).parent().addClass("right_img_slide");

   
 });
    $(document).on('click', '.productVideoSection ul.slick-dots li:nth-child(odd)', function () {
   
    $(this).parent().removeClass("right_img_slide");

   
 });
 

   $(document).on('click', '.SliderVideo video', function () {
   
   var curr_video = $(this).get(0);
    curr_video.pause();
   
    $(this).parent().find(".play_button").show();
   
 });
   
      
  $(document).on('click', '.productVideoSection ul.slick-dots li', function () {
    
    $(".SliderVideo").each(function(){
    var video = $(this).find("video").get(0);
  	video.pause();
  	/*video.trigger("pause");*/
    
});
   
   
   
    $(".SliderVideo video").parent().find("img").show();

   
 });


});


</script>


{% schema %}
  {
    "name": "Testimonial Slider",
    "settings": [
    {
    "id": "prod_background_desktop",
        "type": "image_picker",
        "label": "Desktop Background"
    },
    {
    "id": "prod_background_mobile",
        "type": "image_picker",
        "label": "Mobile Background"
    },
	{
        "id": "customer_heading",
        "type": "text",
        "label": "Heading"
      }
  ],
    "max_blocks": 100,
  "blocks": [
      {
        "type": "slideshow",
        "name": "Testimonial Slide",
        "settings": [
    {
        "id": "client_review",
        "type": "text",
        "label": "Client Review"
      },
		  {
      "type": "checkbox",
      "id": "insta_box",
      "label": "Show instagram handle"
    },
		{
        "id": "client_insta",
        "type": "text",
        "label": "Client Instagram"
      },
		{
        "id": "client_name",
        "type": "text",
        "label": "Client name"
      },
	{
      "type": "checkbox",
      "id": "prod_button",
      "label": "Show button"
    },
	{
      "id": "button_url",
      "type": "product",
      "label": "Button url"
      },
		{
      "id": "button_text",
      "type": "text",
      "label": "Button text"
      },
		{
       "type":      "radio",
       "id":        "media_selected",
       "label":     "Select media type",
       "options": [
         { "value": "image", "label": "Image" },
         { "value": "video", "label": "Video" }
       ],
       "default":   "image"
    },
		{
       "type":      "radio",
       "id":        "shape_selected",
       "label":     "Select shape type",
       "options": [
         { "value": "rectangle", "label": "Rectangle" },
         { "value": "circle", "label": "Circle" }
       ],
       "default":   "circle"
    },
	{
       "type":      "radio",
       "id":        "width_selected",
       "label":     "Select video width",
       "options": [
         { "value": "full_width", "label": "Full width" },
         { "value": "auto_width", "label": "Auto width" }
       ],
       "default":   "auto_width"
    },	
	{
       "type":      "radio",
       "id":        "thumbnail_width",
       "label":     "Select thumbnail width",
       "options": [
         { "value": "full_width", "label": "Full width" },
         { "value": "auto_width", "label": "Auto width" }
       ],
       "default":   "full_width"
    },

	{
        "id": "client_image",
        "type": "image_picker",
        "label": "Client image"
      },
	{
        "id": "product_video",
        "type": "text",
        "label": "Video name"
      },
	 {
    "id": "product_video_cover",
        "type": "image_picker",
        "label": "Video thumbnail"
    }

	   
        ]
  }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
