<section class="page_content_section mobile_only p-t-66 p-b-38" id="section_k_{{ section.id }}" >

    	<div class="row">
<div class="col-md-12 FirstSectImage" style="background-image:url('{{ section.settings.subscription_banner_bg | img_url: 'master' }}')" >
 <div class="play_button">
    <video controls>
        <source src="{{ 'Questionnaire.mov' | asset_url }}" type="video/mp4">
      </video> 
      <img src="{{ 'white-play.png' | asset_url }}">
    </div>
          </div>
          
<div class="col-md-12 bgWhite">
  <div class="container">
  <div class="simpletext">
    <h2 class="textOverImg"> {{ section.settings.subscription_m_text_box_left_title }} </h2>
    <p>{{ section.settings.subscription_m_text_box_left_des }}</p>
    
    </div>
	</div>    
</div>

          
          </div>
   
</section>
{% schema %}
  {
    "name": "subscription_banner_m",
    "settings": [
      {
        "id": "subscription_m_text_box_left_title",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },
	  {
        "id": "subscription_m_text_box_left_des",
        "type": "html",
        "label": "Description"
      }
	  ,
		{
		"id": "subscription_banner_bg",
        "type": "image_picker",
        "label": "Background Image"
		}
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}