
<section class="page_content_section subFormsection" id="section_k_{{ section.id }}" style="background-image:url('{{ section.settings.plan_bg_image | img_url: 'master' }}');
">
  <div class="container">

    <div class="subForminnersection">
        <div class="text-center simpletext">

          <h2> {{ section.settings.plan_heading }} </h2>
          <p> {{ section.settings.plan_text }} </p>

        </div>
      
        <div class="formSection">
          <form>
            <div class="field-group">
              <label>1. Which of the following outfits and accessories can best describe your style? </label>
              <div class="outfitSlider">
              
              <div class="imageSlide">
                <div class="overlay">
                  <img src="{{ section.settings.check_image | img_url: 'master' }}">
                </div>
                 <img src="{{ block.settings.outfit_slide1 | img_url: 'master' }}">
              </div>
              <div class="imageSlide">
                <div class="overlay">
                  <img src="{{ block.settings.check_image | img_url: 'master' }}">
                </div>
                 <img src="{{ block.settings.outfit_slide2 | img_url: 'master' }}">
              </div>
              <div class="imageSlide">
                <div class="overlay">
                  <img src="{{ block.settings.check_image | img_url: 'master' }}">
                </div>
                 <img src="{{ block.settings.outfit_slide3 | img_url: 'master' }}">
              </div>
              <div class="imageSlide">
                <div class="overlay">
                  <img src="{{ block.settings.check_image | img_url: 'master' }}">
                </div>
                 <img src="{{ block.settings.outfit_slide4 | img_url: 'master' }}">
              </div>
              <div class="imageSlide">
                <div class="overlay">
                  <img src="{{ block.settings.check_image | img_url: 'master' }}">
                </div>
                 <img src="{{ block.settings.outfit_slide5 | img_url: 'master' }}">
              </div>
              <div class="imageSlide">
                <div class="overlay">
                  <img src="{{ block.settings.check_image | img_url: 'master' }}">
                </div>
                 <img src="{{ block.settings.outfit_slide6 | img_url: 'master' }}">
              </div>
              <div class="imageSlide">
                <div class="overlay">
                  <img src="{{ block.settings.check_image | img_url: 'master' }}">
                </div>
                 <img src="{{ block.settings.outfit_slide7 | img_url: 'master' }}">
              </div>
              <div class="imageSlide">
                <div class="overlay">
                  <img src="{{ block.settings.check_image | img_url: 'master' }}">
                </div>
                 <img src="{{ block.settings.outfit_slide8 | img_url: 'master' }}">
              </div>
              <div class="imageSlide">
                <div class="overlay">
                  <img src="{{ block.settings.check_image | img_url: 'master' }}">
                </div>
                 <img src="{{ block.settings.outfit_slide9 | img_url: 'master' }}">
              </div>   
            </div>
            </div>
            <div class="field-group">
              <label>2. Which of the following words resonate with you the most?</label>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="two_one" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="two_one">Delicate, Classy, Timeless, Minimal</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="two_two" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="two_two">Versatile, Experimental, Trendy, Ever-changing</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="two_three" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="two_three">Unapologetic, Vibrant, Colorful</label>
              </div>
            </div>
            <div class="field-group">
              <label>3. Which of these color palettes would you pick for an outfit?</label>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="three_one" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="three_one">Layered neutrals and muted tones</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="three_two" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="three_two">Classic shades with a pop of color</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="three_three" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="three_three">You have no rules or preferred color palettes when it comes to outfits</label>
              </div>
            </div>
            <div class="field-group">
              <label>4. Which of these trends do you enjoy the most?</label>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="four_one" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="four_one">Vintage inspired, simplistic pieces</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="four_two" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="four_two">Mix'n'match, modern street style trends</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="four_three" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="four_three">Colorblock, mixed patterns and unique silhouettes</label>
              </div>
            </div>
            <div class="field-group">
              <label>5. Which of the following wardrobes resemble yours the most?</label>
              <div class="wardrobeSlider">
                <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.wardrobe_slide1 | img_url: 'master' }}">
                </div>
                 <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.wardrobe_slide2 | img_url: 'master' }}">
                </div>
                 <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.wardrobe_slide3 | img_url: 'master' }}">
                </div>
                 <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.wardrobe_slide4 | img_url: 'master' }}">
                </div>
                 <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.wardrobe_slide5 | img_url: 'master' }}">
                </div>
                 <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.wardrobe_slide6 | img_url: 'master' }}">
                </div>
                 <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.wardrobe_slide7 | img_url: 'master' }}">
                </div>
                 <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.wardrobe_slide8 | img_url: 'master' }}">
                </div>
                <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.wardrobe_slide9 | img_url: 'master' }}">
                </div>

              </div>
            </div>
            <div class="field-group">
              <label>6. How would you describe your wardrobe?</label>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="six_one" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="six_one">A true classic with traditional silhouettes and shades</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="six_two" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="six_two">The perfect mix of everyday go-tos and a few more vibrant designer creations</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="six_three" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="six_three">A personal wonderland filled with colors, patterns and different silhouettes</label>
              </div>
            </div>
            <div class="field-group">
              <label>7. Which of these scarves do you like most from our collection? </label>
              <div class="scarvesSlider">
                <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.scarves_slide1 | img_url: 'master' }}">
                </div>
                <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.scarves_slide2 | img_url: 'master' }}">
                </div>
                <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.scarves_slide3 | img_url: 'master' }}">
                </div>
                <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.scarves_slide4 | img_url: 'master' }}">
                </div>
                <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.scarves_slide5 | img_url: 'master' }}">
                </div>
                <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.scarves_slide6 | img_url: 'master' }}">
                </div>
                <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.scarves_slide7 | img_url: 'master' }}">
                </div>
                <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.scarves_slide8 | img_url: 'master' }}">
                </div>
                <div class="imageSlide">
                  <div class="overlay">
                    <img src="{{ block.settings.check_image | img_url: 'master' }}">
                  </div>
                  <img src="{{ block.settings.scarves_slide9 | img_url: 'master' }}">
                </div>
              </div>
            </div>
            <div class="field-group">
              <label>8. You like your accessories...</label>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="eight_one" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="eight_one">To effortlessly compliment your elegant aesthetic without overpowering the outfit</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="eight_two" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="eight_two">To adapt to your mood and outfit, whether you're wearing casual monochromes or a vibrant floral pattern</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="eight_three" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="eight_three">To bring a pop of color and life to your looks</label>
              </div>
            </div>
            <div class="field-group">
              <label>9. With the Scarflings Subscription, you are hoping to...</label>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="nine_one" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="nine_one">Find the perfect scarves to accompany your monochrome looks</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="nine_two" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="nine_two">Build up a scarf wardrobe blended with minimal and more experimental pieces</label>
              </div>
              <div class="radioInputs">
                <span class="radio_circle">
                  <input type="radio" name="radio" id="nine_three" value="Styling Suggestions">
                  <span class="checkmark">
                  </span>
                </span>
                <label for="nine_three">Create an edit of unapologetic accessories to bring a sense of boldness to outfits</label>
              </div>
            </div>
            
            
          </form>
        </div>

   </div>
  
</div>
  
</section>
<script>
    $(document).ready(function(){
      $('.outfitSlider').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        slidesToScroll: 3,
        arrows:false
      });
      $('.wardrobeSlider').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        arrows:false,
        slidesToScroll: 3
      });
      $('.scarvesSlider').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        arrows:false,
        slidesToScroll: 3
      });
      
      $('.imageSlide > img').click(function() {
          $(this).parent().addClass('active').siblings().removeClass('active');
      });
    });
</script>  
{% schema %}
  {
    "name": "select subscription plan",
    "settings": [
     {
        "id": "plan_heading",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },

    {
        "id": "plan_text",
        "type": "richtext",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
    {
    "id": "plan_bg_image",
        "type": "image_picker",
        "label": "Background Right"
    },
     {
            "type": "image_picker",
            "id": "check_image",
            "label": "Check Image",
            "info": "add image"
       }
      
    ],
  "blocks": [
    {
      "type": "box",
      "name": "Outfit Slider",
      "settings": [
  
    {
            "type": "image_picker",
            "id": "outfit_slide1",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "outfit_slide2",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "outfit_slide3",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "outfit_slide4",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "outfit_slide5",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "outfit_slide6",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "outfit_slide7",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "outfit_slide8",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "outfit_slide9",
            "label": "Slides Image",
            "info": "add image"
       }

      ]

    },
  {
      "type": "box1",
      "name": "Wardrobes Slider",
      "settings": [
    {
            "type": "image_picker",
            "id": "wardrobe_slide1",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "wardrobe_slide2",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "wardrobe_slide3",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "wardrobe_slide4",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "wardrobe_slide5",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "wardrobe_slide6",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "wardrobe_slide7",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "wardrobe_slide8",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "wardrobe_slide9",
            "label": "Slides Image",
            "info": "add image"
       }
      ]
    },
    {
      "type": "box2",
      "name": "Scarves Slider",
      "settings": [
    {
            "type": "image_picker",
            "id": "scarves_slide1",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "scarves_slide2",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "scarves_slide3",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "scarves_slide4",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "scarves_slide5",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "scarves_slide6",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "scarves_slide7",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "scarves_slide8",
            "label": "Slides Image",
            "info": "add image"
       },
    {
            "type": "image_picker",
            "id": "scarves_slide9",
            "label": "Slides Image",
            "info": "add image"
       }
      ]
    }
  ]
 }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}