 <div class="leftBg" style="background-image:url('{{ section.settings.left_bg | img_url: 'master' }}');
"></div>
<div class="container my-4 accordian_general_enquiries">

    <h2 style="text-align: center;padding: 60px 40px 30px 20px;">{{ section.settings.accordian_heading }}</h2>	
    <!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordion_general_enquiries" role="tablist" aria-multiselectable="true">
    {% for block in section.blocks %}

{% if forloop.first == true %}
  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="{{ block.id }}_heading">
      <a data-toggle="collapse" data-parent="#accordion_general_enquiries" href="#{{ block.id }}_collapse" aria-expanded="true"
        aria-controls="{{ block.id }}_collapse" style="color: #b64d27;">
        <h5 class="mb-0">
          {{ block.settings.accordian_title }} <i class="fa fa-angle-down rotate-icon" style="float:right;color: #b64d27;"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="{{ block.id }}_collapse" class="collapse show" role="tabpanel" aria-labelledby="{{ block.id }}_heading"
      data-parent="#accordion_general_enquiries">
      <div class="card-body">
        {{ block.settings.accrdian_text }}
      </div>
    </div>

  </div>
  <!-- Accordion card -->
  {% else %}
        <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="{{ block.id }}_heading">
      <a data-toggle="collapse" data-parent="#accordion_general_enquiries" href="#{{ block.id }}_collapse" aria-expanded="false"
        aria-controls="{{ block.id }}_collapse" style="color: #b64d27;">
        <h5 class="mb-0">
          {{ block.settings.accordian_title }} <i class="fa fa-angle-down rotate-icon" style="float:right;color: #b64d27;"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="{{ block.id }}_collapse" class="collapse" role="tabpanel" aria-labelledby="{{ block.id }}_heading"
      data-parent="#accordion_general_enquiries">
      <div class="card-body">
        {{ block.settings.accrdian_text }}
      </div>
    </div>

  </div>
  <!-- Accordion card -->
  {% endif %}
      
{% endfor %}

</div>
<!-- Accordion wrapper -->

  </div>
{% schema %}
  {
    "name": "General Enquiries",
	"max_blocks": 10,
    "settings": [
    {
		"id": "left_bg",
        "type": "image_picker",
        "label": "Background"
		}, 
	{
      "id": "accordian_heading",
      "type": "text",
      "label": "Accordian Heading",
      "default": "General Enquiries"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "Add accordian",
      "settings": [
        {
          "id": "accordian_title",
          "type": "text",
       		"label": "Accordian title"
        },
        {
          "id": "accrdian_text",
          "type": "html",
          "label": "Accordian text"
          
        }
      ]
    }
  ]
  }
{% endschema %}