<style>
  #shopify-section-testimonial__bg_title_user_image {
    padding: 100px 0px 100px 0px !important;
}
   #shopify-section-testimonial__bg_title_user_image h2{
  	margin-bottom: 30px;
  }
  #shopify-section-testimonial__bg_title_user_image h2 sup {
    font-size: 20px !important;
    top: -12px;
    margin-top: 0px !important;
}
#section_k_testimonial__bg_title_user_image .user_address {
    padding: 0px;
    margin: 0px !important;
}
  @media (max-width: 767px){
  	 #shopify-section-testimonial__bg_title_user_image h2{
      margin-bottom: 25px;
    }
    #shopify-section-testimonial__bg_title_user_image h2 sup {
    font-size: 12px !important;
    top: -7px;
    margin-top: 0px !important;
}
   #shopify-section-testimonial__bg_title_user_image {
    padding: 50px 0px 0px 0px !important;
}
  }

  #shopify-section-testimonial__bg_title_user_image section {
    padding: 0px;
    background-repeat: no-repeat;
    background-position: calc(100% - -185px) bottom;
    background-size: 475px;
    background-image: none !important;
}
  
  #section_k_testimonial__bg_title_user_image .container > div {
    box-shadow: 0px 0px 13px #ccc !important;
    padding: 65px 60px 60px 60px !important;
    background: #fff !important;
    border-radius: 10px !important;
}
  #section_k_testimonial__bg_title_user_image .container > div div {
    padding: 0px;
}
  
  #shopify-section-testimonial__bg_title_user_image h4 {
    color: #bd812d;
    margin: 35px 0px 55px 0px;
}
    #section_k_testimonial__bg_title_user_image .container > div div {
    padding: 0px;
}
  .user_card {
    display: flex;
    justify-content: center;
    align-items: center;
}
  #section_k_testimonial__bg_title_user_image .container > div div {
    padding: 0px;
}
  
  #section_k_testimonial__bg_title_user_image .user_data {
    margin-left: 30px !important;
    text-align: left !important;
}
 #section_k_testimonial__bg_title_user_image .user_card img {
    width: 150px !important;
    height: 150px !important;
}
#section_k_testimonial__bg_title_user_image .user_data .user_name {
    color: #b54f28 !important;
    font-size: 25px !important;
    font-weight: 500 !important;
    margin: 0px !important;
}
  
#section_k_testimonial__bg_title_user_image .user_position {
    color: #c3882b !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
    margin: 0px !important;
    padding-bottom: 0px;
}
#section_k_testimonial__bg_title_user_image .user_address {
    color: #000 !important;
    font-size: 16px !important;
}
  

  @media (max-width: 767px){
  
      .container {
          width: 100% !important;
          max-width: 100% !important;
          padding: 0px 25px !important;
      }
    }
/* ------------------------- */
  
section#section_k_testimonial__bg_title_user_image .text-center.simpletext p {
    max-width: 850px;
    margin: auto;
}

@media only screen  and (max-width:767px) {
	section#section_k_testimonial__bg_title_user_image .text-center.simpletext p{
  	    text-align: left;
  }
  body #section_k_testimonial__bg_title_user_image .container > div {
    padding: 35px 20px 40px 20px !important;
}

    section#section_k_testimonial__bg_title_user_image h4 {
        font-size: 14px !important;
        margin-top: 20px !important;
        margin-bottom: 38px !important;
    }

    section#section_k_testimonial__bg_title_user_image .user_image img {
        max-width: 80px !important;
        height: auto !important;
        vertical-align: top;
        margin-top: 0px;
    }
  section#section_k_testimonial__bg_title_user_image .container {
        padding: 0 25px !important;
    }
  body #section_k_testimonial__bg_title_user_image .user_data{
      margin-left: 10px !important;
    }
    body #section_k_testimonial__bg_title_user_image .user_data .user_name {
      font-size: 20px !important;
  }
  body #section_k_testimonial__bg_title_user_image .user_data p.user_position {
      font-size: 13px !important;
      margin-top: 5px !important;
      margin-bottom: 0px !important;
  }
    body #section_k_testimonial__bg_title_user_image .user_data p.user_address {
      line-height: 1.4 !important;
          margin-bottom: 0 !important;
  }
  section#section_k_testimonial__bg_title_user_image h4 {
      font-size: 16px !important;
      margin-top: 20px !important;
      margin-bottom: 30px !important;
     margin: 20px -3px 30px -3px !important;
  }
  #section_k_testimonial__bg_title_user_image .user_address {
    font-size: 14px !important;
}
body #section_k_testimonial__bg_title_user_image .user_data p.user_position {
    line-height: 1.3em !important;
}
section#section_k_testimonial__bg_title_user_image .user_image img {
    max-width: 70px !important;
}
}
@media (max-width: 345px){
  section#section_k_testimonial__bg_title_user_image h4 {
    font-size: 15px !important;
}

}  
@media only screen and (min-width:1100px) {
	#shopify-section-testimonial__bg_title_user_image h4 {
	    font-size: 26px !important;
	}
  #shopify-section-testimonial__bg_title_user_image h2 {
      font-size: 40px !important;
  }
  body #section_k_testimonial__bg_title_user_image .container > div{
  	padding: 65px 60px !important;
  }
}
@media only screen and (max-width: 330px) {  
section#section_k_testimonial__bg_title_user_image .container {
    padding: 0 15px !important;
  
}
  #section_k_testimonial__bg_title_user_image .user_address {

    font-size: 13px !important;
}
}
/*  ---------------  */
</style>
<section class="page_content_section p-t-66 p-b-38" id="section_k_{{ section.id }}" style="background-image:url('{{ section.settings.bg_image_right | img_url: 'master' }}');
">
<div class="container">


<div class="">
  	<div class="text-center simpletext">
      
      <h2> {{ section.settings.text_box_left_title }} </h2>
      <h3> {{ section.settings.text_box_left_text }} </h3>
      <h4> {{ section.settings.text_quote }} </h4>
  		
      <div class="user_card">
        <div class="user_image">
        	<img src="{{ section.settings.user_image | img_url: 'master' }}" alt="Image R">
        </div>
        <div class="user_data">
			<h4 class="user_name">
          		{{ section.settings.user_name }}
          		
        	</h4>
          
          	<p class="user_position">
              {{ section.settings.user_position }}
          
          	
        	</p>
          	<p class="user_address">
              {{ section.settings.user_address }}
          
          	
        	</p>
          	
        </div>
      </div>
      	
    	
  
	</div>
    
  
</div>


          
</div>
  
</section>
<script>
$(document).ready(function(){
  
  $("p").each(function() {

      if($.trim($(this).html()).length == 0) {
         $(this).remove();
      }

  });
  
  
  
});
</script>
    
{% schema %}
  {
    "name": "Content Above Image",
    "settings": [
		 {
        "id": "text_box_left_title",
        "type": "text",
        "label": "Heading",
        "default": "Title"
      },

		{
        "id": "text_box_left_text",
        "type": "html",
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>"
      },
	{
        "id": "text_quote",
        "type": "text",
        "label": "Quote",
        "default": "your quote"
      },

		{
		"id": "bg_image_right",
        "type": "image_picker",
        "label": "Background Right"
		},
		
        {
		"id": "user_image",
        "type": "image_picker",
        "label": "Image"
		},
      {
        "id": "user_name",
        "type": "text",
        "label": "User name",
        "default": "your User name"
      },
		{
        "id": "user_position",
        "type": "text",
        "label": "User position",
        "default": "your User position"
      },
		{
        "id": "user_address",
        "type": "text",
        "label": "User position",
        "default": "your User position"
      }

     
      
			
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}