{% assign zp_use_favicon = false %}{% assign zp_use_meta_tags = false %}{% assign zp_use_open_graph_tags = false %}<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="ltr" lang="en" class="ie8">
<![endif]-->
<!--[if IE 9 ]>
<html dir="ltr" lang="en" class="ie9">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="en">
  <!--<![endif]-->
  <head> 
    
     
    <!-- Basic page needs ================================================== -->
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" />
    <link rel="apple-touch-icon" href="{{ 'favicon.png' | asset_url }}" />
    {% endif %}
    <meta name="google-site-verification" content="yxH3P-bGonrSLN2YpbDkUGhQ6hMzHvPGf5fBekO9J0U" />
    <meta name="msvalidate.01" content="8986DCAAD39B5CEE70B0D5C8BE3944BC" />
    <script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"25058976"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>
    
    <!-- Title and description ================================================== -->
    <title>
      
      {% comment %}
    {% if page_title != 'Scarflings' %}
      
      {{ page_title }}
      
     {% endif %}
      
      {% endcomment %}
      
      
      {% if template != 'index' %}
      
      {{ page_title }}
      
     {% endif %}
      
      
      {% if current_tags %}
      	{% assign current_tags_joined = current_tags | join: ', ' %} 
      	&ndash; 
      	{{ 'general.meta.tags' | t: tags: current_tags_joined }}
      {% endif %}
      
      {% if current_page != 1 %} 
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
      
      {% endif %}
      
      {% unless page_title contains shop.name %} 
      
      {% if template == 'index' %}
      
      {{ shop.name }}
  
	  {% endif %}
      
      {% if template != 'index' %}
      
      &ndash; {{ shop.name }}
      
     {% endif %}
      
      
      
      {% comment %}
      {% if page_title != 'Scarflings' %}
      
      &ndash; {{ shop.name }}
      {% elsif page_title == 'Scarflings' %}
      
      {{ shop.name }}
      
      {% endif %}
      
      {% endcomment %}
      
      
      {% endunless %}
    
    </title>
    
    
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
    <base href="{{ canonical_url }}" />
    
    {% include 'critical_path_css' %}
    
    {% if template == 'product' %}    	
    {% include 'product_css' %}
    {% endif %}
    

    <!-- Product meta ================================================== -->
    {% include 'open-graph-tags' %}
    {% include 'twitter-card' %}
	
    
	
    <!-- App ================================================== -->
    
    
    {% if template != 'product.book_a_stylist_booking' %}

    {% assign content_header = content_for_header | replace: ' x.parentNode.insertBefore(s, x)', 'loadJS(urls[i])' | remove: "window.attachEvent('onload', asyncLoad)" | replace: "window.addEventListener('load', asyncLoad, false)", "window.addEventListener('load', function load(event){setTimeout(function(){asyncLoad();/*loadJS('//cdn.codeblackbelt.com/js/modules/frequently-bought-together/main.min.js?shop=scarflings.myshopify.com');*/}, 4000)},false)" | replace: "first.parentNode.insertBefore(script, first)", "window.addEventListener('load', function load(event){setTimeout(function(){loadJS('https://cdn.shopify.com/s/javascripts/tricorder/trekkie.storefront.min.js?v=2017.09.05.1')}, 5000)},false)" %}
    
    {{ content_header }}
    
    {% endif %}
    
    {% if template == 'product.book_a_stylist_booking' %}
    	{% comment %}{{ content_for_header }}{% endcomment %}{% capture zp_include_html %}{% include 'header-scripts.zipifypages' %}{% endcapture %}{% unless zp_include_html contains 'Liquid error: Could not find asset snippets/header-scripts.zipifypages.liquid' or zp_include_html contains 'Liquid error: Could not find asset snippets/page-content-parser.zipifypages.liquid' %}{{ zp_include_html | strip }}{% assign zp_include_html = '' %}{% endunless %}

    {% endif %}
  
	{{ shop.metafields.loox["global_html_head"] }}
   
   
    
    
    
    
	
    {% case template %}
    {% when 'index' %}
    <script>
      window.onload = function() {lazy_config_function()};  
  
  function lazy_config_function(){
    
    window.lazySizesConfig = window.lazySizesConfig || {};
    
      
      	lazySizesConfig.loadMode = 0;
    	lazySizesConfig.expFactor = 0.1;
      	lazySizesConfig.hFac = 1;
    	lazySizesConfig.init = true;
      	
    
    
  }  
window.onscroll = function(){lazy_config_change_function()};
  
  function lazy_config_change_function(){
    
    window.lazySizesConfig = window.lazySizesConfig || {};
    
    lazySizesConfig.expFactor = 0.1;
    lazySizesConfig.loadMode = 1;
    lazySizesConfig.init = true;
    
    
  }

    </script>
     {% else %}
    {% endcase %}
    
    <script>
      var theme_by_raj ="Scarflings_Performance";
    </script>
    
<script id="sg-js-global-vars">
                        sgGlobalVars = {{ shop.metafields['sg-cc']['sg-metafield'] | json }};
                        if(sgGlobalVars) {
                            sgGlobalVars.cart = {{ cart | json }};
                            sgGlobalVars.currentProduct = {{ product | json }};
                            sgGlobalVars.isAdmin = {% if content_for_header contains 'adminBarInjector' or content_for_header contains 'previewBarInjector' %}true{% else %}false{% endif %};
                        }
                    </script>
    
  {% if template == 'product.book_a_stylist_booking'%}  
     {% include 'bookthatapp-widgets' %}  
  {% endif %}
    
  
    
    <!--For SubScription--->
    
    
    
    {% if template != 'product' and  template == 'page.Subscription' or  template == 'product.subscription' and template != 'index'  %}
    {%- render 'bold-common' -%}
	{%- render 'bold-ro-init' -%}
    {% endif %}
    <!---->
<meta name="locale-bar--browsing-context-suggestions-url" content="{{ routes.browsing_context_suggestions_url }}">
<meta name="locale-bar--current-language" content="{{ request.locale.iso_code }}">
<meta name="locale-bar--current-currency" content="{{ cart.currency.iso_code }}">

    
</head>
  
   
  <div id="qab_placeholder">
    
  </div>
  <body id="body" class=" {% case template %}
               {% when 'index' %}

               {% when 'collection' %}
               collection
               {% when 'blog' %}
               blog-blog
               {% when 'article' %}
               blog-article
               {% when 'cart' %}
               checkout-cart
               {% when 'customers/login' %}
               account-login
               {% else %}
               {% endcase %}" >

    
<!-- JS ================================================== -->
    {% include 'jquery-min' %}
    {% include 'jquery-cookie' %}

{% include 'top-currency-bar' %}

    <script>	
      var qab_adjusted = false;
      $( "#qab_placeholder" ).on( "qab_fully_loaded", function(event, p1) {
        if ((p1=='inserted' || p1=='inserted_sticky') && !qab_adjusted ){
          qab_adjusted = true;
          var qab_height = $("#qab_background").height();
          $("<div />", {html: '<style>' + 'nav.isStuck{top:' + qab_height + 'px !important;}' + '</style>'}).appendTo("body");
        }
      });
    </script>
    
    <!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    {% section 'header' %}
    {% section 'remove_collection_from_search' %}
     
    <div class="contentforlayout">
      {% comment %}{{ content_for_layout }}{% endcomment %}{% capture zp_include_html %}{% include 'article-content.zipifypages' %}{% endcapture %}{% if zp_include_html contains 'Liquid error: Could not find asset snippets/article-content.zipifypages.liquid' %}{{ article.content | strip }}{% else %}{{ zp_include_html | strip }}{% endif %}{% assign zp_include_html =  %}
      <!-- End Content -->  
	  {% comment %}	
      {% include 'quickview' %}
      {% endcomment %}	

      {% section 'footer' %}
    </div>
    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
      </span>
    </div>
    <!-- Container Selection1 -->
    <div id="dropDownSelect1"></div>
    {% if settings.show_pupup and template == 'index'%}
    {% include 'popup' %}
    {% endif %}
    
    <!-- JS ================================================== -->
    {% include 'header-js-file' %}
    
    <!-- CSS ================================================== -->
    
    {% include 'header-css-file' %} 
    
    
    <!-- JavaScripts Start-->
    
    <script defer src="{{ 'mix.js' | asset_url }}" ></script>
    
    
    
    {% comment %}
	{{ 'searhcanise-curr.js' | asset_url | script_tag }}
    {{ 'jquery.currencies.min.js' | asset_url | script_tag }}
    {% endcomment %}
    
    
    <!--<link rel="stylesheet" type="text/css" href="{{ 'font-awesome.min.css' | asset_url }}">-->
   
    
    <script defer src="{{ 'popper.js' | asset_url }}" ></script>
    <script defer src="{{ 'bootstrap.min.js' | asset_url }}" ></script>
    <script defer src="{{ 'main.js' | asset_url }}" ></script>
    <script defer src="{{ 'common.js' | asset_url }}" ></script>
    <script defer src="{{ 'jquery.magnific-popup.min.js' | asset_url }}" ></script>
    {% comment %}
    <script defer src="{{ 'quickview.js' | asset_url }}" ></script>
    {% endcomment %}
    <script defer src="{{ 'jquery.cookie.js' | asset_url }}" ></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" ></script>
    <script defer src="{{ 'ajaxify.js' | asset_url }}" ></script>
    <script defer src="{{ 'fastclick.min.js' | asset_url }}" ></script>
    <script defer src="{{ 'ajaxinate.min.js' | asset_url }}" ></script>
    
    
    <script type="text/javascript">
      jQuery(document).ready(function($){
        
        if($(".selection-1").get(0)){
          
          $(".selection-1").select2({
          minimumResultsForSearch: 20,
          dropdownParent: $('#dropDownSelect1')
        });
          
          
		}
        
        
         $('.block2-btn-addwishlist').each(function(){ 
        var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
        $(this).on('click', function(){
          swal(nameProduct, "is added to wishlist !", "success");
        });
      });
        
        if($(".parallax100").get(0)){
          
         $('.parallax100').parallax100();
          
          
		}

     
        
        
      });

      
    </script>
    <!--===============================================================================================-->

    {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
    {% endif %}

    <script>
      var moneyFormat = '{{ shop.money_format }}';
    </script>

    {% if template == 'product' %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% endif %}
    
    {% if settings.ajax_cart_method != 'page' %}
    {% include 'ajax-cart-template' %}

    <script>
      jQuery(function($) {
        ajaxifyShopify.init({
          method: '{{ settings.ajax_cart_method }}',
          wrapperClass: 'product-detail',
          formSelector: '#addToCartForm',
          addToCartSelector: '#addToCart',
          cartCountSelector: '.cart-count',
          cartCostSelector: '.cart-cost',
          toggleCartButton: '.cart-toggle',
          useCartTemplate: true,
          btnClass: 'btn',
          moneyFormat: {{ shop.money_format | json }},
          disableAjaxCart: false,
          enableQtySelectors: true
        });
      });
    </script>
    {% endif %}

    {% if template  == 'product' %}
    {{ 'shop.js' | asset_url | script_tag }}
    {% endif %}
   

    {{ shop.metafields.loox["global_html_body"] }}
    
  
    <script>
      jQuery(document).ready(function($){
        $('img.lazyload').lazyload();
      });
    </script>
    
    {% comment %}
  	{% include 'carro' %}
    {% endcomment %}
  
<!-- BEGIN KLAVIYO SIGNUP FORM CODE -->
<!--<script type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=QCjJzy" defer></script>-->
<!-- END BEGIN KLAVIYO SIGNUP FORM CODE -->

  
  
  
 {% include 'smile-initializer' %}
    
 <!-- This site is converting visitors into subscribers and customers with OptinMonster - https://optinmonster.com -->
<script type="text/javascript" src="https://a.opmnstr.com/app/js/api.min.js" data-account="75274" data-user="66928" async></script>
<!-- / https://optinmonster.com -->
             
    <div class="pgmsk">&nbsp;</div>

    
{% capture zp_include_html %}{% include 'page-footer.zipifypages' %}{% endcapture %}{% unless zp_include_html contains 'Liquid error: Could not find asset snippets/page-footer.zipifypages.liquid' %}{{ zp_include_html | strip }}{% assign zp_include_html = '' %}{% endunless %}</body>
</html>
{% layout none %}