<!-- Title Page -->
<!--<script src="https://app.sesami.co/static/shopify.js?shop=scarflings.myshopify.com&shop=scarflings.myshopify.com" async></script>
<script src="https://app.sesami.co/static/storefront.js?v=1.0.7" async></script>-->

<!--<script type="text/javascript" async="" src="https://app.sesami.co/static/shopify.js?shop=scarflings.myshopify.com"></script>-->
	


<link href="https://fonts.googleapis.com/css?family=DM+Serif+Text:400,400i|Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
<style>
  .mfp-bg.mfp-fade.mfp-ready {
    z-index: 9999999;
}
 .content-details,
	.content-overlay {
		display: none !important;
	}
.hero_play_button {
    margin: 18px 0px 20px 0px;
    display: block;
    width: 200px;
}
 .hero_play_button p {
    margin: 0px !important;
}
  .mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-fade.mfp-ready {
    z-index: 9999999;
}
  #shopify-section-content_right_image_left_desktop .FirstSectImage  {
    position: relative;
}

  .play_button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.play_button img:hover{
    transform: scale(1.2);
}
.play_button img {
    width: 100px !important;
    height: auto !important;
    background: #fff;
    border-radius: 50% !important;
    transition: all 0.3s ease;
} 
a.ui-state-default {
    font-family: poppins;
}
.simpletext a.btn.btn--cta.cpsgts img {
    width: 19px;
    margin: -4px 0 0 5px;
}
  #section_k_content_right_image_left_desktop .btn.btn--cta.cpsgts {
    margin: 10px 0 0 0 !important;
    font-size: 22px !important;
    padding: 5px 30px;
    line-height: 1.6em;
}
#ui-datepicker-div {
    z-index: 999999 !important;
}
.error {
      margin: 10px 0px !important;
      display: inline-block;
      color: red;
      text-align:left;
  	  display:none;

  }
#book_stylist_add_to_cart_form_button, #SelectAppointMentDateAndTime {
    background: #b65327 !important;
    font-size: 21px !important;
    height: auto;
    border-radius: 8px !important;
    text-align: center;
    padding: 0px;
    margin: 10px auto 10px auto;
    padding: 8px 24px !important;
    line-height: 1em;
    font-weight: 400;
    font-family: 'DM Serif Text', serif !important;
  	color:#fff !important;
  	  -webkit-appearance: none !important;
  	opacity: 1 !important;
  	-webkit-appearance: none !important;
-moz-appearance: none !important;
appearance: none !important;
  cursor:pointer;
}
#section_k_content_right_image_left_desktop .btn.btn--cta.cpsgts {
    margin: 10px 0 0 0 !important;
}
#section_k_content_right_image_left_desktop .btn.btn--cta.cpsgts:hover {
    background: #ab4618 !important;
    opacity: 1 !important;
}
 
#book_stylist_add_to_cart_form_button:hover,#SelectAppointMentDateAndTime:hover {
    opacity: 0.8 !important;
}

#section_k_slider_meet_out_stylist .slick-arrow {
    font-size: 60px;
    position: absolute;
    left: 0px;
    color: #e9cca0;
    z-index: 99;
    top: 38%;
    width: 1200px;
    right: 0px;
    margin: 0 auto;
  	max-width: 100%;
}
  
  #shopify-section-step2_section {
    padding-top: 30px;
    padding-bottom: 30px;
}

#shopify-section-step3_section{
	padding-top: 20px;
    padding-bottom: 15px;

}
  
  .step_name {
    width: 80% !important;
}
  .step_label {
    width: 10% !important;
}
.package_price {
    font-size: 30px;
    margin-bottom: 28px;
    color: #c38930;
}
  .package_icon {
    width: 45px;
    height: 45px;
    padding-top: 0px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 5px;
}
  
  
  #section_k_slider_meet_out_stylist .slick-prev.slick-arrow {
   text-align: left;
}
  #shopify-section-meet_out_stylist{
  	padding:0px !important;
  }
#section_k_slider_meet_out_stylist .slick-next.slick-arrow {
   text-align: right;
}
  
.rondedImageLeft {
	position: relative;
}
.ShapeImage {
    height: 91px;
    position: absolute;
    z-index: 999;
    bottom: 0px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#shopify-section-content_right_image_left_desktop h2.bannerSectionheading {
    font-size: 42px !important;
    margin: 0px 0px 30px 0px;
    color: #000 !important;
}
#section_k_content_right_image_left_desktop p span, #section_k_content_right_image_left_mobile p span {
    color: #c3872b;
    padding: 0px 0px;
    font-weight: bold;
}
#section_k_content_right_image_left_desktop p span sup{
    font-size: 10px;
}
#shopify-section-content_right_image_left_desktop h2.bannerSectionheading span{
    color: #b44b2b !important
}
#shopify-section-content_right_image_left_desktop p:last-child {
    margin: 30px 0px 0px 0px;
}
.btn.focus,
.btn:focus {
	box-shadow: none !important;
}

.block2-img .discount .middle p {
	color: #fff !important;
	line-height: 1.2em !important;
	margin-bottom: 0px !important;
}

.content-details {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 0px;
	left: 0px;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.content-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	border-radius: 50%;
}

#shopify-section-meet_out_stylist .content-details a.btn {
	margin: 0px !important;
}

#shopify-section-meet_out_stylist .content-details a:hover {
	background-color: #d45426 !important;
	opacity: 1 !important;
}

.rondedImageLeft .SliderLeftImage:hover .content-details {
	opacity: 1;
	z-index: 99;
}

.rondedImageLeft .SliderLeftImage:hover .content-overlay {
	opacity: 1;
}

label.error {
	color: #cd2122 !important;
}

.errors {
	color: #cd2122 !important;
}

.form-error.disc li {
	color: #cd2122 !important;
}

.form-success {
	color: #2f9a2d !important
}

html,
body {
	scroll-behavior: smooth;
}

.btn.btn--cta.cpsgts:hover {
	opacity: 0.8 !important;
}

.row.form_iframe {
	border-radius: 10px;
}

html {
	padding-right: 0px !important;
	overflow-x: hidden !important;
}

header.header2 {
	position: relative;
}

.container-menu-header-v2 {
	position: relative;
	margin-top: 0px !important;
}

.simpletext h2 {
	color: #b44b2b;
	font-weight: 400;
	font-size: 35px;
	line-height: 1.2em;
	margin-bottom: 15px;
}

#shopify-section-meet_out_stylist {
	padding: 10px 0px 0px 0px !important;
}

#section_k_meet_the_stylist_form_iframe {
	padding: 0px 0px 80px 0px;
}

#redirect_form_section {
	height: 115px;
}

.form-group i {
	position: absolute;
	right: 27px;
	top: 36px;
	font-size: 36px;
	color: #c3872b;
	pointer-events: none;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
	font-family: 'DM Serif Text', serif !important;
}

section#section_k_meet_out_stylist p {
	font-size: 17px !important;
}

section p {
	color: #000000 !important;
	font-weight: 400 !important;
	margin-bottom: 10px !important;
	font-family: 'Poppins', sans-serif !important;
}

#shopify-section-content_right_image_left_desktop .simpletext {
	padding: 70px 15px 115px 0px;
}

#shopify-section-content_right_image_left_desktop .FirstSectImage {
	background-size: 285px;
	background-repeat: no-repeat;
	background-position: center calc(100% - -60px);
}

section p:last-child {
	margin-bottom: 0px !important;
	padding-bottom: 0px;
}

#section_k_content_right_image_left_desktop {
    background: transparent;
    padding: 0px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 727px;
}
#shopify-section-step1_section {
    margin: -120px 0px 0px 0px;
}
.btn.btn--cta.cpsgts {
	background: #b65327 !important;
	font-size: 18px;
	height: auto;
	border-radius: 8px !important;
	text-align: center;
	padding: 0px;
	margin: 43px auto 0px auto;
	padding: 15px 25px;
	line-height: 1em;
	font-weight: 600;
}

#section_k_meet_out_stylist {
	padding: 0px !important;
}

#section_k_slider_meet_out_stylist>div:first-child {
	background: #c3872b;
	padding: 0px;
	
}
#section_k_slider_meet_out_stylist .slick-list.draggable {
    overflow: visible;
}
div#section_k_slider_meet_out_stylist {
    padding: 20px 0px 50px 0px;
}

#section_k_slider_meet_out_stylist>div:last-child {
	/*background: #b54c27;*/
	padding: 0px;
}

#section_k_slider_meet_out_stylist>div:first-child .simpletext {
	text-align: right;
}

#section_k_slider_meet_out_stylist>div:last-child .simpletext {
	text-align: left;
}
.rondedImageLeft .SliderLeftImage {
    background-size: cover;
    background-repeat: no-repeat;
    height: 505px;
    position: absolute;
    top: -55px;
    border: 10px solid #fff;
    border-radius: 50%;
    width: 505px;
    background-color: #fff;
}

#section_k_slider_meet_out_stylist>div:nth-child(even) .rondedImageLeft .SliderLeftImage {
	left: auto;
	right: 25px;
}

#section_k_slider_meet_out_stylist .row .simpletext h3,
#section_k_slider_meet_out_stylist .row .simpletext p {
	color: #fff !important;
}

.container {
	width: 1200px !important;
	max-width: 1200px !important;
}

#section_k_meet_out_stylist .simpletext h2 {
	text-align: center;
	margin-bottom: 70px;
}

#section_k_slider_meet_out_stylist .simpletext {
	padding: 70px 0px 80px 0px;
	height: 435px;
}

#section_k_meet_out_stylist .row {
	margin: 0 auto;
}

#section_k_meet_out_stylist .row {
	margin: 0 auto;
	width: 100%;
}

#section_k_slider_meet_out_stylist .col-md-12 {
	padding: 0px;
}

#section_k_meet_out_stylist {
	padding: 0px !important;
	text-align: center;
}

#shopify-section-meet_out_stylist a.btn {
	margin: 95px auto 0px auto !important;
}

#section_k_meet_the_stylist_form_iframe {
	text-align: center;
	background-repeat: no-repeat;
	background-position: -134px 144px;
}

#section_k_slider_meet_the_stylist_form_iframe .simpletext {
	margin-bottom: 45px;
}

#section_k_slider_meet_the_stylist_form_iframe .row.form_iframe iframe {
	width: 100%;
	display: inline-block;
}

.freebirdFormviewerViewCenteredContent {
	width: 100% !important;
	max-width: 100% !important;
}

.freebirdSolidBackground {
	display: none;
}

.freebirdFormviewerViewFormContent {
	padding: 0px;
}

.freebirdFormviewerViewHeaderHeader>div {
	padding-left: 0px;
	padding-right: 0px;
}

.freebirdFormviewerViewItemsItemItem {
	padding: 0px;
}

.freebirdFormviewerViewItemList {
	padding: 0px !important;
}

.row.form_iframe {
    background: #ffffff;
    box-shadow: 2px 2px 9px 2px #ddd;
    padding: 40px 35px 45px 35px;
    text-align: left;
    border-radius: 20px;
    margin: 35px 0px 50px 0px !important;
}
.row.form_iframe .row {
    width: 100%;
    margin: 0px;
}
.imgRight {
    padding-right: 35px !important;
}
.row.form_iframe label:not(.red_label),
.row.form_iframe label:not(.error) {
	color: #c3872b;
	font-size: 17px;
	font-family: poppins;
	font-weight: bold;
}

.row.form_iframe .form-group input,
.row.form_iframe textarea,
.row.form_iframe select {
	border: 1px solid #c3872b !important;
	border-radius: 5px !important;
	width: 100% !important;
	font-size: 16px !important;
	color: #848484 !important;
	font-family: poppins !important;
	padding: 12px !important;
	line-height: 1em !important;
	resize: none;
}

.row.form_iframe input::placeholder,
.row.form_iframe textarea::placeholder,
.row.form_iframe select::placeholder {
	font-size: 16px !important;
	color: #848484 !important;
	font-family: poppins !important;
}

.row.form_iframe .form-group {
	margin-bottom: 50px;
}

.row.form_iframe .contact_info .form-group {
	margin-bottom: 20px;
}

.row.form_iframe label.red_label {
	font-size: 21px;
	color: #b65327;
	font-weight: 500;
	margin-bottom: 10px;
	font-family: 'DM Serif Text', serif !important;
}

.row.form_iframe .radio input {
	display: inline-block;
	border: 0px !important;
	opacity: 1 !important;
	margin-right: 8px;
	width: auto !important;
}

.row.form_iframe .radio label {
	font-weight: 400;
	color: #848484;
	font-size: 16px;
}

.row.form_iframe .radio {
	margin-bottom: 15px;
	display: flex;
	align-items: center;
}

.row.form_iframe .radio:last-child {
	margin-bottom: 0px;
}

.row.form_iframe .row p {
	font-size: 16px !important;
	text-align: center;
	padding: 0px 115px;
	margin-bottom: 25px !important;
}

.row.form_iframe .submit_button {
    margin: 20px auto 0px auto;
    min-width: 180px;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
}
.row.button_row .form-group {
	text-align: center;
	width: 100%;
	margin-bottom: 0px;
}

.radio .radio_circle {
	width: 25px;
	height: 25px;
	border: 1px solid #c3872b;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	margin-right: 10px;
}

.row.form_iframe .radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	margin-left: 3px;
	margin-top: 3px;
}

.row.form_iframe input:checked~.checkmark {
	background-color: #C3872B;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	margin-left: 3px;
	margin-top: 3px;
}

.row.form_iframe .radio input {
	display: inline-block;
	border: 0px !important;
	opacity: 1 !important;
	margin-right: 0px;
	width: auto !important;
	left: 3px;
	top: 3px;
}

.row.form_iframe input:checked~.checkmark:after {
	display: block;
}

.row.form_iframe textarea {
	height: 150px;
}

.row.form_iframe .form-group.comments_input textarea {
	height: 250px;
}

.top_background {
	background-image: url('{{ '6_large.png' | asset_url }}');
	text-align: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	height: 580px;
	background-size: 416px;
	max-width: 100%;
	background-position: -170px 140px;
	width: 416px;
}

.featureprod_section .sec-title.simpletext {
	padding-bottom: 15px;
}

.featureprod_section .sec-title.simpletext h2 {
	text-transform: inherit;
}

.featureprod_section {
	background: #ffffff;
	box-shadow: 3px 3px 9px 1px #ddd;
	padding: 50px 35px 140px 35px;
	text-align: left;
	position: relative;
	border-radius: 10px;
	z-index: 9;
	margin-bottom: 0px;
}

.featureprod_section button.slick-arrow.slick-prev {
	left: -60px;
	width: 45px;
	text-align: left;
}

.featureprod_section button.slick-arrow i {
	background: transparent;
	color: #c3862b;
	border: 1px solid #c3862b;
	width: 100%;
	height: 45px;
	display: flex;
	font-size: 40px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: relative;
}

.featureprod_section button.slick-arrow {
	position: absolute;
	width: 150px;
	left: 0px;
	bottom: -115px;
	margin: 0 auto;
	top: auto;
	right: 0px;
	height: 70px;
}

.featureprod_section button.slick-arrow.slick-next {
	right: -60px;
	width: 45px;
	text-align: left;
}

.featureprod_section a {
	color: #b44b2b;
}

.featureprod_section span {
	color: #000;
}

section.featuredproduct {
	position: relative;
	padding: 85px 0px 0px 0px;
}

#section_k_slider_bg_head_txt .simpletext {
	width: 880px;
	margin: 0 auto;
	max-width: 100%;
}

.featureprod_section a {
	font-size: 17px;
}

.featureprod_section button.slick-arrow.prev-slick2 i:before {
	position: relative;
	left: -2px;
	top: -1px;
}

.featureprod_section button.slick-arrow.next-slick2 i:before {
	right: -2px !important;
	position: relative;
	top: -1px;
}

#shopify-section-testimonial__bg_title_user_image {
	padding: 0px 0px 0px 0px;
}

#shopify-section-testimonial__bg_title_user_image section {
	padding: 0px;
}

#section_k_testimonial__bg_title_user_image .container>div {
	box-shadow: 3px 3px 9px 1px #ddd;
	padding: 65px 60px 60px 60px !important;
	background: #fff !important;
	border-radius: 10px;
}

#section_k_testimonial__bg_title_user_image .container>div div {
	padding: 0px;
}

#shopify-section-testimonial__bg_title_user_image h4 {
	color: #bd812d;
	margin: 35px 0px 55px 0px;
}

.user_card img {
	width: 150px !important;
	height: 150px !important;
}

.user_address {
	color: #000 !important;
	font-size: 16px !important;
}

.user_data .user_name {
	color: #b54f28 !important;
	font-size: 25px !important;
	font-weight: 500 !important;
}

.user_position {
	color: #c3882b !important;
	text-transform: uppercase !important;
	font-weight: bold !important;
}

.user_data {
	margin-left: 30px !important;
	text-align: left !important;
}

#section_k_testimonial__bg_title_user_image .container>div {
	box-shadow: 3px 3px 9px 1px #ddd;
	padding: 65px 60px 60px 60px !important;
	background: #fff !important;
}

.user_card {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user_data .user_name {
	color: #b54f28 !important;
	font-size: 25px !important;
	font-weight: 500 !important;
	margin: 0px !important;
}

.user_position {
	color: #c3882b !important;
	text-transform: uppercase !important;
	font-weight: bold !important;
	margin: 0px !important;
	padding-bottom: 0px;
}

#shopify-section-testimonial__bg_title_user_image section {
	padding: 0px;
	background-repeat: no-repeat;
	background-position: calc(100% - -140px) calc(100% - 85px);
	background-size: 416px;
	padding: 0px 0px 115px 0px;
}

#section_k_slider_meet_out_stylist .row .simpletext h3 {
    color: #fff !important;
    font-family: 'Poppins', sans-serif !important;
    margin-bottom: 5px !important;
    font-weight: 600;
    font-size: 26px !important;
}

.col-md-8,
.col-md-4,
.col-md-6,
.col-md-12 {
	display: inline-block;
	float: left;
}

.page_title {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
	/* background-color: #b64d27 !important; */
	background: #b64d27 !important;
}

.page_title {
	padding: 35px 0px !important;
}

.page_title h1 {
	font-size: 45px;
}

#section_k_meet_out_stylist .row {
	margin: 0 auto;
	width: 100%;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

#section_k_slider_meet_out_stylist .user_row {
	margin-bottom: 0px !important;
}

#section_k_slider_meet_out_stylist>div:nth-child(odd) .simpletext {
	align-items: flex-end;
}

#shopify-section-meet_out_stylist .simpletext a.btn , button.button.btn.sesami__button {
margin: 10px 0px 0px 0px !important;
background: #fff !important;
border: 1px solid #fff !important;
padding: 12px 25px !important;
min-width: 200px !important;
color: #c3862b !important;
font-size: 18px !important;
border-radius: 8px !important;
height: auto;
line-height: 1.2em;
width: auto !important;
max-width: 100%;
white-space: normal;
}
#shopify-section-meet_out_stylist .simpletext a.btn:hover,button.button.btn.sesami__button:hover {
    background: transparent !important;
    color: #fff !important;
}


section a {
	font-family: 'DM Serif Text', serif !important;
	font-weight: 400 !important;
}

.featureprod_section span {
	color: #000;
	font-family: 'Poppins', sans-serif !important;
	font-weight: 400 !important;
}

.trademark {
	font-weight: 500;
	font-size: 10px;
	position: relative;
	top: -7px;
}

#shopify-section-testimonial__bg_title_user_image .text-center.simpletext h2 span.trademark {
	font-size: 16px;
	position: relative;
	top: 0px;
	font-weight: bold !important;
}

.left_bg {
	background-size: 416px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: -145px -10px;
	right: 0px;
	left: 0px;
	z-index: -1;
	top: 0px;
	height: 480px;
}

#section_k_bg_head_txt {
	padding: 120px 0px 120px 0px;
	text-align: center;
	background-size: 350px;
	position: relative;
	background-repeat: no-repeat;
	background-position: calc(100% - -97px) -99px;
}

#section_k_bg_head_txt .bg_row {
	background: #fff !important;
	padding: 70px 70px 70px 70px !important;
	width: 100% !important;
	box-shadow: 3px 3px 9px 1px #ddd;
	border-radius: 10px;
	min-height: 290px;
}

.bgHeadImage {
	position: relative;
}

.bgHeadText .simpletext {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	justify-content: center;
	padding-bottom: 15px;
}

.bgHeadImage {
	position: relative;
}

.bgHeadImage img {
	height: 480px;
	position: absolute;
	top: -145px;
	right: 0px;
}

.bgHeadText .simpletext h2 {
	text-align: left;
}

.bgHeadText .simpletext p {
	text-align: left;
}

#section_k_slider_meet_out_stylist .user_row {
	padding: 0px;
	margin-bottom: 50px !important;
}
section#section_k_step4_section {
    padding-top: 0px;
}
#section_k_slider_meet_out_stylist .user_row:last-child {
	margin-bottom: 0px !important;
}
#shopify-section-step1_section {
    padding: 15px 0px 30px 0px;
}
#shopify-section-step2_section {
    padding: 15px 0px 30px 0px;
}
.step_title {
    display: flex;
    align-items: baseline;
  	margin: 0px 0px 5px 0px;
  	
}
.package_section {
    margin: 30px -20px 0px -20px;
    display: flex;
}
.package_box.standard {
    text-align: center;
}
.package_box {
    text-align: center;
    width: 50%;
}
.package_box ul li {
    display: flex;
    margin: 20px 0px 20px 0px;
}
  .package_box ul li p {
    padding: 0px 20px !important;
}
.standard_step2, .vip_step2{
  display: none;
}
#i_undershand {
    display: none;
}

.info_button {
    
    
    display: block;
    width: 100%;
    position: relative;
  text-align:center;
}
#i_undershand_button {
    cursor:pointer !important;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    padding: 12px 35px;
    font-size: 22px;
    border-radius: 8px;
    width: auto;
    display: block;
    text-align: center;
    background: #b65327 !important;
    color: #fff !important;
    padding: 8px 32px;
    margin: 50px 0px 0px 0px !important;
    font-family: 'DM Serif Text', serif !important;
    font-weight: 400;
    border-radius: 10px !important;
    display: inline-block;
    line-height: 1.6em;
    
    width: auto;
    text-transform: uppercase;
    height: auto;
}
	#i_undershand_button:hover {
    background: #ab4618 !important;
    animation-name: unset !important;
    color: #fff !important;
}

  .show_standard, .show_vip{
  display:none;
  }
svg#Layer_1 {
    position: relative;
    top: -90px;
    transform: rotateY(-177deg);
}
.container {
    width: 1100px !important;
    max-width: 1100px !important;
}
.desktop_field{
 display: block !important; 
}
.mobile_field{
 display: none !important; 
}
  @media (min-width: 1350px){
  #section_k_content_right_image_left_desktop  {
    height: 750px;
}
  }
  @media (min-width: 1450px){
  #section_k_content_right_image_left_desktop  {
    height: 790px;
}

  }
  @media (min-width: 1600px){
#section_k_content_right_image_left_desktop  {
    height: 800px;
}
         #shopify-section-content_right_image_left_desktop .FirstSectImage .play_button {
    margin-top: 100px;
    margin-left: -100px;
}
  }
    @media (min-width: 1700px){
  #section_k_content_right_image_left_desktop  {
    height: 900px;
}
  }
    @media (min-width: 1900px){
  #section_k_content_right_image_left_desktop {
    height: 1000px;
}
  }
@media (min-width: 2500px){

  #section_k_content_right_image_left_desktop {
      height: 800px;
  }
  #shopify-section-content_right_image_left_desktop .simpletext {
    padding: 150px 0px 115px 0px;
}
 svg#Layer_1 {
    top: -133px;
}
}

@media (min-width:768px) {
	.mobile_only {
		display: none !important;
	}
	.rondedImageLeft .SliderLeftImage {
		left: 25px;
	}
  	.imgRight .simpletext {
        align-items: flex-end;
    }
  	.imgLeft .simpletext {
        align-items: flex-start;
    }
	#section_k_slider_meet_out_stylist .simpletext {
		padding: 20px 0px 20px 0px;
		height: 385px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.desktop {
		display: block !important;
	}
	#shopify-section-content_top_image_bottom_mobile {
		display: none;
	}
  	#section_k_slider_meet_out_stylist .slick-prev.slick-arrow {
        width: 20px;
        left: -90%;
    }
  	#section_k_slider_meet_out_stylist .slick-next.slick-arrow {
        width: 20px;
        left: 90%;
    }
}
@media (min-width: 1500px){
  #section_k_slider_meet_out_stylist .slick-prev.slick-arrow {
        width: 20px;
        left: -75%;
    }
  	#section_k_slider_meet_out_stylist .slick-next.slick-arrow {
        width: 20px;
        left: 75%;
    }
}
@media (min-width:1161px) {
	#section_k_slider_meet_out_stylist>div p {
		padding-left: 0px;
		width: calc(100% - 45px);
	}
  	.imgRight {
        padding-right: 35px !important;
    }
	.rondedImageLeft .SliderLeftImage {
		left: 35px;
	}
	section#section_k_meet_out_stylist p {
		font-size: 14px !important;
		font-weight: 300 !important;
	}
	#section_k_slider_meet_out_stylist>div:nth-child(even) p {
		width: calc(100% - 40px);
	}
	#section_k_slider_meet_out_stylist>div:last-child p {
		padding-left: 0px;
		width: calc(100% - 39px) !important;
	}
	#section_k_slider_meet_out_stylist .simpletext {
		height: 400px;
	}
}



@media (min-width:768px) and (max-width:1160px) {
	.container {
		width: 100%!important;
		max-width: 100% !important;
		padding: 0px 35px !important;
	}
	.row.form_iframe .row p {
		padding: 0px 50px !important;
	}
	#section_k_meet_out_stylist .row .container {
		width: 100% !important;
		max-width: 100% !important;
	}
	section p {
		font-size: 15px !important;
	}
	.simpletext h2 {
		font-size: 32px;
		margin-bottom: 30px;
	}
	#section_k_bg_head_txt .bg_row {
		padding: 50px 25px 50px 25px !important;
		margin: 0px !important;
	}
	.bgHeadImage img {
		height: 425px;
		position: absolute;
		top: -110px;
		right: 0px;
	}
	#shopify-section-meet_out_stylist {
		padding: 0px 0px 50px 0px !important;
	}
	.bgHeadText .simpletext {
		padding-right: 30px;
	}
	section.featuredproduct {
		position: relative;
		padding: 50px 0px 0px 0px;
	}
	.featureprod_section {
		padding: 50px 35px 100px 35px;
		margin-bottom: 0px;
	}
	.featureprod_section button.slick-arrow {
		bottom: -88px;
	}
	section.featuredproduct {
		padding: 40px 0px 0px 0px;
	}
	.top_background {
		background-position: -145px -30px;
		background-size: 350px;
	}
	.page_title h1 {
		font-size: 36px;
	}
	.rondedImageLeft .SliderLeftImage {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        height: 410px;
        position: absolute;
        top: -75px;
        border: 10px solid #fff;
        border-radius: 50%;
        left: 0px !important;
        width: 415px;
        right: 0px !important;
        margin: 0 auto;
    }
  
	#section_k_slider_meet_out_stylist .simpletext {
		padding: 15px 0px 15px 0px;
		min-height: 253px;
		max-height: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	#section_k_slider_meet_out_stylist .row .simpletext p {
		font-size: 14px !important;
		margin-bottom: 10px !important;
	}
	#section_k_slider_meet_out_stylist .col-md-12 {
		padding: 0px;
		height: 100%;
	}
	#section_k_slider_meet_out_stylist .user_row .imgRight,
	#section_k_slider_meet_out_stylist .user_row .imgleft {
		padding: 0px;
		height: 100%;
		display: flex;
	}
	#section_k_meet_out_stylist .simpletext h2 {
		text-align: center;
		margin-bottom: 50px;
	}
	
	#section_k_slider_meet_out_stylist .row .simpletext h3 {
		font-size: 20px !important;
	}
	.featureprod_section a {
		font-size: 16px;
		line-height: 1.3em;
	}
	#shopify-section-content_right_image_left_desktop .FirstSectImage {
		background-size: 315px;
		background-repeat: no-repeat;
		background-position: center calc(100% - -60px);
	}
	.left_bg {
		background-size: 350px;
		background-position: -125px -10px;
		height: 425px;
	}
	.simpletext h2 {
		margin-bottom: 15px;
	}
	#section_k_bg_head_txt {
		padding: 100px 0px 100px 0px;
	}
	#section_k_slider_meet_out_stylist .user_row .imgRight {
		padding-right: 10px;
	}
	#section_k_slider_meet_out_stylist .user_row .imgleft {
		padding-left: 10px;
	}
	#shopify-section-meet_out_stylist {
		padding: 25px 0px 0px 0px !important;
	}
	section.featuredproduct {
		padding: 60px 0px 0px 0px;
	}
	.top_background {
		background-position: -145px -20px;
		background-size: 350px;
	}
	#shopify-section-testimonial__bg_title_user_image section {
		padding: 0px 0px 100px 0px;
	}
	#shopify-section-testimonial__bg_title_user_image section {
		background-position: calc(100% - -140px) calc(100% - 75px);
		background-size: 350px;
		padding: 0px 0px 100px 0px;
	}
	#section_k_meet_out_stylist .row.user_row:last-child {
		margin-bottom: 50px !important;
	}
  	#section_k_slider_meet_out_stylist .slick-arrow {
        font-size: 50px;
        top: 37%;
    }
  	#section_k_slider_meet_out_stylist .slick-prev.slick-arrow {
        left: 20px;
    }
  	#section_k_slider_meet_out_stylist .slick-next.slick-arrow {
        right: 20px;
    }
  	section#section_k_step4_section {
        padding-top: 0px;
    }
 	#section_k_meet_out_stylist .row {
        min-height: 325px;
    }
  	
}

@media (min-width:768px) and (max-width:991px) {
  	#section_k_slider_meet_out_stylist .slick-arrow {
        font-size: 50px;
        top: 35%;
    }
	#section_k_meet_out_stylist .row .container {
		width: 100% !important;
		max-width: 100% !important;
		padding: 0px 30px !important;
	}
  	#section_k_content_right_image_left_desktop {
        height: 600px;
    }
  	#shopify-section-content_right_image_left_desktop p:last-child {
        margin: 10px 0px 0px 0px;
    }
  	#shopify-section-content_right_image_left_desktop .simpletext {
        padding: 50px 0px 55px 20px;
    }
  	#shopify-section-content_right_image_left_desktop h2.bannerSectionheading {
      font-size: 30px !important;
      margin: 0px 0px 15px 0px !important;
  }
	#section_k_slider_meet_out_stylist .row .simpletext p {
		font-size: 14px !important;
	}
	.rondedImageLeft .SliderLeftImage {
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		height: 350px;
		position: absolute;
		top: -35px;
		border: 10px solid #fff;
		border-radius: 50%;
		width: 350px;
		left: 0px !important;
		right: -20px !important;
		margin: 0 auto;
	}
	.rondedImageLeft.imgLeft .SliderLeftImage {
		left: -40px !important;
	}
  	#section_k_meet_out_stylist .row {
        min-height: 285px;
    }
	section p {
		padding-top: 5px !important;
	}
	#section_k_slider_meet_out_stylist .simpletext {
		padding: 15px 0px 15px 0px;
		min-height: 253px;
		max-height: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	#section_k_slider_meet_out_stylist .row .simpletext p {
		font-size: 13px !important;
		margin-bottom: 10px !important;
	}
	#section_k_slider_meet_out_stylist .col-md-12 {
		padding: 0px;
		height: 100%;
	}
	#section_k_slider_meet_out_stylist .user_row .imgRight,
	#section_k_slider_meet_out_stylist .user_row .imgleft {
		padding: 0px;
		height: 100%;
		display: flex;
	}
	#section_k_meet_out_stylist .simpletext h2 {
		text-align: center;
		margin-bottom: 50px;
	}
	#section_k_meet_out_stylist .row.user_row {
		min-height: 310px;
	}
  	svg#Layer_1 {
        top: -72px;
    }
  	
}

@media (min-width:992px) and (max-width:1200px) {
  #section_k_content_right_image_left_desktop {
    height: 650px;
}
  #shopify-section-content_right_image_left_desktop h2.bannerSectionheading {
    font-size: 36px !important;
}
  #shopify-section-content_right_image_left_desktop h2.bannerSectionheading {
      margin: 0px 0px 15px 0px;
  }
  #shopify-section-content_right_image_left_desktop p:last-child {
      margin: 0px 0px 0px 0px;
  }
  #shopify-section-content_right_image_left_desktop .simpletext {
      padding: 50px 15px 115px 0px;
  }
  #section_k_slider_meet_out_stylist .slick-prev.slick-arrow {
    left: 30px;
  }
  #section_k_slider_meet_out_stylist .slick-next.slick-arrow {
    right: 30px;
  }
  svg#Layer_1 {
      top: -90px;
  }
}
@media (max-width:767px) {
  .package_section {
   
    flex-direction: column;
}
  .play_button img {
    width: 65px !important;
    height: auto !important;
}
 .show_on_btn {

    display: none;

}
  #section_k_content_right_image_left_mobile p sup{
  font-size: 9px;
  }
  #section_k_content_right_image_left_mobile a.btn.btn--cta.cpsgts {
    margin: 10px 0px 15px 0px;
}
#shopify-section-meet_out_stylist .simpletext a.btn , button.button.btn.sesami__button {
padding: 10px 15px !important;
}
 #section_k_slider_meet_out_stylist .slick-arrow {
   
    width: auto;
    right: 0px;
    margin: 0 auto;
    max-width: 100%;
}
.desktop_field{
 display: none !important; 
}
.mobile_field{
 display: block !important; 
}
.row.form_iframe .form-group input {
    height: 41px;
}
#book_stylist_add_to_cart_form_button,#SelectAppointMentDateAndTime {
    font-size: 21px !important;
    margin: 40px auto 0px auto;
    padding: 8px 24px !important;
}
  #book_stylist_add_to_cart_form_button{
    font-size: 16px !important;
  }
  
.row.form_iframe .col-sm-6:last-child input {
    margin-bottom: 0px !important;
}
.row.form_iframe .col-sm-6:last-child .form-group {
    margin-bottom: 0px;
}
.row.form_iframe .row {
    margin-bottom: 0px !important;
}
h2.textOverImg.bannerSectionheading {
    margin-left: 15px;
    width: 135px;
    max-width: 100%;
    font-size: 19px !important;
    color: #000 !important;
}
h2.textOverImg.bannerSectionheading span {
    color: #b44b2b !important;
    margin: 0px;
    display: inline;
}
section#section_k_content_right_image_left_mobile .row {
    margin: 0px;
}
.package_section {
    margin: 10px 0px 0px 0px;
    display: flex;
}
svg#Layer_1 {
    display:none;
  }
#shopify-section-step1_section {
    position: relative;
    margin: 0px 0px 0px 0px;
}
.package_box {
    width: 100%;
    text-align: center;
}
	.bgHeadText .simpletext p {
		text-align: center !important;
	}
	.bgHeadText .simpletext h2 {
		text-align: center;
	}
	.bgHeadImage img {
		height: 275px;
		position: unset;
	}
	#section_k_slider_meet_out_stylist .simpletext h3,
	#section_k_slider_meet_out_stylist .simpletext p {
		text-align: center !important;
	}
	section.featuredproduct {
		position: relative;
		padding: 85px 0px 0px 0px;
	}
	.featureprod_section {
		padding: 30px 25px 90px 25px;
		margin-bottom: 60px;
	}
	.featureprod_section button.slick-arrow.slick-prev {
		left: -45px;
		width: 35px;
	}
	.featureprod_section button.slick-arrow.slick-next {
		right: -45px;
		width: 35px;
	}
	.featureprod_section button.slick-arrow i {
		height: 35px;
		font-size: 30px;
	}
	.featureprod_section button.slick-arrow {
		bottom: -60px;
		height: 50px;
	}
	.top_background {
		background-size: 250px;
		background-position: -101px 39px;
	}
	#redirect_form_section {
		height: 55px;
	}
	section#section_k_meet_out_stylist p {
		width: 335px;
		margin: 0 auto;
		max-width: 100%;
	}
	#section_k_slider_meet_out_stylist>div:last-child p {
		width: 310px;
	}
	.form-group i {
		top: 32px;
	}
	
	#section_k_meet_the_stylist_form_iframe {
		padding: 0px 0px 70px 0px;
		text-align: center;
		background-repeat: no-repeat;
		background-position: 91px 101%;
	}
	#shopify-section-meet_out_stylist {
		padding: 20px 0px 0px 0px !important;
	}
	.row.button_row {
		margin-bottom: 0px !important;
	}
	.textOverImg {
		width: 100%;
		text-align: left;
	}
	.textOverImg span {
		display: block;
		margin-left: 10px;
	}
	#contact_form_meet_the_style>.row {
		margin-bottom: 10px !important;
	}
	#section_k_slider_meet_out_stylist .row {
		padding-bottom: 45px;
	}
	.mobile_only {
		display: block !important;
	}
	.desktop {
		display: none !important;
	}
	.row.form_iframe textarea {
		height: 100px;
	}
	.row.form_iframe .form-group.comments_input textarea {
		height: 100px;
	}
	.row.form_iframe {
		padding: 25px 0px !important;
	}
	.row.form_iframe label:not(.red_label) {
		font-size: 15px;
	}
	.row.form_iframe .form-group {
		margin-bottom: 15px;
	}
	.row.form_iframe input::placeholder,
	.row.form_iframe textarea::placeholder,
	.row.form_iframe select::placeholder {
		font-size: 15px !important;
	}
	.row.form_iframe .form-group input,
	.row.form_iframe textarea,
	.row.form_iframe select {
		font-size: 14px !important;
		padding: 10px 5px 8px 5px !important;
	}
	.row.form_iframe .row {
		margin-bottom: 30px;
	}
	.row.form_iframe label.red_label {
		font-size: 16px;
		margin-bottom: 15px;
		line-height: 1em;
	}
	.row.form_iframe .row p {
		font-size: 15px !important;
		padding: 0px 0px !important;
		margin-bottom: 0px !important;
	}
	#section_k_slider_meet_out_stylist .row .simpletext h3 {
		font-size: 15pt;
		margin-bottom: 7px;
	}
	#shopify-section-content_top_image_bottom {
		display: none;
	}
	#shopify-section-content_left_image_right_mobile_only .row {
		padding: 0px 15px;
	}
	.btn.btn--cta.cpsgts {
		background: #b65327 !important;
		font-size: 18px;
		height: auto;
		width: auto;
		border-radius: 8px !important;
		text-align: center;
		margin: 10px auto 0px auto;
		font-weight: 500;
		padding: 11px;
	}
	.btn.btn--cta.cpsgts:hover {
		opacity: 0.8 !important;
	}
	.page_title h1 {
		font-size: 24px;
		line-height: 23px;
		color: #fcf9f4;
	}
	.page_title {
		padding: 13.5px 0px !important;
	}
	.container {
		width: 100% !important;
		max-width: 100% !important;
		padding: 0px 25px !important;
	}
	.simpletext h2 {
		color: #b44b2b;
		font-weight: 400;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 1.2em;
	}
	.featureprod_section span {
		font-size: 14px;
	}
	section#section_k_meet_out_stylist p {
		font-size: 14px !important;
	}
	section p {
		font-size: 14px !important;
		line-height: 1.5em!important;
		color: #000000 !important;
		font-weight: 400 !important;
		margin-bottom: 20px !important;
		padding-top: 0px !important;
	}
	#shopify-section-content_right_image_left_mobile .FirstSectImage {
        height: 425px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center bottom;
    }
  .bgWhite a.btn {
    padding: 8px 32px !important;
    line-height: 1.3em !important;
    font-size: 21px !important;
}
	#shopify-section-content_right_image_left_mobile .FirstSectImage .container {
        height: 100%;
        display: flex;
        align-items: center;
        width: 55% !important;
        padding: 0px !important;
        justify-content: end;
        float: right;
        padding: 0px 15px 0px 15px !important;
    }
	.textOverImg {
		color: #b44b2b;
		font-weight: 400;
		margin-bottom: 20px;
		font-size: 20pt;
		line-height: 1.2em;
	}
	.bgWhite {
    padding: 30px 0px 0px 0px !important;
    text-align: center;
    margin: 0px !important;
}
	#section_k_content_right_image_left_mobile {
		padding: 0px 0px 0px 0px;
	}
	.btn.btn--cta.cpsgts {
		background: #b65327 !important;
		font-size: 18px;
		height: auto;
		width: auto;
		border-radius: 8px !important;
		text-align: center;
		margin: 22px auto 0px auto;
		font-weight: 500;
		padding: 11px;
	}
	#section_k_bg_head_txt>.container .col-md-12,
	#section_k_bg_head_txt>.container .container {
		padding: 0px !important;
	}
	#section_k_bg_head_txt>.container .row {
		margin: 0px;
	}
	#section_k_meet_out_stylist .simpletext h2 {
		text-align: center;
		margin-bottom: 10px;
	}
	#section_k_slider_meet_out_stylist>.row {
		margin: 73px auto 0px auto !important;
	}
	#section_k_slider_meet_out_stylist .container>.col-md-12 {
		display: flex;
		flex-direction: column;
	}
	#section_k_slider_meet_out_stylist .rondedImageLeft {
		order: 1;
		display: flex;
	}
	#section_k_slider_meet_out_stylist .rondedImageLeft {
		order: 1;
		display: flex;
		padding: 0px;
		justify-content: center;
		margin-top: -75px;
	}
	#section_k_slider_meet_out_stylist .simpletext {
		padding: 15px 0px 0px 0px;
		text-align: center !important;
		height: auto;
	}
	#section_k_slider_meet_out_stylist .container .imgRight,
	#section_k_slider_meet_out_stylist .container .imgleft {
		order: 2;
		padding: 0px;
		margin: 0px 0px;
		width: auto;
	}
	.rondedImageLeft .SliderLeftImage {
		height: 200px;
		position: relative;
		top: 0px !important;
		left: unset !important;
		right: 0px !important;
		border: 5px solid #fff;
		width: 200px;
	}
	#shopify-section-meet_out_stylist .content-details a.btn {
		margin: 0px !important;
		font-size: 15px;
	}
	#shopify-section-meet_out_stylist a.btn {
		margin: 35px auto 0px auto !important;
	}
	#section_k_slider_meet_the_stylist_form_iframe .row.form_iframe iframe {
		width: 100%;
		display: inline-block;
	}
	.row.form_iframe {
		margin: 0px;
	}
	#section_k_slider_meet_the_stylist_form_iframe iframe {
		padding: 45px 10px 45px 10px !important;
		background: #fff;
		border-radius: 10px;
		box-shadow: 3px 3px 9px 1px #ddd;
		margin: 0px auto;
	}
	#section_k_meet_out_stylist .row {
		background-repeat: no-repeat, no-repeat;
		height: 100%;
		width: 100%;
		display: flex;
	}
	#section_k_slider_meet_out_stylist .row {
		padding-bottom: 25px;
	}
	#section_k_slider_meet_out_stylist>.row.user_row {
		margin: 135px auto 0px auto !important;
	}
	#shopify-section-meet_out_stylist .simpletext a.btn {
		padding: 10px 40px;
		font-size: 16px;
		line-height: 1em;
	}
	#section_k_slider_meet_out_stylist>.row.user_row:first-child {
		margin: 120px auto 0px auto !important;
	}
	#section_k_bg_head_txt {
		position: relative;
		background-image: none !important;
	}
	.left_bg {
		background-size: 242px;
		position: absolute;
		background-repeat: no-repeat;
		background-position: -90px -2px;
		right: 0px;
		left: 0px;
		z-index: -1;
		top: 0px;
		height: 400px;
	}
	.content-details,
	.content-overlay {
		display: none !important;
	}
	#shopify-section-testimonial__bg_title_user_image {
		padding: 0px 0px 0px 0px;
	}
	#shopify-section-testimonial__bg_title_user_image section {
		padding: 0px;
	}
	#section_k_testimonial__bg_title_user_image .container>div {
		box-shadow: 3px 3px 9px 1px #ddd;
		padding: 65px 60px 60px 60px !important;
		background: #fff !important;
		border-radius: 10px;
	}
	#section_k_testimonial__bg_title_user_image .container>div div {
		padding: 0px;
	}
	#shopify-section-testimonial__bg_title_user_image h4 {
		color: #bd812d;
		margin: 35px 0px 55px 0px;
	}
	.user_card img {
		width: 150px !important;
		height: 150px !important;
	}
	.user_address {
		color: #000 !important;
		font-size: 16px !important;
	}
	.user_data .user_name {
		color: #b54f28 !important;
		font-size: 25px !important;
		font-weight: 500 !important;
	}
	.user_position {
		color: #c3882b !important;
		text-transform: uppercase !important;
		font-weight: bold !important;
	}
	.user_data {
		margin-left: 30px !important;
		text-align: left !important;
	}
	#section_k_testimonial__bg_title_user_image .container>div {
		box-shadow: 3px 3px 9px 1px #ddd;
		padding: 65px 60px 60px 60px !important;
		background: #fff !important;
	}
	.user_card {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.user_data .user_name {
		color: #b54f28 !important;
		font-size: 25px !important;
		font-weight: 500 !important;
		margin: 0px !important;
	}
	.user_position {
		color: #c3882b !important;
		text-transform: uppercase !important;
		font-weight: bold !important;
		margin: 0px !important;
		padding-bottom: 0px;
	}
	#shopify-section-testimonial__bg_title_user_image section {
		padding: 0px;
		background-repeat: no-repeat;
		background-position: calc(100% - -185px) bottom;
		background-size: 475px;
		background-image: none !important;
	}
	#shopify-section-testimonial__bg_title_user_image {
		padding: 0px 0px 60px 0px;
	}
	#section_k_testimonial__bg_title_user_image .container>div {
		box-shadow: 3px 3px 9px 1px #ddd;
		padding: 40px 25px 40px 25px !important;
		background: #fff !important;
		border-radius: 10px;
	}
	.user_card img {
		width: 75px !important;
		height: 75px !important;
	}
	.user_data .user_name {
		font-size: 18pt !important;
		margin: 0px 0px 8px 0px !important;
		line-height: 18pt;
	}
	.user_position {
		font-size: 10pt !important;
		line-height: 1.2em !important;
	}
	.user_address {
		font-size: 10pt !important;
		line-height: 1.3em !important;
	}
	.user_data {
		margin-left: 12px !important;
		text-align: left !important;
	}
	#shopify-section-testimonial__bg_title_user_image h4 {
		color: #bd812d;
		margin: 20px 0px 30px 0px;
		font-size: 12pt;
	}
	#shopify-section-testimonial__bg_title_user_image section {
		background-image: none !important;
	}
	#shopify-section-testimonial__bg_title_user_image .text-center.simpletext h2 span.trademark {
		font-size: 14px !important;
	}
	.trademark {
		font-size: 9px !important;
	}
	.bottomBg {
		background-size: 250px;
		position: absolute;
		top: -25px;
		width: 300px;
		right: 00px;
		height: 350px;
		background-position: 50px 0px;
		z-index: -1;
	}
	#section_k_bg_head_txt {
		padding: 65px 0px 50px 0px;
	}
	.left_bg {
		background-size: 250px;
		position: absolute;
		background-repeat: no-repeat;
		background-position: -91px -22px;
		right: 0px;
		left: 0px;
		z-index: -1;
		top: 0px;
		height: 350px;
	}
	#section_k_bg_head_txt .bg_row {
		background: #fff !important;
		padding: 35px 10px 0px 10px !important;
		width: 100% !important;
		box-shadow: 3px 3px 9px 1px #ddd;
		border-radius: 10px;
	}
	#section_k_slider_meet_out_stylist .row .simpletext h3 {
        font-size: 21px !important;
        margin-top: 0px;
        margin-bottom: 15px !important;
    }
	#section_k_slider_meet_out_stylist .row .simpletext p {
		text-align: left !important;
	}
	.top_background {
		background-size: 250px;
		background-position: -100px 40px;
	}
	#section_k_content_right_image_left_mobile p {
		text-align: left;
	}
#shopify-section-step1_section {
    padding: 35px 0px 50px 0px;
}
.imgRight {
    padding-right: 0px !important;
}
  .step_title {
    flex-direction: column;
}
section .step_label {
    margin: 0px !important;
    padding: 0px;
    font-size: 20px !important;
    line-height: 1em !important;
}
section h3.step_name {
    width: 100% !important;
    font-size: 24px !important;
    line-height: 1.1em;
    margin: 5px 0px 13px 0px;
}
section .inner_package_div h3 {
    font-size: 24px !important;
    width: 100% !important;
}
.package_price {
    font-size: 25px;
    margin-bottom: 15px;
}
 #shopify-section-step1_section .step_name {
    width: 250px !important;
   z-index: 9;
}
.package_box.standard {
    margin-bottom: 35px;
}
.package_icon {
    width: 28px;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
    height: 32px;
    object-fit: contain;
}
.package_box .inner_package_div {
    margin: 0px !important;
    padding:30px 25px 30px 25px !important;
    min-height: unset !important;
    transition: unset !important;
    transform: unset !important;
  	z-index: 9;
  	position: relative;
}
#shopify-section-step2_section {
    padding: 0px 0px 50px 0px;
}
#shopify-section-step3_section {
    padding-top: 00px;
    padding-bottom: 15px;
}
#i_undershand_button {
    margin-top: 40px !important;
    padding: 8px 24px;
    font-size: 21px;
}
.top_background {
    background-size: 250px;
    background-position: -100px 11px;
}
section.featuredproduct {
    position: relative;
    padding: 50px 0px 0px 0px;
  	margin-top: -40px;
}
#shopify-section-testimonial__bg_title_user_image.shopify-section {
    padding: 0px 0px 50px 0px !important;
}
#shopify-section-meet_out_stylist {
    padding: 10px 0px 20px 0px !important;
}
#section_k_slider_meet_out_stylist .row.user_row {
    padding: 0px 0px 0px 0px !important;
    margin: 100px 0px 0px 0px !important;
}
#section_k_slider_meet_out_stylist .row.user_card {
    min-height: unset;
  	align-items: baseline;
  	padding: 0px 25px 35px 25px !important;
}
#section_k_slider_meet_out_stylist .slick-prev.slick-arrow {
    left: 10px;
    font-size: 40px;
    top: 50%;
    margin-top: 0px;
  margin-left: 0px;
}
#section_k_slider_meet_out_stylist .slick-next.slick-arrow {
    right: 10px;
    font-size: 40px;
    top: 50%;
    margin-top: 0px;
  margin-right: 7px;
}
section#section_k_step4_section {
    padding-top: 0px;
}
.row.form_iframe .row {
    width: 100%;
    margin: 0px;
}
.row.form_iframe {
    padding: 30px 15px 40px 15px !important;
    margin: 35px 0px 55px 0px !important;
    justify-content: center;
}
.row.form_iframe .row {
    margin-bottom: 15px;
}
.row.form_iframe .form-group input, .row.form_iframe textarea, .row.form_iframe select {
    border-radius: 13px !important;
    margin: 0px 0px 20px 0px !important;
    font-size: 14px !important;
    font-weight: normal !important;
    padding: 10px 10px 8px 10px !important;
}
#shopify-section-meet_out_stylist .simpletext a.btn {
    padding: 10px 20px;
    font-size: 19px;
    line-height: 1.3em;
}
#shopify-section-meet_out_stylist .simpletext a.btn {
    padding: 10px 20px;
    font-size: 19px;
    line-height: 1.3em;
}
.package_box ul li p {
    padding: 0px 0px 0px 5px !important;
}
	section#section_k_meet_out_stylist p {
    font-size: 13px !important;
    line-height: 1.5em !important;
}
#section_k_slider_meet_out_stylist .row .simpletext p {
    min-height: 220px !important;
    margin-bottom: 0px !important;
}
h2.textOverImg.bannerSectionheading {
    margin-left: 0px;
    width: 290px;
    text-align: center;
    font-size: 21px !important;
    max-width: 100%;
    margin: 0 auto;
}
#section_k_content_right_image_left_desktop .btn.btn--cta.cpsgts {
    display: none;
}
}

@media (max-width:600px) {

  	#shopify-section-content_right_image_left_mobile .FirstSectImage {
      height: 330px;
  	}
  #section_k_slider_meet_out_stylist .row .simpletext p {
    min-height: 220px !important;
    margin-bottom: 0px !important;
}
}
@media (max-width:420px) {
  	#shopify-section-content_right_image_left_mobile .FirstSectImage {
      height: 225px;
  }
  #shopify-section-content_right_image_left_mobile .FirstSectImage .container {
        width: 60% !important;
  }
  #section_k_slider_meet_out_stylist .row .simpletext p {
    min-height: 260px !important;
    margin-bottom: 0px !important;
}
}
  @media (min-width: 350px) and (max-width: 767px){
  
  #section_k_slider_meet_out_stylist .row.user_card {
    min-height: unset;
    
}
  }
@media (max-width: 380px){
  #section_k_slider_meet_out_stylist .row .simpletext p {
    min-height: 275px !important;
    margin-bottom: 0px !important;
}
}
@media (max-width:360px) {
	section#section_k_meet_out_stylist p {
		width: 321px;
		margin: 0 auto;
	}
  	
  #section_k_slider_meet_out_stylist .row .simpletext p {
    min-height: 275px !important;
    margin-bottom: 0px !important;
}
}
  @media (max-width: 350px){
#section_k_slider_meet_out_stylist .row .simpletext p {
    min-height: 295px !important;
    margin-bottom: 0px !important;
}  
  }
  
@media (max-width:340px) {
	#section_k_slider_meet_out_stylist .simpletext {
		height: auto;
	}
	#section_k_slider_meet_out_stylist .row .container {
		padding: 0px 20px !important;
	}
	section#section_k_meet_out_stylist p {
		width: 100%;
		max-width: 100%;
	}
  	#section_k_slider_meet_out_stylist .row .simpletext p {
    min-height: 295px !important;
    margin-bottom: 0px !important;
}
}

@media (max-width: 358px) {
	.user_position {
		font-size: 9pt !important;
		line-height: 1.2em !important;
	}
	.user_address {
		font-size: 9pt !important;
		line-height: 1.3em !important;
	}
}
@media (max-width: 340px){
  h2.textOverImg.bannerSectionheading {
    font-size: 20px !important;
}
}
@media (max-width: 330px){
  section p {
	font-size: 13px !important;
  }
  h2.textOverImg.bannerSectionheading {
    font-size: 21px !important;
}
  	section#section_k_meet_out_stylist p {
    font-size: 12px !important;
    line-height: 1.5em !important;
}
  #section_k_slider_meet_out_stylist .row .simpletext p {
      min-height: 258px;
      margin-bottom: 0px !important;
  }
}
@media (min-width:992px) {
	.mobile_v {
		z-index: initial !important;
	}
  	#shopify-section-content_right_image_left_mobile .FirstSectImage {
      height: 200px;
  }
}
  .hide_this{
    display:none !important;
  }
  .sesami__buttonWrapper {
    display: none;
}
 #section_k_slider_meet_out_stylist .row.user_row.slick-slide.slick-current.slick-active,  #section_k_slider_meet_out_stylist .slick-track {
    width: 100% !important;
}
  
</style>
<div class="meet_the_style_expert">
{% assign img_bg = '' %}
{% if page %}
           {% capture mybanner %}{{page.handle}}.jpg {% endcapture %}
           {% assign img_bg = mybanner | asset_url %}
{% endif %}
<section class="page_title p-t-40 p-b-50 flex-col-c-m"  {% if img_bg %} style="background-image:url({{ img_bg }});" {% else %} style="background-color:#000;" {% endif %}>
  <h1 class="snize-search-results-page-title l-text2 t-center">{{ page.title }}</h1>
</section>
{% comment %}
<section class="page_title p-t-40 p-b-50 flex-col-c-m"  style="background-color:#000;">
  <h2 class="l-text2 t-center">
    {{ page.title }}
  </h2>
</section>
  {% endcomment %}
  
<!-- content page -->
  
{% section 'content_right_image_left_desktop' %}
{% section 'content_right_image_left_mobile' %}
  
  <div data-step-1>
    {% section 'step1_section' %}  
  </div>
  
  <div data-step-2 style="display:none;">
    {% section 'step2_section' %}  
  </div>

  <div data-step-3 style="display:none;">
    {% section 'step3_section' %} 
    {% section 'meet_out_stylist' %}
  </div>
  <div data-step-4 style="display:none;">
    {% section 'step4_section' %}  
  </div>


  
  
  
  
{% comment %} 
  {% section 'bg_head_txt' %}
  
  {% section 'meet_the_stylist_form_iframe' %}
  
{% endcomment %}
 
  
{% include 'featured-product' %}
  
{% section 'testimonial__bg_title_user_image' %}

{% section 'welcome-cta-section' %}
 
 

</div>
<script>
$(document).ready(function () {
  
  $("#SelectAppointMentDateAndTime").on("click",function(){

		$(".row.user_row.slick-slide.slick-current.slick-active .product_form").find(".sesami__button").trigger("click");
	
        setTimeout(function(){
			$("#book_stylist_add_to_cart_form_button").show();	
  
  		},600);

      
});

        
      $(".choose_stylist").on("click",function(){

$(".row.user_row.slick-slide.slick-current.slick-active .product_form").find(".sesami__button").trigger("click");
	
        setTimeout(function(){
			$("#book_stylist_add_to_cart_form_button").show();	
  
  		},600);

      
});
  
  
      var refreshId = setInterval(function(){

        var date_change = $('.row.user_row.slick-slide.slick-current.slick-active  [name="properties[Date]"]'); 
  
  for (let i = 0; i < date_change.length; i++) { 
    
    
    $(date_change[i]).on("change",function(){
      
    if($(date_change[i]).val()){
      
      
      $("[data-step-4]").show();

       	  var steptwod = $("#section_k_step4_section").offset().top - parseInt(120)
          var steptwom = $("#section_k_step4_section").offset().top - parseInt(70)
          if (navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {   


           /*$('html,body').animate({
                          scrollTop: steptwom
                      }, 1000);*/
            animateTheBody(steptwom);
           // first value for left offset, second value for top offset
          }else{

            

                      /*$('html,body').animate({
                          scrollTop: steptwod
                      }, 1000);
                      */
            
            animateTheBody(steptwod);
          }
      clearInterval(refreshId);
      
    }
  
	

    });
        }
  
  },6000);
  
  function animateTheBody(a){
    
    $('html,body').animate({
    	scrollTop: a
    }, 300);
  
  }
  
$(document).ready(function(){
	setInterval(function(){

	$('.row.user_row.slick-slide.slick-current.slick-active  [name="properties[Date]"]').on("change",function(){
		var selected_date = $(this).val();
		var selected_time = $('.row.user_row.slick-slide.slick-current.slick-active  [name="properties[Time]"]').val();
		$("#SelectAppointMentDateAndTime").text(selected_date+" "+selected_time);
	});
    
      
       
       
      
      },6000);
  
  
  

});  


  
 
  $(function() {
    $( "#date" ).datepicker();
    $( "#date" ).datepicker("setDate", "10w+1");
  });
  
  $("#section_k_slider_meet_out_stylist .slick-arrow").on("click",function(){

initSlider();
	
});
  
  $("#date").on("change",function(){
var date= $(this).val();
$(".user_row.slick-active").find(".book_stylist_add_to_cart_form").find(".appointment_date").val(date);	
});

$("#time").on("change",function(){
var time= $(this).val();
$(".user_row.slick-active").find(".book_stylist_add_to_cart_form").find(".appointment_time").val(time);

	
});
  
  
  $('.book_stylist_add_to_cart_form').off("submit").on("submit",function(t) {
        t.preventDefault();
    var date= $("#date").val();

$(".user_row.slick-active").find(".book_stylist_add_to_cart_form").find(".appointment_date").val(date);

var time= $("#time").val();
$(".user_row.slick-active").find(".book_stylist_add_to_cart_form").find(".appointment_time").val(time);

    $.ajax({
            url: "/cart/add.js",
            type: "post",
            data: $(this).find("input[type='text'],select,input[type='number'],input[type='hidden']"),
            dataType: "json",
          
           success: function(t) {
                  if(window.addToCartButtonRedirectSetting == "1"){
                    window.location.href = "/cart";
                  }
                  else if(window.addToCartButtonRedirectSetting == "2"){

                    window.location.href = "/checkout";

                  }
                  else if(window.addToCartButtonRedirectSetting == "3"){

                    $.getJSON("/cart.js", function(t) {
                      updateAllKarts(t.item_count)
                    }), showKart()

                  } else{

                    $.getJSON("/cart.js", function(t) {
                      updateAllKarts(t.item_count)
                  }), showKart()
                     
                  } 
            },
            error: function(t, e, a) {
                alert(t.responseText)
            }
        })
    });
  
  
  $("body #book_stylist_add_to_cart_form_button").off("click").on("click",function(event){
    
    var date= $("#date").val();
	var time= $("#time").val();
    if(time == 0 && date == 0){
      	$(".error").show();
    }
    else if(time == 0 && date !== 0){
      	$(".time_error").show();
      	$(".date_error").hide();
    }
    else if(!time == 0 && date == 0){
      	$(".date_error").show();
      	$(".time_error").hide();
    }else{
    	
    	$(".user_row.slick-active").find(".book_stylist_add_to_cart_form").find(".appointment_date").val(date);
    	$(".user_row.slick-active").find(".book_stylist_add_to_cart_form").find(".appointment_time").val(time);
    	$(".user_row.slick-active").find(".book_stylist_add_to_cart_form").submit();
    }

});
  
  	$(".package_box.standard").on("click",function(){
      
      $(".standard_step2, .show_standard").show();
      $(".vip_step2, .show_vip").hide();
      
    });
  	
  	$(".package_box.vip").on("click",function(){
      
      $(".standard_step2, .show_standard").hide();
      $(".vip_step2, .show_vip").show();
      
    });
  
  	$(".inner_package_div").on("click",function(){
      
      
      
      
    if($(this).hasClass("active")){
      
    }else{
      $(".inner_package_div").removeClass("active");
      $(this).addClass("active");
    }
      
    if($(this).hasClass("not_active")){
      
      $(this).parent().addClass("not_active");
      $(this).parent().siblings().removeClass("not_active");
    }else{
     
      $(this).parent().removeClass("not_active");
      $(this).parent().siblings().addClass("not_active");
    }
     
      $("[data-step-2]").show();
      
      var steptwod = $("#shopify-section-step2_section").offset().top - parseInt(100)
      var steptwom = $("#shopify-section-step2_section").offset().top - parseInt(70)
      if (navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {           
             
       $('html,body').animate({
                      scrollTop: steptwom
                  });
       // first value for left offset, second value for top offset
      }else{
                  $('html,body').animate({
                      scrollTop: steptwod
                  });
      }
      
      
      
      
      initSlider();
  });
  
 /* 
  $("body button.sesami__modal-btn.sesami__modal-btn--primary").on("click",function(){
    
      $("[data-step-4]").show();
    	var steptwod = $("#shopify-section-step4_section").offset().top - parseInt(120)
      var steptwom = $("#shopify-section-step4_section").offset().top - parseInt(70)
      if (navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {           
             
       $('html,body').animate({
                      scrollTop: steptwom
                  });
       // first value for left offset, second value for top offset
      }else{
                  $('html,body').animate({
                      scrollTop: steptwod
                  });
      }

});
*/
  
  

  
  
  
  
  
  
  $("#i_undershand").on("change",function(){
    
     
    
	if($(this).is(":checked") == true){
		$("#i_undershand_button").hide();
		$("[data-step-3]").show();
      	var steptwod = $("#shopify-section-step3_section").offset().top - parseInt(100)
      var steptwom = $("#shopify-section-step3_section").offset().top - parseInt(70)
      if (navigator.userAgent.match(/(iPod|iPhone|iPad|Android)/)) {           
             
       $('html,body').animate({
                      scrollTop: steptwom
                  });
       
      }else{
                  $('html,body').animate({
                      scrollTop: steptwod
                  });
      }
      	
      

	}
    

    
    
    initSlider();
    
});

	$("p").each(function () {

		if ($.trim($(this).html()).length == 0) {
			$(this).remove();
		}

	});
  
  

	$(".radio_select").click(function () {
		var stylist = $(this).attr('data-radio_select');
		$(":radio[value='" + stylist + "']").click();
	});

	if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
		$(".SliderLeftImage .content-details, .SliderLeftImage .content-details").css("display", "none");
		$(".SliderLeftImage").click(function () {
			$(".SliderLeftImage .content-details, .SliderLeftImage .content-details").css("display", "flex");
		});
		$(document).mouseup(function (e) {
			var container = $(".SliderLeftImage");

			// if the target of the click isn't the container nor a descendant of the container
			if (!container.is(e.target) && container.has(e.target).length === 0) {
				$(".SliderLeftImage .content-details, .SliderLeftImage .content-details").css("display", "none");
			}
		});
	}

  
  	
    $("#section_k_slider_meet_out_stylist").slick({
        dots: false,
        infinite: true,
        speed: 300,
        autoplay: false,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        nextArrow: '<button type="button" class="slick-next"><i class="fa fa-angle-right"></i></button>',
        prevArrow: '<button type="button" class="slick-prev"><i class="fa fa-angle-left"></i></button>',
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
              }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
             }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
              }
          }

        ]
    });
  	
  initSlider();
		

});
  
  function initSlider(){
    
    $("#section_k_slider_meet_out_stylist .slick-next.slick-arrow").one().trigger("click");
	$("#section_k_slider_meet_out_stylist .slick-prev.slick-arrow").one().trigger("click");
    
    setTimeout(function(){
	if($(".inner_package_div.active").length > 0){
	var package  =  $(".inner_package_div.active").attr("data-package");
      $("option").removeAttr("selected");
      $(".user_row.slick-active").find(".book_stylist_add_to_cart_form").find("[name='id']").find("[data-title='"+package+"']").attr("selected","selected");
      
	
}
},1500);
  }
  
  
  setInterval(function(){
    
	if($(".inner_package_div.active").length > 0){
      
		var package  =  $(".inner_package_div.active").attr("data-package");
      	$("option").removeAttr("selected");
      	$(".user_row").find(".book_stylist_add_to_cart_form").find("[name='id']").find("[data-title='"+package+"']").attr("selected","selected");
      
    }
    
  },600);
  
   $("#section_k_content_right_image_left_desktop .btn.btn--cta.cpsgts").on("click",function(){

        $('html, body').animate({
                scrollTop: $("#shopify-section-step1_section").offset().top - parseInt(120)
            });
      });
  
	$("#section_k_content_right_image_left_mobile .btn.btn--cta.cpsgts").click(function(){


$(this).parent().find('p').removeClass("show_on_btn");

$(this).parent().find('p').removeClass("desktop");

$(this).hide();


});
    
$("#section_k_content_right_image_left_mobile .btn.btn--cta.cpsgts").click(function(){

$("#section_k_content_right_image_left_mobile").addClass("show_image");
  
$(this).parent().find('p').removeClass("show_on_btn");

$(this).parent().find('p').removeClass("desktop");

$(this).hide();


});
  
// function checkPopup() {
//   if($('.mfp-bg').is(':visible')){
//     $("body, html").css("overflow","hidden");
      
//   }else{
//       $("body, html").css("overflow","unset");
//     }
  
// }

// $(document).ready(function() {

//   setInterval(checkPopup, 1000);
// }); 
  


</script>